<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>576101925240-j0c2rigg6dleo08877nkdifb8jnp521b.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.576101925240-j0c2rigg6dleo08877nkdifb8jnp521b</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>576101925240-d6agd48ikogqupbr50m9c55q60vldrn1.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAAf4TaMr0iF0SNAx5B0lvRdi_bQ7Nef8o</string>
	<key>GCM_SENDER_ID</key>
	<string>576101925240</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.agbdeliveries</string>
	<key>PROJECT_ID</key>
	<string>agb-deliveries</string>
	<key>STORAGE_BUCKET</key>
	<string>agb-deliveries.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:576101925240:ios:56b28000d5f4855d70088d</string>
</dict>
</plist>
