<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>834916368037-e7p3ss9vhg6oti3djp0q8k5oim5b7iuf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.834916368037-e7p3ss9vhg6oti3djp0q8k5oim5b7iuf</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>834916368037-r214s8tivdgvpcjc8p9jhfdads1rp21a.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDyIou91ukomRPaalHVjfHUqPVEnFg7Rko</string>
	<key>GCM_SENDER_ID</key>
	<string>834916368037</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.app.gomeat</string>
	<key>PROJECT_ID</key>
	<string>gomeat-8a0a3</string>
	<key>STORAGE_BUCKET</key>
	<string>gomeat-8a0a3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:834916368037:ios:2709f57be14304cded174c</string>
</dict>
</plist>