<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>449266375568-u2psb7gsplh5cj1ca6pkf6lsn3hbt2f5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.449266375568-u2psb7gsplh5cj1ca6pkf6lsn3hbt2f5</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>449266375568-bqj82v0t8fakg1lgjemef495l1acr5lt.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAsuX1zrz_iWSJhDNHBlcxXSR_pRDG6yu8</string>
	<key>GCM_SENDER_ID</key>
	<string>449266375568</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.solace.royoorders</string>
	<key>PROJECT_ID</key>
	<string>solace-be079</string>
	<key>STORAGE_BUCKET</key>
	<string>solace-be079.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:449266375568:ios:65a02e64a649a351697115</string>
</dict>
</plist>