<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>830133908917-8rmrljs5pj87m9j9ndgkdsulcjsii9bp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.830133908917-8rmrljs5pj87m9j9ndgkdsulcjsii9bp</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>830133908917-252tt709k43k3u3m999ldi9cbj5unk7m.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyA-ArcAeUBoZvidX2e6KgxuS4ESjwYSUis</string>
	<key>GCM_SENDER_ID</key>
	<string>830133908917</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ragiomigo.royoorders</string>
	<key>PROJECT_ID</key>
	<string>ragiomigo</string>
	<key>STORAGE_BUCKET</key>
	<string>ragiomigo.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:830133908917:ios:510066b8c4e112a3d015fc</string>
</dict>
</plist>