<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>695865800977-q85gg2q6cv412q0ekq6svl2p6fkd2rpa.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.695865800977-q85gg2q6cv412q0ekq6svl2p6fkd2rpa</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>695865800977-4ge0dlj0d3oscoffrpgbm561h45ojllj.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAQ-tYLDIIaCzDgT96nE0N2yUd-TXDeMdM</string>
	<key>GCM_SENDER_ID</key>
	<string>695865800977</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.grn</string>
	<key>PROJECT_ID</key>
	<string>grn-app</string>
	<key>STORAGE_BUCKET</key>
	<string>grn-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:695865800977:ios:ae9f628425f1c5fbbd34b0</string>
</dict>
</plist>