<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>234577435393-551n8k616fu48g0av21c8lrndf7mlo1g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.234577435393-551n8k616fu48g0av21c8lrndf7mlo1g</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>234577435393-9frqhbd9n5jgi8rsnrt7voa12l02rsgl.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyC5p0Z8DXpor6LrPHqPukO3p5RtnSuvXXc</string>
	<key>GCM_SENDER_ID</key>
	<string>234577435393</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.customer.snabbhem</string>
	<key>PROJECT_ID</key>
	<string>snabbhem-ce1de</string>
	<key>STORAGE_BUCKET</key>
	<string>snabbhem-ce1de.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:234577435393:ios:b01a6dfcf6ccee210a5900</string>
</dict>
</plist>