#include "Pods/Target Support Files/Pods-available_pods-Snabbhem/Pods-available_pods-Snabbhem.debug.xcconfig"

PROJECT_APPLE_ID = 1598097623
PROJECT_BUNDLE_ID = com.snabbhem
PROJECT_APP_VERSION = 1.1
PROJECT_BUILD_NUMBER = 1
PROJECT_APP_NAME = Snabbhem
PROJECT_GOOGLE_CLIENT_ID = 201647064711-r4rn10a4soankmrjb4jgnj9qcpsql021.apps.googleusercontent.com
PROJECT_GOOGLE_REVERSE_CLIENT_ID = com.googleusercontent.apps.201647064711-r4rn10a4soankmrjb4jgnj9qcpsql021
PROJECT_FACEBOOK_ID = 262177182077099
PROJECT_TWITTER_ID = twitterkit-R66DHARfuoYAPowApUxNxwbPi
PROJECT_PLIST = SnabbhemInfo
PROJECT_GOOGLE_PLACE_KEY = AIzaSyB85kLYYOmuAhBUPd7odVmL6gnQsSGWU-4
