<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>583669388232-17s8thv560cokfdrsos0egr9nt67minj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.583669388232-17s8thv560cokfdrsos0egr9nt67minj</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>583669388232-1oiki49qlul2mv70dgdb50s4eeiv94v9.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyC9hrOo85VrzbJwGN5-Wj4WFlTkt6zZXAY</string>
	<key>GCM_SENDER_ID</key>
	<string>583669388232</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.menus.customer</string>
	<key>PROJECT_ID</key>
	<string>menus-157e2</string>
	<key>STORAGE_BUCKET</key>
	<string>menus-157e2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:583669388232:ios:66ac1ae6d656da7464e6fd</string>
</dict>
</plist>