<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>673566394556-k3ema4oppapq2sp78ov1s4apth4p3u20.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.673566394556-k3ema4oppapq2sp78ov1s4apth4p3u20</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>673566394556-h0h2r5tqbghaimvj9s9t3i8aa4l84haa.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCAGmtJ1FJCZp4tAZm8KGlXvTaF2xp6iJg</string>
	<key>GCM_SENDER_ID</key>
	<string>673566394556</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.menusvirtual</string>
	<key>PROJECT_ID</key>
	<string>menus-8b485</string>
	<key>STORAGE_BUCKET</key>
	<string>menus-8b485.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:673566394556:ios:45282843972635d66968b9</string>
</dict>
</plist>