<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>101001301113-a13jc7bvgih673teegkvfpt5ut8sqf6q.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.101001301113-a13jc7bvgih673teegkvfpt5ut8sqf6q</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>101001301113-1f6mjjpnhtm3upduomj1dvej3ns8ph5j.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBQWS5crvIATQI3pzIkm9jk672Kk7q36oo</string>
	<key>GCM_SENDER_ID</key>
	<string>101001301113</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nuvoni.orders</string>
	<key>PROJECT_ID</key>
	<string>nuvoni-dc711</string>
	<key>STORAGE_BUCKET</key>
	<string>nuvoni-dc711.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:101001301113:ios:0cf02e3a45e28852b818a8</string>
</dict>
</plist>