<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>495561351924-8hfvrsqoiqfmsjb6j6hlrt2ndp021f7t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.495561351924-8hfvrsqoiqfmsjb6j6hlrt2ndp021f7t</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>495561351924-662c51f9biqc3nnqosvoonpc0lv22cve.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDFyIz1WXhnu0Uwg6FzYVwUxdsBL7pi3iE</string>
	<key>GCM_SENDER_ID</key>
	<string>495561351924</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.swatiRX</string>
	<key>PROJECT_ID</key>
	<string>swati-rx</string>
	<key>STORAGE_BUCKET</key>
	<string>swati-rx.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:495561351924:ios:987cb6e7042a6e891a34a1</string>
</dict>
</plist>