#include "Pods/Target Support Files/Pods-available_pods-SwatiRX/Pods-available_pods-SwatiRX.Release.xcconfig"

PROJECT_APPLE_ID = 1623371118
PROJECT_BUNDLE_ID = com.swatiRX
PROJECT_APP_VERSION = 1.0
PROJECT_BUILD_NUMBER = 1
PROJECT_APP_NAME = Swati RX
PROJECT_GOOGLE_CLIENT_ID = 495561351924-8hfvrsqoiqfmsjb6j6hlrt2ndp021f7t.apps.googleusercontent.com
PROJECT_GOOGLE_REVERSE_CLIENT_ID = com.googleusercontent.apps.495561351924-8hfvrsqoiqfmsjb6j6hlrt2ndp021f7t
PROJECT_FACEBOOK_ID = 666704537746302
PROJECT_TWITTER_ID = twitterkit-R66DHARfuoYAPowApUxNxwbPi
PROJECT_PLIST =SwatiRXInfo
PROJECT_GOOGLE_PLACE_KEY = AIzaSyB85kLYYOmuAhBUPd7odVmL6gnQsSGWU-4

