<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>976672998869-a9mrlcqgiefir646qc72dr5gm8c856j4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.976672998869-a9mrlcqgiefir646qc72dr5gm8c856j4</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>976672998869-89791rekd5uo98gsr5mkd4nvnjma2jri.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCbXy64xmaIUN5BQ03nQ9mzRVi26CS1jJY</string>
	<key>GCM_SENDER_ID</key>
	<string>976672998869</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.whatchaGotPickUp</string>
	<key>PROJECT_ID</key>
	<string>whatchagotpickup</string>
	<key>STORAGE_BUCKET</key>
	<string>whatchagotpickup.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:976672998869:ios:b53c52ff7ab9ac1669a95c</string>
</dict>
</plist>