#include "Pods/Target Support Files/Pods-available_pods-WhatchaGotPickUp/Pods-available_pods-WhatchaGotPickUp.release.xcconfig"
PROJECT_APPLE_ID = 1668984867
PROJECT_BUNDLE_ID = com.whatchaGotPickUp
PROJECT_APP_VERSION = 1.0
PROJECT_BUILD_NUMBER = 1
PROJECT_APP_NAME = WhatchaGot Pick Up
PROJECT_GOOGLE_CLIENT_ID =976672998869-a9mrlcqgiefir646qc72dr5gm8c856j4.apps.googleusercontent.com
PROJECT_GOOGLE_REVERSE_CLIENT_ID =com.googleusercontent.apps.976672998869-a9mrlcqgiefir646qc72dr5gm8c856j4
PROJECT_FACEBOOK_ID = 1179831242652902
PROJECT_TWITTER_ID = twitterkit-R66DHARfuoYAPowApUxNxwbPi
PROJECT_PLIST =WhatchaGotPickUpInfo
PROJECT_GOOGLE_PLACE_KEY = AIzaSyB85kLYYOmuAhBUPd7odVmL6gnQsSGWU-4
