<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>756552139091-3stgd8khmtsek00oj4pbf860avvho7g1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.756552139091-3stgd8khmtsek00oj4pbf860avvho7g1</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>756552139091-4l2dn23qkqi80p0srlv0p3nl1is489iv.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCAlNMtardFf6etZv8nGRzYU0s7JoxelBw</string>
	<key>GCM_SENDER_ID</key>
	<string>756552139091</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.getItSent.order</string>
	<key>PROJECT_ID</key>
	<string>getitsent-e34c8</string>
	<key>STORAGE_BUCKET</key>
	<string>getitsent-e34c8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:756552139091:ios:9c01a926a615e1e16921a6</string>
</dict>
</plist>