<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1029808003786-m196p220opvacqt39u6v5s6aca3cmcqj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1029808003786-m196p220opvacqt39u6v5s6aca3cmcqj</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1029808003786-10fls2bkpi1fg7g69mr9eb5s3u389nfg.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBZ_jcA2r7_ybG-g1aCnR0MHCwt1tef9CA</string>
	<key>GCM_SENDER_ID</key>
	<string>1029808003786</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.reedas.order</string>
	<key>PROJECT_ID</key>
	<string>reedas-order</string>
	<key>STORAGE_BUCKET</key>
	<string>reedas-order.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1029808003786:ios:458adc759070fcfde4f233</string>
</dict>
</plist>