<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>75935043569-vqh2nc269ugup69tcjellmg7o2t3sjg1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.75935043569-vqh2nc269ugup69tcjellmg7o2t3sjg1</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>75935043569-2s9fcc229vm7qr71grjll88m8ghtott2.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBF9LcgjFkulrMyaR5zQ6AORtBffdlxxJY</string>
	<key>GCM_SENDER_ID</key>
	<string>75935043569</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.app.kurs</string>
	<key>PROJECT_ID</key>
	<string>kurs-26ec2</string>
	<key>STORAGE_BUCKET</key>
	<string>kurs-26ec2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:75935043569:ios:d417b1472d089d83177e50</string>
</dict>
</plist>