<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>996978882210-5ifno52dajbs0pqdo59j8skqp6mpt6m4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.996978882210-5ifno52dajbs0pqdo59j8skqp6mpt6m4</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>996978882210-3l5s2fm6tvf4tf4iithvgvgb8f4098jj.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyC82gas1Au3SyDSREU7qpDxkJUxklNP5hE</string>
	<key>GCM_SENDER_ID</key>
	<string>996978882210</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.cannabisClubSF</string>
	<key>PROJECT_ID</key>
	<string>cannabis-club-sf</string>
	<key>STORAGE_BUCKET</key>
	<string>cannabis-club-sf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:996978882210:ios:243335765a652d863189fb</string>
</dict>
</plist>