#include "Pods/Target Support Files/Pods-MartiniOnWheels/Pods-MartiniOnWheels.debug.xcconfig"


PROJECT_APPLE_ID = 1578453831
PROJECT_BUNDLE_ID = com.martinionwheels
PROJECT_APP_VERSION = 1.0
PROJECT_BUILD_NUMBER = 3
PROJECT_APP_NAME = Martini On Wheels
PROJECT_GOOGLE_CLIENT_ID = 722776648428-eq94u4puv2pavakiqo8uldtfoe25uhbj.apps.googleusercontent.com
PROJECT_GOOGLE_REVERSE_CLIENT_ID = com.googleusercontent.apps.722776648428-eq94u4puv2pavakiqo8uldtfoe25uhbj
PROJECT_FACEBOOK_ID = 170941418241602
PROJECT_TWITTER_ID = twitterkit-R66DHARfuoYAPowApUxNxwbPi
PROJECT_PLIST = MartiniOnWheelsInfo
PROJECT_GOOGLE_PLACE_KEY = AIzaSyB85kLYYOmuAhBUPd7odVmL6gnQsSGWU-4
