<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>849310702710-n2i1tu5cgtf829drclcu8f4cv85ohmht.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.849310702710-n2i1tu5cgtf829drclcu8f4cv85ohmht</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>849310702710-4h6auqehdek0b8map3k1mfg8ms6bcuas.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDLVsIPXvyAqAf5E2qJAQuhfwCAwpySAH4</string>
	<key>GCM_SENDER_ID</key>
	<string>849310702710</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bharatMove</string>
	<key>PROJECT_ID</key>
	<string>bharatmove-e1df7</string>
	<key>STORAGE_BUCKET</key>
	<string>bharatmove-e1df7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:849310702710:ios:b2070bbf40ca7773a79357</string>
</dict>
</plist>