<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>306724498354-u4khmb1o3horpm8q1dsnudchaf4cnj4a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.306724498354-u4khmb1o3horpm8q1dsnudchaf4cnj4a</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>306724498354-4up1c8fjdp5ulpfu1j6caf28rmesnte2.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAUuxblw5By7-SKQ27Uy309Sn3mNLNGb7c</string>
	<key>GCM_SENDER_ID</key>
	<string>306724498354</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.careworks</string>
	<key>PROJECT_ID</key>
	<string>careworks-4424b</string>
	<key>STORAGE_BUCKET</key>
	<string>careworks-4424b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:306724498354:ios:c434eec254a684f263d2ab</string>
</dict>
</plist>