<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>668396276235-r90l2lbda6ir2oo4hkbucu56jj18hqje.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.668396276235-r90l2lbda6ir2oo4hkbucu56jj18hqje</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>668396276235-148l29i6isita40g378095ifm2q4m1nt.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAqWvdMeitN0B3HJ-Fg9lqzkJWKedlbq7M</string>
	<key>GCM_SENDER_ID</key>
	<string>668396276235</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.markita</string>
	<key>PROJECT_ID</key>
	<string>markita-64d33</string>
	<key>STORAGE_BUCKET</key>
	<string>markita-64d33.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:668396276235:ios:da94187f8ef9938e00d50e</string>
</dict>
</plist>