#include "Pods/Target Support Files/Pods-available_pods-PeerPulse/Pods-available_pods-PeerPulse.debug.xcconfig"
PROJECT_APPLE_ID = 6470985179
PROJECT_BUNDLE_ID = com.peerPulse.royoorder
PROJECT_APP_VERSION = 1.0
PROJECT_BUILD_NUMBER = 2
PROJECT_APP_NAME = PeerPulse
PROJECT_GOOGLE_CLIENT_ID =659344662539-6lrdtafk08licbojs8v66j1koqjft8rp.apps.googleusercontent.com
PROJECT_GOOGLE_REVERSE_CLIENT_ID = com.googleusercontent.apps.659344662539-6lrdtafk08licbojs8v66j1koqjft8rp
PROJECT_FACEBOOK_ID = 219279413957755
PROJECT_TWITTER_ID = twitterkit-R66DHARfuoYAPowApUxNxwbPi
PROJECT_PLIST = PeerPulseInfo
PROJECT_GOOGLE_PLACE_KEY = AIzaSyB85kLYYOmuAhBUPd7odVmL6gnQsSGWU-4
