<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>796616879903-b2nvelvgh6c85rmgbiu23d9bob8vvbef.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.796616879903-b2nvelvgh6c85rmgbiu23d9bob8vvbef</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>796616879903-nonjnqlbaib73e49kfqf2jeknp6tjes3.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDhwbmvnSAxYD_yNB2ao2W9_VxgZLq1Rk8</string>
	<key>GCM_SENDER_ID</key>
	<string>796616879903</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.americanLuxury.order</string>
	<key>PROJECT_ID</key>
	<string>americanluxury-dad64</string>
	<key>STORAGE_BUCKET</key>
	<string>americanluxury-dad64.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:796616879903:ios:ef263d24ea3c02d18dca2a</string>
</dict>
</plist>