<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1020424477940-m6m3c3jevl8p729ebr14pbcioomhiaaf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1020424477940-m6m3c3jevl8p729ebr14pbcioomhiaaf</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1020424477940-725q57utvddoplgrdc8hf0mfnb2hsfeu.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBgn9fpNgdnWJCPtqw5c6PZqoA6sBO0DEI</string>
	<key>GCM_SENDER_ID</key>
	<string>1020424477940</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.zonesso.royoorders</string>
	<key>PROJECT_ID</key>
	<string>zonesso-order</string>
	<key>STORAGE_BUCKET</key>
	<string>zonesso-order.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1020424477940:ios:2adfe1a5b46e9a9280d2a1</string>
</dict>
</plist>