<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>301009508805-1at1bep94e4jc65vhscmi5k02etd9tb1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.301009508805-1at1bep94e4jc65vhscmi5k02etd9tb1</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>301009508805-io0rreb0rubd45ee9sqtgaksp4s3c1v5.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDbnAOhwH6enrzRJU9jujkLaxigNQNa6gU</string>
	<key>GCM_SENDER_ID</key>
	<string>301009508805</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.app.everywhere</string>
	<key>PROJECT_ID</key>
	<string>everywhere-dd239</string>
	<key>STORAGE_BUCKET</key>
	<string>everywhere-dd239.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:301009508805:ios:f4137f31fceeb7c67f13ac</string>
</dict>
</plist>