<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>164395537260-cu7uk0uahc27rb2lpbb42voqmrnc8e3e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.164395537260-cu7uk0uahc27rb2lpbb42voqmrnc8e3e</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>164395537260-fonevttd3591ijlpud88uuq3o5q3327m.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyD5rlm40OyPjvGKpUJ-96J5vHvtttr9sRU</string>
	<key>GCM_SENDER_ID</key>
	<string>164395537260</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.myfarma</string>
	<key>PROJECT_ID</key>
	<string>myfarma-c62f3</string>
	<key>STORAGE_BUCKET</key>
	<string>myfarma-c62f3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:164395537260:ios:0340abc604b0ada5c91949</string>
</dict>
</plist>