<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>362019903952-dkohamgbclrdp8anpm72ei69d9inlhmd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.362019903952-dkohamgbclrdp8anpm72ei69d9inlhmd</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>362019903952-bndc53k0cnchumaed4sfkecs3v46n15r.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDE3NSPT6gxjFvwIWXpy-Bb2Z-gH18p7XA</string>
	<key>GCM_SENDER_ID</key>
	<string>362019903952</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.meow.order</string>
	<key>PROJECT_ID</key>
	<string>meow-58782</string>
	<key>STORAGE_BUCKET</key>
	<string>meow-58782.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:362019903952:ios:6bc315e39fc7e89ece81d5</string>
</dict>
</plist>