<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>463888251709-ia3hatd59c34m7q9nsjin410bsa47rpc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.463888251709-ia3hatd59c34m7q9nsjin410bsa47rpc</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>463888251709-4toop66danf562e97s7jues273ias4qi.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAafaRuNEirl3w-zzgss2ge3A_y7WpTvMY</string>
	<key>GCM_SENDER_ID</key>
	<string>463888251709</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.yallaEat.order</string>
	<key>PROJECT_ID</key>
	<string>yallaeat-d4a20</string>
	<key>STORAGE_BUCKET</key>
	<string>yallaeat-d4a20.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:463888251709:ios:92bf1344c7063c7a1aa354</string>
</dict>
</plist>