<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>198484936940-gkqhft1puq7ki4kjupc4qj7t1ikt5118.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.198484936940-gkqhft1puq7ki4kjupc4qj7t1ikt5118</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>198484936940-dfneobgv0qonifebsra63qpb7cv67795.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCJkeT2S-PSmvnMVDPHsCJqpn5dKemTxcI</string>
	<key>GCM_SENDER_ID</key>
	<string>198484936940</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.glamguide.royoorders</string>
	<key>PROJECT_ID</key>
	<string>glamguide-25f35</string>
	<key>STORAGE_BUCKET</key>
	<string>glamguide-25f35.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:198484936940:ios:acd3c6044a0cc855df7dc9</string>
</dict>
</plist>