<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>427149661921-6ohloqiib2etssnel14tk6hkqfmr9329.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.427149661921-6ohloqiib2etssnel14tk6hkqfmr9329</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>427149661921-901ipsf9gf37e1bbkn1h56dvf69qn41v.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyApanvx17995L4PCqG5XqaEmXfaAEGZDBE</string>
	<key>GCM_SENDER_ID</key>
	<string>427149661921</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mealsarehere.royoorders</string>
	<key>PROJECT_ID</key>
	<string>mealsarehere-7eea0</string>
	<key>STORAGE_BUCKET</key>
	<string>mealsarehere-7eea0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:427149661921:ios:caa1a414e5be561bba09a0</string>
</dict>
</plist>