<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>342729040014-5s859bdt8rtplp42b23bu50k0e58rjt1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.342729040014-5s859bdt8rtplp42b23bu50k0e58rjt1</string>
	<key>API_KEY</key>
	<string>AIzaSyBoO81ArqEPq2QuILhTjobtczucsyG_bK8</string>
	<key>GCM_SENDER_ID</key>
	<string>342729040014</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.app.zestyclickz</string>
	<key>PROJECT_ID</key>
	<string>zestyclickz-1439b</string>
	<key>STORAGE_BUCKET</key>
	<string>zestyclickz-1439b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:342729040014:ios:1e490dcd517340767569df</string>
</dict>
</plist>