#include "Pods/Target Support Files/Pods-available_pods-ZestyClickz/Pods-available_pods-ZestyClickz.release.xcconfig"

PROJECT_APPLE_ID =1617256229
PROJECT_BUNDLE_ID = com.app.zestyclickz
PROJECT_APP_VERSION = 1.3
PROJECT_BUILD_NUMBER = 1
PROJECT_APP_NAME = Veg-Hub
PROJECT_GOOGLE_CLIENT_ID =342729040014-5s859bdt8rtplp42b23bu50k0e58rjt1.apps.googleusercontent.com
PROJECT_GOOGLE_REVERSE_CLIENT_ID = com.googleusercontent.apps.342729040014-5s859bdt8rtplp42b23bu50k0e58rjt1
PROJECT_FACEBOOK_ID =146808944318977
PROJECT_TWITTER_ID = twitterkit-R66DHARfuoYAPowApUxNxwbPi
PROJECT_PLIST =ZestyClickzInfo
PROJECT_GOOGLE_PLACE_KEY = AIzaSyB85kLYYOmuAhBUPd7odVmL6gnQsSGWU-4
CODE_PUSH_KEY = BQnWBS-K1COhh7w6yGRCB6MqsQ3AVKEEetS7y
