<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>472472271963-a9g846hmc9men339374gi6g6jgt0be30.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.472472271963-a9g846hmc9men339374gi6g6jgt0be30</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>472472271963-2ilv0ovh23d00bfthhagvn0tn8jp2iac.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBxaMPYiuNO9kpHFExKbhR1i-ukcFkWv5Q</string>
	<key>GCM_SENDER_ID</key>
	<string>472472271963</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nrsa</string>
	<key>PROJECT_ID</key>
	<string>nrsa-54986</string>
	<key>STORAGE_BUCKET</key>
	<string>nrsa-54986.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:472472271963:ios:9cce982e1f22a04758937e</string>
</dict>
</plist>