<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>180042591829-dfkf1l86tc7s5j8gp7a7it6dgpgfqmeg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.180042591829-dfkf1l86tc7s5j8gp7a7it6dgpgfqmeg</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>180042591829-c333cr5pksb9dp8ltpkjsbor14hi7u9m.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBq4bRNEWwUwC77SLoPEKjfFPUEw0Doxvc</string>
	<key>GCM_SENDER_ID</key>
	<string>180042591829</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mrHealth</string>
	<key>PROJECT_ID</key>
	<string>mrhealth-463eb</string>
	<key>STORAGE_BUCKET</key>
	<string>mrhealth-463eb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:180042591829:ios:697bf6e7ae5bf024c6eedc</string>
</dict>
</plist>