<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>308578824333-s6rj3qep58s5u3o2glnlc1na449ue30t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.308578824333-s6rj3qep58s5u3o2glnlc1na449ue30t</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>308578824333-702l22kg50kq5lrdvlbj0gn6jd1kg22h.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyB5adhVrvpCnyphVqVWzJPZJqoLX1Drr5U</string>
	<key>GCM_SENDER_ID</key>
	<string>308578824333</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.quickquick</string>
	<key>PROJECT_ID</key>
	<string>quick-quick-a3f5c</string>
	<key>STORAGE_BUCKET</key>
	<string>quick-quick-a3f5c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:308578824333:ios:ce6b958025d369ea3972c4</string>
</dict>
</plist>