#include "Pods/Target Support Files/Pods-BotsEats/Pods-BotsEats.release.xcconfig"

PROJECT_APPLE_ID =1594353692
PROJECT_BUNDLE_ID =com.botseats
PROJECT_APP_VERSION = 1.0
PROJECT_BUILD_NUMBER = 1
PROJECT_APP_NAME =BotsEats
PROJECT_GOOGLE_CLIENT_ID =523287461476-g2mifbblbopumv12htri0s6i0md0pj4t.apps.googleusercontent.com
PROJECT_GOOGLE_REVERSE_CLIENT_ID =com.googleusercontent.apps.523287461476-g2mifbblbopumv12htri0s6i0md0pj4t
PROJECT_FACEBOOK_ID =226391682785134
PROJECT_TWITTER_ID = twitterkit-R66DHARfuoYAPowApUxNxwbPi
PROJECT_PLIST =BotsEatsInfo
PROJECT_GOOGLE_PLACE_KEY = AIzaSyB85kLYYOmuAhBUPd7odVmL6gnQsSGWU-4
