<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>943314815704-8j4ero8s92js5hhmjs11jfgu09t4qmnp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.943314815704-8j4ero8s92js5hhmjs11jfgu09t4qmnp</string>
	<key>API_KEY</key>
	<string>AIzaSyDaJ9bynLj5G3kXO7q5kYZBBlwJMKVcfKg</string>
	<key>GCM_SENDER_ID</key>
	<string>943314815704</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.timHomeServices</string>
	<key>PROJECT_ID</key>
	<string>timhomeservices-fe686</string>
	<key>STORAGE_BUCKET</key>
	<string>timhomeservices-fe686.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:943314815704:ios:e5c83c9c0cd7b30b96a5ad</string>
</dict>
</plist>