#include "Pods/Target Support Files/Pods-available_pods-TimHomeServices/Pods-available_pods-TimHomeServices.debug.xcconfig"

PROJECT_APPLE_ID = 1614201864
PROJECT_BUNDLE_ID =com.timHomeServices
PROJECT_APP_VERSION = 1.0
PROJECT_BUILD_NUMBER = 1
PROJECT_APP_NAME = TimHomeServices
PROJECT_GOOGLE_CLIENT_ID =943314815704-8j4ero8s92js5hhmjs11jfgu09t4qmnp.apps.googleusercontent.com
PROJECT_GOOGLE_REVERSE_CLIENT_ID =com.googleusercontent.apps.943314815704-8j4ero8s92js5hhmjs11jfgu09t4qmnp
PROJECT_FACEBOOK_ID = 1181681329241527
PROJECT_TWITTER_ID = twitterkit-R66DHARfuoYAPowApUxNxwbPi
PROJECT_PLIST =TimHomeServicesInfo
PROJECT_GOOGLE_PLACE_KEY = AIzaSyB85kLYYOmuAhBUPd7odVmL6gnQsSGWU-4
