<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>56930447580-ls630jccegu0i9fpp0l1usoav6gg2b36.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.56930447580-ls630jccegu0i9fpp0l1usoav6gg2b36</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>56930447580-amsinnv6fsd9gecjaomnofkf66kan1ss.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCr0vfElbdvaoXeXHn02rYPy0zGOaY9Agc</string>
	<key>GCM_SENDER_ID</key>
	<string>56930447580</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jana.royoordersapp</string>
	<key>PROJECT_ID</key>
	<string>jana-bfbdf</string>
	<key>STORAGE_BUCKET</key>
	<string>jana-bfbdf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:56930447580:ios:bcd290ee8fd0e3cbb08419</string>
</dict>
</plist>