<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>260044691077-6oskj7e2i0o8q8lpgd2fs92h20psd0ps.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.260044691077-6oskj7e2i0o8q8lpgd2fs92h20psd0ps</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>260044691077-bhfhkvn8c3k03k7gifj11ldrfbbdpbcb.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBnJhECDaNwKCQ9X3f3NDCbpqeIZ6-H0_E</string>
	<key>GCM_SENDER_ID</key>
	<string>260044691077</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.housingSubsidies.royoorders</string>
	<key>PROJECT_ID</key>
	<string>housingsubsidies-3c794</string>
	<key>STORAGE_BUCKET</key>
	<string>housingsubsidies-3c794.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:260044691077:ios:90727a8535426446277bec</string>
</dict>
</plist>