<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>787970527075-j5olimvm2s628ocf26h3t7p4q4dvta93.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.787970527075-j5olimvm2s628ocf26h3t7p4q4dvta93</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>787970527075-69588qukldt54472mqb0qbuogl0ogut0.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAasqGE9OIfcKfWXmYJcvnFuOkI_uC0QRQ</string>
	<key>GCM_SENDER_ID</key>
	<string>787970527075</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.udkay.royoorders</string>
	<key>PROJECT_ID</key>
	<string>udkay-order</string>
	<key>STORAGE_BUCKET</key>
	<string>udkay-order.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:787970527075:ios:604418ddb3bdff52be8d56</string>
</dict>
</plist>