<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>28788329693-jogs4b81ibh1mjp7ukn4usg2c5jqrhco.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.28788329693-jogs4b81ibh1mjp7ukn4usg2c5jqrhco</string>
	<key>CFBundleIdentifier</key>
	<string></string>
	<key>ANDROID_CLIENT_ID</key>
	<string>28788329693-5e9bsn94964s2ave8btoq9abl0jmo321.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAbLcqoP2tw0v80cthUkur3i4Oz5lcgvq4</string>
	<key>GCM_SENDER_ID</key>
	<string>28788329693</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.customer.onthego</string>
	<key>PROJECT_ID</key>
	<string>onthego-51a3a</string>
	<key>STORAGE_BUCKET</key>
	<string>onthego-51a3a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:28788329693:ios:187f7b31dc695b85bddf34</string>
</dict>
</plist>
