<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>224512957072-p41m9of617i0060nq01208f9lnffckr6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.224512957072-p41m9of617i0060nq01208f9lnffckr6</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>224512957072-5v2msnh1i18gbvqitkck4ruou61ob10e.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBx90Zb-R_c7zCwlgW0LBjzyV3Fml79gGk</string>
	<key>GCM_SENDER_ID</key>
	<string>224512957072</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kongafood</string>
	<key>PROJECT_ID</key>
	<string>konga-food-2497b</string>
	<key>STORAGE_BUCKET</key>
	<string>konga-food-2497b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:224512957072:ios:0e3bf9184bef2c8e5f5615</string>
</dict>
</plist>