<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>798063307599-snjahopeihupf7dv94vdcebkfe30sbst.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.798063307599-snjahopeihupf7dv94vdcebkfe30sbst</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>798063307599-4q02joic932fgv1don5vh55lbme1f7cl.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDEkVgxdfS6eZVrCoBNynBILkR8UKIWJIk</string>
	<key>GCM_SENDER_ID</key>
	<string>798063307599</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.aredoo.royoorders</string>
	<key>PROJECT_ID</key>
	<string>aredoo-f18fe</string>
	<key>STORAGE_BUCKET</key>
	<string>aredoo-f18fe.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:798063307599:ios:cf4b1aa8e72aa69256f33a</string>
</dict>
</plist>