#include "Pods/Target Support Files/Pods-Ritenow/Pods-Ritenow.debug.xcconfig"

PROJECT_APPLE_ID = 1604574987
PROJECT_BUNDLE_ID =com.app.flit
PROJECT_APP_VERSION = 1.0
PROJECT_BUILD_NUMBER = 1
PROJECT_APP_NAME = Flit
PROJECT_GOOGLE_CLIENT_ID = 688364189994-useibbkereb5falm9sj7nbrhm5bs5agg.apps.googleusercontent.com
PROJECT_GOOGLE_REVERSE_CLIENT_ID = com.googleusercontent.apps.688364189994-useibbkereb5falm9sj7nbrhm5bs5agg
PROJECT_FACEBOOK_ID = 220302646866090
PROJECT_TWITTER_ID = twitterkit-R66DHARfuoYAPowApUxNxwbPi
PROJECT_PLIST =FlitInfo
PROJECT_GOOGLE_PLACE_KEY = AIzaSyB85kLYYOmuAhBUPd7odVmL6gnQsSGWU-4
