#include "Pods/Target Support Files/Pods-available_pods-BakeSale/Pods-available_pods-BakeSale.release.xcconfig"

PROJECT_APPLE_ID =1590126409
PROJECT_BUNDLE_ID = com.bakesale
PROJECT_APP_VERSION = 1.0
PROJECT_BUILD_NUMBER = 1
PROJECT_APP_NAME = BakeSale
PROJECT_GOOGLE_CLIENT_ID =858886073825-to7h1sst99tm2ai1jje0ii4p27psmh23.apps.googleusercontent.com
PROJECT_GOOGLE_REVERSE_CLIENT_ID = com.googleusercontent.apps.858886073825-to7h1sst99tm2ai1jje0ii4p27psmh23
PROJECT_FACEBOOK_ID =277928227524758
PROJECT_TWITTER_ID = twitterkit-R66DHARfuoYAPowApUxNxwbPi
PROJECT_PLIST =BakeSaleInfo
PROJECT_GOOGLE_PLACE_KEY = AIzaSyB85kLYYOmuAhBUPd7odVmL6gnQsSGWU-4
