<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>858886073825-to7h1sst99tm2ai1jje0ii4p27psmh23.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.858886073825-to7h1sst99tm2ai1jje0ii4p27psmh23</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>858886073825-0l9denjuaofugkb2vlhud82idgrq07c4.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBU6swOYIFryhFZ-pRD2EJKaTKBpWhDTgc</string>
	<key>GCM_SENDER_ID</key>
	<string>858886073825</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bakesale</string>
	<key>PROJECT_ID</key>
	<string>bakesale-3d851</string>
	<key>STORAGE_BUCKET</key>
	<string>bakesale-3d851.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:858886073825:ios:3bf55a0c43208980dbb6a0</string>
</dict>
</plist>