<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>308053449859-n5qrc1t4mdjo16kdtmjrvvu3gp6smh1h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.308053449859-n5qrc1t4mdjo16kdtmjrvvu3gp6smh1h</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>308053449859-1fm2mj4790jcicalm0lrn2939qs412lj.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAyZ8Ni6ISeNqOg7lGEem9uSyn6KDSXwxE</string>
	<key>GCM_SENDER_ID</key>
	<string>308053449859</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.marasym</string>
	<key>PROJECT_ID</key>
	<string>marasym-42339</string>
	<key>STORAGE_BUCKET</key>
	<string>marasym-42339.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:308053449859:ios:6a38c607450348a10f4fb6</string>
</dict>
</plist>