<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>456636999389-iermeipeucpqe7voqrjdfqe7t7g0c9bd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.456636999389-iermeipeucpqe7voqrjdfqe7t7g0c9bd</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>456636999389-5lvgj68q4gjfrcnc71rf9qre7fgnffaf.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyASiE7iwOhRl7DFYYehqqSOesgZn7xtpKI</string>
	<key>GCM_SENDER_ID</key>
	<string>456636999389</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.arenagrub</string>
	<key>PROJECT_ID</key>
	<string>arena-grub</string>
	<key>STORAGE_BUCKET</key>
	<string>arena-grub.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:456636999389:ios:e4c73fd46c1cd8c7f01d34</string>
</dict>
</plist>