<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>399183450185-kd32pndnl25eia7queea2t5vqb0fghoc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.399183450185-kd32pndnl25eia7queea2t5vqb0fghoc</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>399183450185-5mvic9if370ejf3g92kfu3fkibr6gejj.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDlyXxGleCVgndcNfcNZ5mDl1pIUI4Ty9c</string>
	<key>GCM_SENDER_ID</key>
	<string>399183450185</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.messiaa.orders</string>
	<key>PROJECT_ID</key>
	<string>messiaa-order</string>
	<key>STORAGE_BUCKET</key>
	<string>messiaa-order.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:399183450185:ios:462bdbfc20c0baf090af98</string>
</dict>
</plist>