<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>694040596651-eib5uiec0in6qn3an5r5e25ajh50hlt9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.694040596651-eib5uiec0in6qn3an5r5e25ajh50hlt9</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>694040596651-888tl9q7tc8ds06fn8jp6jmdu6v10q4e.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAmcafDUgJoE8OU67iabACL9rcedDmgFr8</string>
	<key>GCM_SENDER_ID</key>
	<string>694040596651</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.yaawi</string>
	<key>PROJECT_ID</key>
	<string>yaawi-33ba3</string>
	<key>STORAGE_BUCKET</key>
	<string>yaawi-33ba3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:694040596651:ios:5fe0b5f987b114a321a7ee</string>
</dict>
</plist>