<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>795180487928-7tctapgi07cnbb8a32lhbe9d0gs667pv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.795180487928-7tctapgi07cnbb8a32lhbe9d0gs667pv</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>795180487928-0ttahskv9b5a20jjt28q1lup0o60put5.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAbfYrkckRi_iyDpTC5m34AixmVz9sdemQ</string>
	<key>GCM_SENDER_ID</key>
	<string>795180487928</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.clickService</string>
	<key>PROJECT_ID</key>
	<string>clickservice-8e193</string>
	<key>STORAGE_BUCKET</key>
	<string>clickservice-8e193.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:795180487928:ios:11031fceaf95d1f95b170d</string>
</dict>
</plist>