<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>314630832921-dbufplld847lvnfdgnnm5l4aujtonegi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.314630832921-dbufplld847lvnfdgnnm5l4aujtonegi</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>314630832921-mgda8ute8q91k1ae0ntofig0jedjqg49.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyA-PZhGmaLizg7q1Xm9_ho0MgPmL0n9__k</string>
	<key>GCM_SENDER_ID</key>
	<string>314630832921</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.cabdelivr</string>
	<key>PROJECT_ID</key>
	<string>cabdelivr</string>
	<key>STORAGE_BUCKET</key>
	<string>cabdelivr.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:314630832921:ios:04bb5587b56f5638897b88</string>
</dict>
</plist>