<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>955736338161-od003nti26ipb0alopjjcip6qjp1p16a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.955736338161-od003nti26ipb0alopjjcip6qjp1p16a</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>955736338161-3du925s3i0qpvc2mn98kmkc6gtr8086b.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCd0uJ2CcPNgLdRDN2ar3TzD-EBRYHyTIA</string>
	<key>GCM_SENDER_ID</key>
	<string>955736338161</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.laundryorders</string>
	<key>PROJECT_ID</key>
	<string>laundry-orders</string>
	<key>STORAGE_BUCKET</key>
	<string>laundry-orders.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:955736338161:ios:c4df5a40b63a2e8ea48350</string>
</dict>
</plist>