<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1037186092568-mjuf65i8mloe3svveqfjqf38qs0ovths.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1037186092568-mjuf65i8mloe3svveqfjqf38qs0ovths</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1037186092568-583i1fupt1pgvtqs4qjef76krbrpc53u.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAquxGLY5dvIGQ91kqWC5j2FPLZ_YcgGok</string>
	<key>GCM_SENDER_ID</key>
	<string>1037186092568</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.shopcentralOrder.royoorderapp</string>
	<key>PROJECT_ID</key>
	<string>shopcentral-order</string>
	<key>STORAGE_BUCKET</key>
	<string>shopcentral-order.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1037186092568:ios:fb686b2464e58294a3bd6d</string>
</dict>
</plist>