<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>810505625999-jpteuah2g8prnf5a427261s71iobikhv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.810505625999-jpteuah2g8prnf5a427261s71iobikhv</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>810505625999-e3jsi8ghq4rpui5u3rqai5p7d10kk5b1.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCbksnZiPSHxQYL0HbvispeZtXvh0yixVg</string>
	<key>GCM_SENDER_ID</key>
	<string>810505625999</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.shopcentral</string>
	<key>PROJECT_ID</key>
	<string>shop-central-f0024</string>
	<key>STORAGE_BUCKET</key>
	<string>shop-central-f0024.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:810505625999:ios:932d9f7ddb3f138577ebfa</string>
</dict>
</plist>