<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1040868302752-sqngm8tne15uh5h2vbhkl64jg66h1pq7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1040868302752-sqngm8tne15uh5h2vbhkl64jg66h1pq7</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1040868302752-3lqo101i0to22otiogiat3rstqvrfvu1.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCI3mSPWyv_qUmY59dhK713paJ5KGzfvWU</string>
	<key>GCM_SENDER_ID</key>
	<string>1040868302752</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.etaim.royoorder</string>
	<key>PROJECT_ID</key>
	<string>etaim-order</string>
	<key>STORAGE_BUCKET</key>
	<string>etaim-order.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1040868302752:ios:221777a29977acfe534ec5</string>
</dict>
</plist>