#include "Pods/Target Support Files/Pods-available_pods-BaggageTaxi/Pods-available_pods-BaggageTaxi.debug.xcconfig"

PROJECT_APPLE_ID = 1637613678
PROJECT_BUNDLE_ID =com.baggageTaxi.order
PROJECT_APP_VERSION = 1.0
PROJECT_BUILD_NUMBER = 1
PROJECT_APP_NAME =Baggage Taxi
PROJECT_GOOGLE_CLIENT_ID =333549403066-o5lohto184c4a45h6d03okjc7b0mg6mv.apps.googleusercontent.com
PROJECT_GOOGLE_REVERSE_CLIENT_ID =com.googleusercontent.apps.333549403066-o5lohto184c4a45h6d03okjc7b0mg6mv
PROJECT_FACEBOOK_ID = 444809494030788
PROJECT_TWITTER_ID = twitterkit-R66DHARfuoYAPowApUxNxwbPi
PROJECT_PLIST =BaggageTaxiInfo
PROJECT_GOOGLE_PLACE_KEY = AIzaSyB85kLYYOmuAhBUPd7odVmL6gnQsSGWU-4
