<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>333549403066-o5lohto184c4a45h6d03okjc7b0mg6mv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.333549403066-o5lohto184c4a45h6d03okjc7b0mg6mv</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>333549403066-810l3ts3j9mdc754vv6ru3kj37ao82dv.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCGhYWsBmHGt6_oyi5--zWfleZpxHo2rKA</string>
	<key>GCM_SENDER_ID</key>
	<string>333549403066</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.baggageTaxi.order</string>
	<key>PROJECT_ID</key>
	<string>baggagetaxi</string>
	<key>STORAGE_BUCKET</key>
	<string>baggagetaxi.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:333549403066:ios:55cb49139fd79fd0393b83</string>
</dict>
</plist>