<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>891912578966-ff26j4kon861jtb5g12cvjv7d4a13qkb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.891912578966-ff26j4kon861jtb5g12cvjv7d4a13qkb</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>891912578966-11t6i0n309kab94dsv5plg6do3t3d4h7.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCNiUBLG0NsB4w0M4WpoDsrKGtarOG8SwU</string>
	<key>GCM_SENDER_ID</key>
	<string>891912578966</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gusto</string>
	<key>PROJECT_ID</key>
	<string>gusto-fa0b2</string>
	<key>STORAGE_BUCKET</key>
	<string>gusto-fa0b2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:891912578966:ios:9dc31609e31a5de8319fb7</string>
</dict>
</plist>