#include "Pods/Target Support Files/Pods-available_pods-TaxE/Pods-available_pods-TaxE.release.xcconfig"

PROJECT_APPLE_ID = 1637578134
PROJECT_BUNDLE_ID =com.taxE.order
PROJECT_APP_VERSION = 1.0
PROJECT_BUILD_NUMBER = 2
PROJECT_APP_NAME =Tax-E
PROJECT_GOOGLE_CLIENT_ID =135868116021-rd6gn9dkpffgppnd3ttnpaqaione2vrp.apps.googleusercontent.com
PROJECT_GOOGLE_REVERSE_CLIENT_ID =com.googleusercontent.apps.135868116021-rd6gn9dkpffgppnd3ttnpaqaione2vrp
PROJECT_FACEBOOK_ID = 3366579876997641
PROJECT_TWITTER_ID = twitterkit-R66DHARfuoYAPowApUxNxwbPi
PROJECT_PLIST =TaxEInfo
PROJECT_GOOGLE_PLACE_KEY = AIzaSyB85kLYYOmuAhBUPd7odVmL6gnQsSGWU-4
