<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>863396427372-he7u1mqilao3s2qo37knbnf9jqpdd1ka.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.863396427372-he7u1mqilao3s2qo37knbnf9jqpdd1ka</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>863396427372-jgj4h80opbafpaom8bmq4b6054ob6ob5.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCEqkPggiEwPxOdnnvWX5X8iYJZkaI-vYc</string>
	<key>GCM_SENDER_ID</key>
	<string>863396427372</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mywaybill.royoorders</string>
	<key>PROJECT_ID</key>
	<string>mywaybill-69db7</string>
	<key>STORAGE_BUCKET</key>
	<string>mywaybill-69db7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:863396427372:ios:ad9a1e5906e9881002ca49</string>
</dict>
</plist>