<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>285638988609-1fg1rjufgo9tpc58fuslu3m2ee813ohr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.285638988609-1fg1rjufgo9tpc58fuslu3m2ee813ohr</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>285638988609-96qeggcpooa01cpqoq9p6rl08dj5ed3a.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAZM66f1CN1eg_hXwbP4jspEVsJJJn6p5M</string>
	<key>GCM_SENDER_ID</key>
	<string>285638988609</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.codebrew.shariff</string>
	<key>PROJECT_ID</key>
	<string>shariff-8bb7e</string>
	<key>STORAGE_BUCKET</key>
	<string>shariff-8bb7e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:285638988609:ios:49f9ad1476a9cab8a3c7c0</string>
</dict>
</plist>