<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>607720829521-53n0vd9or0eg2osr6bbcibasm2nheshd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.607720829521-53n0vd9or0eg2osr6bbcibasm2nheshd</string>
	<key>API_KEY</key>
	<string>AIzaSyD0slvXNAJ3C4TuynrJrDMD4C8k06neeZQ</string>
	<key>GCM_SENDER_ID</key>
	<string>607720829521</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.onscart</string>
	<key>PROJECT_ID</key>
	<string>onscart-6668b</string>
	<key>STORAGE_BUCKET</key>
	<string>onscart-6668b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:607720829521:ios:9a9b9eebac38c345e4be70</string>
</dict>
</plist>