<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>720283585714-c8ofeajndfgourjv3bmi3lbkjm2aaaaj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.720283585714-c8ofeajndfgourjv3bmi3lbkjm2aaaaj</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>720283585714-am8b833og1fscnf9p69mgbuq99o09q65.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCwquXKtXHohGtYqgOcIM0roFIrSOsoOlg</string>
	<key>GCM_SENDER_ID</key>
	<string>720283585714</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.skidoo</string>
	<key>PROJECT_ID</key>
	<string>skidoo-d5461</string>
	<key>STORAGE_BUCKET</key>
	<string>skidoo-d5461.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:720283585714:ios:afed33b4ecedd888508dab</string>
</dict>
</plist>