<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>214772883502-6umjmbe7o14vj4ako129rkefdtqlajfm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.214772883502-6umjmbe7o14vj4ako129rkefdtqlajfm</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>214772883502-6dt4k9gmit5qovgp8cfj6ulp16suu8db.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCcgDdCrX4VLpPqAQ7W9BmM_AGqnO8uC-4</string>
	<key>GCM_SENDER_ID</key>
	<string>214772883502</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.laundroZone.order</string>
	<key>PROJECT_ID</key>
	<string>laundrozone-61740</string>
	<key>STORAGE_BUCKET</key>
	<string>laundrozone-61740.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:214772883502:ios:b745949c745283b29ebfbf</string>
</dict>
</plist>