<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>583315525929-n85nmrjh2jn8vab2spphfpt2uajiffl2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.583315525929-n85nmrjh2jn8vab2spphfpt2uajiffl2</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>583315525929-a9q39moq3ds6a8jhd3kum8b75ff2e0he.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBWsQZEIbiJ0HhpubMAtDQINYsJbgO1hiA</string>
	<key>GCM_SENDER_ID</key>
	<string>583315525929</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.laundroZone.orderapplication</string>
	<key>PROJECT_ID</key>
	<string>laundrozone-b39b6</string>
	<key>STORAGE_BUCKET</key>
	<string>laundrozone-b39b6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:583315525929:ios:ca969d49a4d9a64d906738</string>
</dict>
</plist>