<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>852314496256-kvrbicq5859kf8v22elg208vbsc1c053.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.852314496256-kvrbicq5859kf8v22elg208vbsc1c053</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>852314496256-kkte0fgp5lqsa97vgms970q36j7ceuai.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAmAciChyD2f3rPIUOnBt2zxljnuPceXUk</string>
	<key>GCM_SENDER_ID</key>
	<string>852314496256</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.detailPros.royoorder</string>
	<key>PROJECT_ID</key>
	<string>detailpros-order</string>
	<key>STORAGE_BUCKET</key>
	<string>detailpros-order.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:852314496256:ios:c0b686452b29e88f6e67e5</string>
</dict>
</plist>