<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1054630506952-qjvncf3tejbu15klupd3k6re2a7nd133.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1054630506952-qjvncf3tejbu15klupd3k6re2a7nd133</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1054630506952-01c1hlbckqao5uld82meaovstmj8skv2.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAD2BoyWzoGd_OAFP8q3d57LBtbZuG7lSA</string>
	<key>GCM_SENDER_ID</key>
	<string>1054630506952</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ambutap</string>
	<key>PROJECT_ID</key>
	<string>ambutap-aabb0</string>
	<key>STORAGE_BUCKET</key>
	<string>ambutap-aabb0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1054630506952:ios:7906470f5769cde5e8d0fd</string>
</dict>
</plist>