#include "Pods/Target Support Files/Pods-available_pods-HMC/Pods-available_pods-HMC.release.xcconfig"

PROJECT_APPLE_ID = 1566548465
PROJECT_BUNDLE_ID = com.eatkareem.hmchalal
PROJECT_APP_VERSION = 1.3
PROJECT_BUILD_NUMBER = 1
PROJECT_APP_NAME =HMC
PROJECT_GOOGLE_CLIENT_ID =17112101652-p1dcsg0s0fqvdv1jupp9anlaq2u8p5av.apps.googleusercontent.com
PROJECT_GOOGLE_REVERSE_CLIENT_ID = com.googleusercontent.apps.17112101652-p1dcsg0s0fqvdv1jupp9anlaq2u8p5av
PROJECT_FACEBOOK_ID =556793295397452
PROJECT_TWITTER_ID = twitterkit-R66DHARfuoYAPowApUxNxwbPi
PROJECT_PLIST =HMCInfo
PROJECT_GOOGLE_PLACE_KEY = AIzaSyB85kLYYOmuAhBUPd7odVmL6gnQsSGWU-4
