#include "Pods/Target Support Files/Pods-available_pods-Greenhippo/Pods-available_pods-Greenhippo.debug.xcconfig"

PROJECT_APPLE_ID = 6444339577
PROJECT_BUNDLE_ID = com.greenhippo.royoorders
PROJECT_APP_VERSION = 1.0
PROJECT_BUILD_NUMBER = 1
PROJECT_APP_NAME = GreenHippo
PROJECT_GOOGLE_CLIENT_ID = 956977322157-co7llj76u8t7obvah0phejlk66i4clv2.apps.googleusercontent.com
PROJECT_GOOGLE_REVERSE_CLIENT_ID =com.googleusercontent.apps.956977322157-co7llj76u8t7obvah0phejlk66i4clv2
PROJECT_FACEBOOK_ID = 1535253680286367
PROJECT_TWITTER_ID = twitterkit-R66DHARfuoYAPowApUxNxwbPi
PROJECT_PLIST =GreenhippoInfo
PROJECT_GOOGLE_PLACE_KEY = AIzaSyB85kLYYOmuAhBUPd7odVmL6gnQsSGWU-4
