<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>461988620164-3vvpci9b0e70qai6a359ob88oaobhijn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.461988620164-3vvpci9b0e70qai6a359ob88oaobhijn</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>461988620164-7ov1qiiqftk45ift9fmc9q13ekto9okl.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCcV-sfW9FEUR-OGt2ak7MB7jvznafq7PY</string>
	<key>GCM_SENDER_ID</key>
	<string>461988620164</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.igolux</string>
	<key>PROJECT_ID</key>
	<string>igolux</string>
	<key>STORAGE_BUCKET</key>
	<string>igolux.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:461988620164:ios:8257f1242d895b79a0dfd1</string>
</dict>
</plist>