<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>435496530479-45cbjmhk1ra8e0qolbqh689pcub3db4g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.435496530479-45cbjmhk1ra8e0qolbqh689pcub3db4g</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>435496530479-3pv21vjo6s55rqv3jb2mhardkb2l73q4.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBxtO9pzSBXPjgS5sqTXUJEAocOP5gCdL4</string>
	<key>GCM_SENDER_ID</key>
	<string>435496530479</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tranznet</string>
	<key>PROJECT_ID</key>
	<string>tranznet-89319</string>
	<key>STORAGE_BUCKET</key>
	<string>tranznet-89319.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:435496530479:ios:302f06aa4d850d3ae5ccda</string>
</dict>
</plist>