<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>614765572717-goi1s3iqs69u2ul1pckad2g0o2nja6ph.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.614765572717-goi1s3iqs69u2ul1pckad2g0o2nja6ph</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>614765572717-a27g9vd0p3m8ennp7121lfheia86ogmg.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCrJbmye-8JqHYC8fUhg_GycH4uOGlvDbI</string>
	<key>GCM_SENDER_ID</key>
	<string>614765572717</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.littlebird.order</string>
	<key>PROJECT_ID</key>
	<string>little-bird-356913</string>
	<key>STORAGE_BUCKET</key>
	<string>little-bird-356913.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:614765572717:ios:d82f84c685f2bd270fc564</string>
</dict>
</plist>