<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>728038143409-3j8kqg2q3d54r0404810c5bbtm9cl9a7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.728038143409-3j8kqg2q3d54r0404810c5bbtm9cl9a7</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>728038143409-2c3hnqk9nifvc2ba47f6qiusjg9li9rr.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyApnBb7GQcAcNGT0AstDBD9uLHzSyFlwXs</string>
	<key>GCM_SENDER_ID</key>
	<string>728038143409</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dingDongEat</string>
	<key>PROJECT_ID</key>
	<string>dingdong-eat-a1471</string>
	<key>STORAGE_BUCKET</key>
	<string>dingdong-eat-a1471.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:728038143409:ios:8524cf32cf6f7e4f4e3990</string>
</dict>
</plist>
