<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>943338871565-s4r124lfssskqoihsllsjli8heeqnoli.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.943338871565-s4r124lfssskqoihsllsjli8heeqnoli</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>943338871565-0b956u8liidmb8ajtn9gbhd4bfsll9s4.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBOXdQBlpr91LroIdaQPuu4yn-cWfHlpMk</string>
	<key>GCM_SENDER_ID</key>
	<string>943338871565</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.app.groupy</string>
	<key>PROJECT_ID</key>
	<string>groupy-94eb8</string>
	<key>STORAGE_BUCKET</key>
	<string>groupy-94eb8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:943338871565:ios:ca117a96fdd95bc76bee44</string>
</dict>
</plist>