<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>877850913674-ho9vtugagmva0s91mtudrvc5497kqgk9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.877850913674-ho9vtugagmva0s91mtudrvc5497kqgk9</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>877850913674-3odior6pvs5epf0196t2aeujop4bpa1r.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAj_qgO28xK2zWYdsneWKs3by67iybvwwc</string>
	<key>GCM_SENDER_ID</key>
	<string>877850913674</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.valleyOrder</string>
	<key>PROJECT_ID</key>
	<string>valley-order</string>
	<key>STORAGE_BUCKET</key>
	<string>valley-order.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:877850913674:ios:9ae4625a99c10ef72a3673</string>
</dict>
</plist>