<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>572922438739-fpe4iisjg2tb3gr5b25ir9knc31pknfc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.572922438739-fpe4iisjg2tb3gr5b25ir9knc31pknfc</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>572922438739-jit49n5u1bs9qvsrol7qbvp6munprd1c.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCTdSaAI5_FV4R97jLzWp6OKehIE3n930Y</string>
	<key>GCM_SENDER_ID</key>
	<string>572922438739</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.codebrew.carlitoo</string>
	<key>PROJECT_ID</key>
	<string>carlitoo-2c18c</string>
	<key>STORAGE_BUCKET</key>
	<string>carlitoo-2c18c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:572922438739:ios:d69b7f13e42a479bccd2a6</string>
</dict>
</plist>