<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>426030505003-i1jsq3ho6429lm3r7fobamo07nglsm7v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.426030505003-i1jsq3ho6429lm3r7fobamo07nglsm7v</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>426030505003-9216su53d307006hppl3645np1vtft3g.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBITD_WnsLQ0F9BMzb9Z6ygWyiK2ER7fhw</string>
	<key>GCM_SENDER_ID</key>
	<string>426030505003</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.codebrew.tasmeem</string>
	<key>PROJECT_ID</key>
	<string>tasmeem-db565</string>
	<key>STORAGE_BUCKET</key>
	<string>tasmeem-db565.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:426030505003:ios:57bc380d84004668aede6e</string>
</dict>
</plist>