<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>63973116556-6co9dc1541g7d3h8m034ogtmavrtch7r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.63973116556-6co9dc1541g7d3h8m034ogtmavrtch7r</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>63973116556-2gf50gigbt3cl2432rf6vnprjtg0knuk.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCU01tweKSywqE2ayoervRLyT9XU7XOAi4</string>
	<key>GCM_SENDER_ID</key>
	<string>63973116556</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.xborne.order</string>
	<key>PROJECT_ID</key>
	<string>xborne-order</string>
	<key>STORAGE_BUCKET</key>
	<string>xborne-order.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:63973116556:ios:0d9b7ff9a6bc307b2489a9</string>
</dict>
</plist>