#include "Pods/Target Support Files/Pods-available_pods-PartnerProject/Pods-available_pods-PartnerProject.debug.xcconfig"

PROJECT_APPLE_ID = 1583746670
PROJECT_BUNDLE_ID = com.partnerproject
PROJECT_APP_VERSION = 1.0
PROJECT_BUILD_NUMBER = 1
PROJECT_APP_NAME = PartnerProject
PROJECT_GOOGLE_CLIENT_ID =775371467936-91blq011c5k12t8242nbm1a8193iq35k.apps.googleusercontent.com
PROJECT_GOOGLE_REVERSE_CLIENT_ID = com.googleusercontent.apps.775371467936-91blq011c5k12t8242nbm1a8193iq35k
PROJECT_FACEBOOK_ID = 832558684129014
PROJECT_TWITTER_ID = twitterkit-R66DHARfuoYAPowApUxNxwbPi
PROJECT_PLIST = PartnerProjectInfo
PROJECT_GOOGLE_PLACE_KEY = AIzaSyB85kLYYOmuAhBUPd7odVmL6gnQsSGWU-4
