<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>512988728096-2hpk63erukd3um7g5b09212rq7e7bqu3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.512988728096-2hpk63erukd3um7g5b09212rq7e7bqu3</string>
	<key>API_KEY</key>
	<string>AIzaSyC-6QhYC6AWn-X3w8PldxI957aBWRJYF90</string>
	<key>GCM_SENDER_ID</key>
	<string>512988728096</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.application.empire</string>
	<key>PROJECT_ID</key>
	<string>empire-423ae</string>
	<key>STORAGE_BUCKET</key>
	<string>empire-423ae.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:512988728096:ios:4a85d83e934b380bf0a545</string>
</dict>
</plist>