<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1067996690201-gmk8l34qeom53empmq74ug9t3g5ve4vg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1067996690201-gmk8l34qeom53empmq74ug9t3g5ve4vg</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1067996690201-2mlec192hbhla1sjaargldjlp10fbvks.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCVSgSIAnbkPA8LZyfbDw6thfMyixkiOlg</string>
	<key>GCM_SENDER_ID</key>
	<string>1067996690201</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hokitch</string>
	<key>PROJECT_ID</key>
	<string>hokitch-4bf08</string>
	<key>STORAGE_BUCKET</key>
	<string>hokitch-4bf08.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1067996690201:ios:aa181496f1bfc386467788</string>
</dict>
</plist>