<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>876030866559-d0509o7arju13jpjvgoldkng0qmq3m02.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.876030866559-d0509o7arju13jpjvgoldkng0qmq3m02</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>876030866559-lr66ajvto2570ogrvb6meqbk7q10sq9d.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyB7Gjw9kKlkBAzN3LI6dKYG0Skg4b24An4</string>
	<key>GCM_SENDER_ID</key>
	<string>876030866559</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hokitch.orders</string>
	<key>PROJECT_ID</key>
	<string>hokitch-9f2e8</string>
	<key>STORAGE_BUCKET</key>
	<string>hokitch-9f2e8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:876030866559:ios:a6f8e1610cacb0e6c1bb4a</string>
	<key>DATABASE_URL</key>
	<string>https://hokitch-9f2e8.firebaseio.com</string>
</dict>
</plist>