#include "Pods/Target Support Files/Pods-available_pods-FazeiTeam/Pods-available_pods-FazeiTeam.Release.xcconfig"

PROJECT_APPLE_ID = 1624660818
PROJECT_BUNDLE_ID = com.fazeiTeam
PROJECT_APP_VERSION = 1.0
PROJECT_BUILD_NUMBER = 1
PROJECT_APP_NAME = Fazei Team
PROJECT_GOOGLE_CLIENT_ID = 641372624577-ahr9m6h6ltlrr4at6rr0l8teun150qgd.apps.googleusercontent.com
PROJECT_GOOGLE_REVERSE_CLIENT_ID = com.googleusercontent.apps.641372624577-ahr9m6h6ltlrr4at6rr0l8teun150qgd
PROJECT_FACEBOOK_ID = 1208400929971076
PROJECT_TWITTER_ID = twitterkit-R66DHARfuoYAPowApUxNxwbPi
PROJECT_PLIST =FazeiTeamInfo
PROJECT_GOOGLE_PLACE_KEY = AIzaSyB85kLYYOmuAhBUPd7odVmL6gnQsSGWU-4

