<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>641372624577-ahr9m6h6ltlrr4at6rr0l8teun150qgd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.641372624577-ahr9m6h6ltlrr4at6rr0l8teun150qgd</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>641372624577-3cedrus43nffsglmha9ohptjtbt19qn8.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCBr6W0mIgsMQLJF2IJYn29eVWmrHJqRY0</string>
	<key>GCM_SENDER_ID</key>
	<string>641372624577</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.fazeiTeam</string>
	<key>PROJECT_ID</key>
	<string>fazeiteam</string>
	<key>STORAGE_BUCKET</key>
	<string>fazeiteam.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:641372624577:ios:962b391988b10aaf1a2640</string>
</dict>
</plist>