#include "Pods/Target Support Files/Pods-available_pods-MarkSoublet/Pods-available_pods-MarkSoublet.release.xcconfig"

PROJECT_APPLE_ID = 1621229112
PROJECT_BUNDLE_ID = com.markSoublet
PROJECT_APP_VERSION = 1.0
PROJECT_BUILD_NUMBER = 2
PROJECT_APP_NAME = City Rides
PROJECT_GOOGLE_CLIENT_ID = 809926200918-cam6vn1ccfso3glp9j85772vlokeim9g.apps.googleusercontent.com
PROJECT_GOOGLE_REVERSE_CLIENT_ID = com.googleusercontent.apps.809926200918-cam6vn1ccfso3glp9j85772vlokeim9g
PROJECT_FACEBOOK_ID = 306221218333644
PROJECT_TWITTER_ID = twitterkit-R66DHARfuoYAPowApUxNxwbPi
PROJECT_PLIST =MarkSoubletInfo
PROJECT_GOOGLE_PLACE_KEY = AIzaSyB85kLYYOmuAhBUPd7odVmL6gnQsSGWU-4

