<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>934655969705-vtfeul7kbf23s0d4oi5g9jpu5l9hpd86.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.934655969705-vtfeul7kbf23s0d4oi5g9jpu5l9hpd86</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>934655969705-3vfu59coh3rp7hjg3pj0hh9h0cs1hgor.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDld-Ih22AOJDYHmYQy6KCOSKgG7Rlr5-0</string>
	<key>GCM_SENDER_ID</key>
	<string>934655969705</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jadorDrive</string>
	<key>PROJECT_ID</key>
	<string>jador-drive</string>
	<key>STORAGE_BUCKET</key>
	<string>jador-drive.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:934655969705:ios:cbe7e647616b47e3865cb8</string>
</dict>
</plist>