#include "Pods/Target Support Files/Pods-available_pods-JadorDrive/Pods-available_pods-JadorDrive.release.xcconfig"

PROJECT_APPLE_ID = 1608342713
PROJECT_BUNDLE_ID =com.jadorDrive
PROJECT_APP_VERSION = 1.0
PROJECT_BUILD_NUMBER = 1
PROJECT_APP_NAME = JadorDrive
PROJECT_GOOGLE_CLIENT_ID =934655969705-vtfeul7kbf23s0d4oi5g9jpu5l9hpd86.apps.googleusercontent.com
PROJECT_GOOGLE_REVERSE_CLIENT_ID =com.googleusercontent.apps.934655969705-vtfeul7kbf23s0d4oi5g9jpu5l9hpd86
PROJECT_FACEBOOK_ID = 1104874536752216
PROJECT_TWITTER_ID = twitterkit-R66DHARfuoYAPowApUxNxwbPi
PROJECT_PLIST =JadorDriveInfo
PROJECT_GOOGLE_PLACE_KEY = AIzaSyB85kLYYOmuAhBUPd7odVmL6gnQsSGWU-4
