<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>676342072059-pafdke1r50u6khs9io2du0l6fg8kpf9k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.676342072059-pafdke1r50u6khs9io2du0l6fg8kpf9k</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>676342072059-2l6mcio9b635r1tsbk6pbkv57abjr7pv.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDQzEQ63p_KCR6LkcmveCn0GwmvGOVudVo</string>
	<key>GCM_SENDER_ID</key>
	<string>676342072059</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.twofinder</string>
	<key>PROJECT_ID</key>
	<string>twofinder-aa9cc</string>
	<key>STORAGE_BUCKET</key>
	<string>twofinder-aa9cc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:676342072059:ios:359bed945901df1744665e</string>
</dict>
</plist>