#include "Pods/Target Support Files/Pods-available_pods-TwoFinder/Pods-available_pods-TwoFinder.debug.xcconfig"

PROJECT_APPLE_ID =1591413863
PROJECT_BUNDLE_ID = com.twofinder
PROJECT_APP_VERSION = 1.0
PROJECT_BUILD_NUMBER = 1
PROJECT_APP_NAME = TwoFinder
PROJECT_GOOGLE_CLIENT_ID =676342072059-pafdke1r50u6khs9io2du0l6fg8kpf9k.apps.googleusercontent.com
PROJECT_GOOGLE_REVERSE_CLIENT_ID = com.googleusercontent.apps.676342072059-pafdke1r50u6khs9io2du0l6fg8kpf9k
PROJECT_FACEBOOK_ID =311981207404003
PROJECT_TWITTER_ID = twitterkit-R66DHARfuoYAPowApUxNxwbPi
PROJECT_PLIST =TwoFinderInfo
PROJECT_GOOGLE_PLACE_KEY = AIzaSyB85kLYYOmuAhBUPd7odVmL6gnQsSGWU-4
