<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>855857741375-1avd3fq2lt4ig3pnmvcvr3hl0pg556bi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.855857741375-1avd3fq2lt4ig3pnmvcvr3hl0pg556bi</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>855857741375-5f9dqd1r9qq9rsn91f2k7e4jieh0o8hn.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCUxf_1J10BaSXn03k96J_lO4M6w92s77U</string>
	<key>GCM_SENDER_ID</key>
	<string>855857741375</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.goTech.royoorders</string>
	<key>PROJECT_ID</key>
	<string>gotech-9a31d</string>
	<key>STORAGE_BUCKET</key>
	<string>gotech-9a31d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:855857741375:ios:994435e918d885c1fe828a</string>
</dict>
</plist>