<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>204891452516-ga9h7714afk2jt10052mfn0om3r39vk6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.204891452516-ga9h7714afk2jt10052mfn0om3r39vk6</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>204891452516-6vmkn465blkjkrgd5n5gj7nef6b9r2cq.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAq0L9wsETfqxjSp32x38UIl0yWQFFC1Xc</string>
	<key>GCM_SENDER_ID</key>
	<string>204891452516</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.fairDeal.order</string>
	<key>PROJECT_ID</key>
	<string>fair-deal-e89fd</string>
	<key>STORAGE_BUCKET</key>
	<string>fair-deal-e89fd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:204891452516:ios:4bb5ee60ad27d04d85db71</string>
</dict>
</plist>