<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>532815471833-49ppk38ojvncnriad2761c0ied8o3sgv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.532815471833-49ppk38ojvncnriad2761c0ied8o3sgv</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>532815471833-fr1mfserpl3bqcqrueua84mcht9pfifl.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCOku1bRSPJ9vpYR1XaXYmvtSHbHkcHx4s</string>
	<key>GCM_SENDER_ID</key>
	<string>532815471833</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.app.sofia</string>
	<key>PROJECT_ID</key>
	<string>sofia-b6396</string>
	<key>STORAGE_BUCKET</key>
	<string>sofia-b6396.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:532815471833:ios:1787424d7d39a035630ac8</string>
</dict>
</plist>