<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>11650015354-g7bbopt0g4ivlla18ufpets0q3cjvha5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.11650015354-g7bbopt0g4ivlla18ufpets0q3cjvha5</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>11650015354-4e968s2f1pc3t1r3o8ejh6ggv1282iji.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAHKHn8H5jdYIDGFRc8hU0yrATPoNCow_U</string>
	<key>GCM_SENDER_ID</key>
	<string>11650015354</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kurbsidekings</string>
	<key>PROJECT_ID</key>
	<string>kurbside-kings</string>
	<key>STORAGE_BUCKET</key>
	<string>kurbside-kings.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:11650015354:ios:ba5ac9f3bf2da37b555bc3</string>
</dict>
</plist>