#include "Pods/Target Support Files/Pods-available_pods-WiEnergi/Pods-available_pods-WiEnergi.debug.xcconfig"
PROJECT_APPLE_ID = 1668280702
PROJECT_BUNDLE_ID = com.wienergi.royoorder
PROJECT_APP_VERSION = 1.0
PROJECT_BUILD_NUMBER = 1
PROJECT_APP_NAME = Wi Energi
PROJECT_GOOGLE_CLIENT_ID =1078782262107-3j2f3licv0bqo4ppijgasbs3iv72v6c0.apps.googleusercontent.com
PROJECT_GOOGLE_REVERSE_CLIENT_ID =com.googleusercontent.apps.1078782262107-3j2f3licv0bqo4ppijgasbs3iv72v6c0
PROJECT_FACEBOOK_ID = 2036948233170375
PROJECT_TWITTER_ID = twitterkit-R66DHARfuoYAPowApUxNxwbPi
PROJECT_PLIST =WiEnergiInfo
PROJECT_GOOGLE_PLACE_KEY = AIzaSyB85kLYYOmuAhBUPd7odVmL6gnQsSGWU-4
