<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>735732117871-t97h4g541keclc7tfu8cg7nopa9roi46.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.735732117871-t97h4g541keclc7tfu8cg7nopa9roi46</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>735732117871-cam70nq8onq7frhumhhkckl8ruvav6s6.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAi6XR1nQCm9R4oSuLFUDb1qneovo8q6lI</string>
	<key>GCM_SENDER_ID</key>
	<string>735732117871</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ssuum</string>
	<key>PROJECT_ID</key>
	<string>ssuum-87ce8</string>
	<key>STORAGE_BUCKET</key>
	<string>ssuum-87ce8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:735732117871:ios:66627fc61422c32c2af89a</string>
</dict>
</plist>