#include "Pods/Target Support Files/Pods-available_pods-Driveree/Pods-available_pods-Driveree.debug.xcconfig"

PROJECT_APPLE_ID =1591786846
PROJECT_BUNDLE_ID =com.driveree
PROJECT_APP_VERSION = 1.0
PROJECT_BUILD_NUMBER = 6
PROJECT_APP_NAME = Driveree
PROJECT_GOOGLE_CLIENT_ID =481074980509-8a3vta3ng7si3e1jsaomi4itsb2pngdh.apps.googleusercontent.com
PROJECT_GOOGLE_REVERSE_CLIENT_ID =com.googleusercontent.apps.481074980509-8a3vta3ng7si3e1jsaomi4itsb2pngdh
PROJECT_FACEBOOK_ID =400502698394304
PROJECT_TWITTER_ID = twitterkit-R66DHARfuoYAPowApUxNxwbPi
PROJECT_PLIST =DrivereeInfo
PROJECT_GOOGLE_PLACE_KEY = AIzaSyB85kLYYOmuAhBUPd7odVmL6gnQsSGWU-4
CODE_PUSH_KEY = 36LSN40tVQbG1dW1ZLrGaYJbEpQykPMkhwQx2
