<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>481074980509-8a3vta3ng7si3e1jsaomi4itsb2pngdh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.481074980509-8a3vta3ng7si3e1jsaomi4itsb2pngdh</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>481074980509-2dk7oecf0g6da5as2qjg98lfpiu0iq2a.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBX20YtxJYmNU05xgZU3Li4YA3ch_PQFwI</string>
	<key>GCM_SENDER_ID</key>
	<string>481074980509</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.driveree</string>
	<key>PROJECT_ID</key>
	<string>driveree-9b6a1</string>
	<key>STORAGE_BUCKET</key>
	<string>driveree-9b6a1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:481074980509:ios:a030f516f9f65522f05674</string>
</dict>
</plist>