<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1089775976299-opg1dcgmbjr4s5lmq2918942fk67sv12.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1089775976299-opg1dcgmbjr4s5lmq2918942fk67sv12</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1089775976299-7iar1sp8pjn18c2h97j62909dlu0o6jb.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAtP3fgcINwVw0qjo7taTGnmcfCR2zm6XA</string>
	<key>GCM_SENDER_ID</key>
	<string>1089775976299</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dimavega</string>
	<key>PROJECT_ID</key>
	<string>dima-vega</string>
	<key>STORAGE_BUCKET</key>
	<string>dima-vega.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1089775976299:ios:ac116f00cb1ad95da1562e</string>
</dict>
</plist>