#include "Pods/Target Support Files/Pods-available_pods-Delivery/Pods-available_pods-Delivery.debug.xcconfig"

PROJECT_APPLE_ID = 1614243058
PROJECT_BUNDLE_ID =com.application.delivery
PROJECT_APP_VERSION = 1.0
PROJECT_BUILD_NUMBER = 3
PROJECT_APP_NAME = GDot Delivery
PROJECT_GOOGLE_CLIENT_ID =792055354765-173umunmtsgujtrt2od762qfv2ocppii.apps.googleusercontent.com
PROJECT_GOOGLE_REVERSE_CLIENT_ID =com.googleusercontent.apps.792055354765-173umunmtsgujtrt2od762qfv2ocppii
PROJECT_FACEBOOK_ID = 698350971344034
PROJECT_TWITTER_ID = twitterkit-R66DHARfuoYAPowApUxNxwbPi
PROJECT_PLIST =DeliveryInfo
PROJECT_GOOGLE_PLACE_KEY = AIzaSyB85kLYYOmuAhBUPd7odVmL6gnQsSGWU-4
