<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>31663454165-61ivs9fcduvc3d1vonhvjuc86b0seav8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.31663454165-61ivs9fcduvc3d1vonhvjuc86b0seav8</string>
	<key>API_KEY</key>
	<string>AIzaSyBSaJe-ngOsfPjhH0S_6hnmIzAEn9FJUGI</string>
	<key>GCM_SENDER_ID</key>
	<string>31663454165</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gdotDelivery.user</string>
	<key>PROJECT_ID</key>
	<string>gdotdelivery-b47b5</string>
	<key>STORAGE_BUCKET</key>
	<string>gdotdelivery-b47b5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:31663454165:ios:bcd503186f77bf85a86f5c</string>
</dict>
</plist>