<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>792055354765-173umunmtsgujtrt2od762qfv2ocppii.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.792055354765-173umunmtsgujtrt2od762qfv2ocppii</string>
	<key>API_KEY</key>
	<string>AIzaSyBbcbDbdgtxL_2WuEPh55PfyW01bFs-Pwc</string>
	<key>GCM_SENDER_ID</key>
	<string>792055354765</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.application.delivery</string>
	<key>PROJECT_ID</key>
	<string>delivery-e8754</string>
	<key>STORAGE_BUCKET</key>
	<string>delivery-e8754.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:792055354765:ios:3dcf2cbb1c0c1be1ad19c4</string>
</dict>
</plist>