<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>245213600836-tvrr3d1ndhgbigkqrupa9srpcdcvdldl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.245213600836-tvrr3d1ndhgbigkqrupa9srpcdcvdldl</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>245213600836-hh19u693t5bq0aq4g0cu890sdqpnhssn.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyC9KnnhTsF32hdppDGniy596aYljLIxp5M</string>
	<key>GCM_SENDER_ID</key>
	<string>245213600836</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jet.customer</string>
	<key>PROJECT_ID</key>
	<string>taxijet-ec813</string>
	<key>STORAGE_BUCKET</key>
	<string>taxijet-ec813.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:245213600836:ios:221b733386681f2dfe3011</string>
</dict>
</plist>