#include "Pods/Target Support Files/Pods-Jet/Pods-Jet.release.xcconfig"


PROJECT_APPLE_ID = 1581535020
PROJECT_BUNDLE_ID = com.jet.customer
PROJECT_APP_VERSION = 1.0
PROJECT_BUILD_NUMBER = 1
PROJECT_APP_NAME = Jet
PROJECT_GOOGLE_CLIENT_ID = 245213600836-tvrr3d1ndhgbigkqrupa9srpcdcvdldl.apps.googleusercontent.com
PROJECT_GOOGLE_REVERSE_CLIENT_ID = com.googleusercontent.apps.245213600836-tvrr3d1ndhgbigkqrupa9srpcdcvdldl
PROJECT_FACEBOOK_ID = 1293689064360538
PROJECT_TWITTER_ID = twitterkit-R66DHARfuoYAPowApUxNxwbPi
PROJECT_PLIST = JetInfo
PROJECT_GOOGLE_PLACE_KEY = AIzaSyB85kLYYOmuAhBUPd7odVmL6gnQsSGWU-4

