<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1009474657845-5nq5at4mp332crtifrq3tk52vqfmu34t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1009474657845-5nq5at4mp332crtifrq3tk52vqfmu34t</string>
	<key>API_KEY</key>
	<string>AIzaSyDhcOEIxiTlZNMoPtOYfK8hUFmZVFWjCFQ</string>
	<key>GCM_SENDER_ID</key>
	<string>1009474657845</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.UCANN</string>
	<key>PROJECT_ID</key>
	<string>ucann-a8c68</string>
	<key>STORAGE_BUCKET</key>
	<string>ucann-a8c68.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1009474657845:ios:cddea035f4d1b477db5b7c</string>
</dict>
</plist>