#include "Pods/Target Support Files/Pods-available_pods-UBERCANN/Pods-available_pods-UBERCANN.release.xcconfig"

PROJECT_APPLE_ID = 1608476698
PROJECT_BUNDLE_ID =com.ubercann
PROJECT_APP_VERSION = 1.0
PROJECT_BUILD_NUMBER = 5
PROJECT_APP_NAME = UBERCANN
PROJECT_GOOGLE_CLIENT_ID =134671540319-pd1vs89104c5thcfc0qkb7es452tp6ob.apps.googleusercontent.com
PROJECT_GOOGLE_REVERSE_CLIENT_ID =com.googleusercontent.apps.134671540319-pd1vs89104c5thcfc0qkb7es452tp6ob
PROJECT_FACEBOOK_ID = 1560349024349343
PROJECT_TWITTER_ID = twitterkit-R66DHARfuoYAPowApUxNxwbPi
PROJECT_PLIST =UBERCANNInfo
PROJECT_GOOGLE_PLACE_KEY = AIzaSyB85kLYYOmuAhBUPd7odVmL6gnQsSGWU-4
