<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>543310886006-m90kbmph7oq4nfnh4ihleril9ferpc92.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.543310886006-m90kbmph7oq4nfnh4ihleril9ferpc92</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>543310886006-0cc95abiojs3470iq4h3jfagq6h3q6f5.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCIZh72TdWR3QWKyspv8jc4mkxTEGPBuvk</string>
	<key>GCM_SENDER_ID</key>
	<string>543310886006</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.swan.userApp</string>
	<key>PROJECT_ID</key>
	<string>swan-user</string>
	<key>STORAGE_BUCKET</key>
	<string>swan-user.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:543310886006:ios:3a7148f1aa0d88cbc7db57</string>
</dict>
</plist>