<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>68641026166-uc02irckovljl1enq30f52jtne3ud36a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.68641026166-uc02irckovljl1enq30f52jtne3ud36a</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>68641026166-658rhkgs77chv0l3fhk70943e5fmd4tu.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAMvv50ffmVTeubab_fcUy1NAwBih0IiiQ</string>
	<key>GCM_SENDER_ID</key>
	<string>68641026166</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Swan-User</string>
	<key>PROJECT_ID</key>
	<string>swan-taxi-311315</string>
	<key>STORAGE_BUCKET</key>
	<string>swan-taxi-311315.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:68641026166:ios:59a0b0eee8805873a7af57</string>
</dict>
</plist>