#include "Pods/Target Support Files/Pods-available_pods-Swan/Pods-available_pods-Swan.release.xcconfig"

PROJECT_APPLE_ID = 1571038062
PROJECT_BUNDLE_ID = com.Swan-User
PROJECT_APP_VERSION = 1.6
PROJECT_BUILD_NUMBER = 1
PROJECT_APP_NAME = Swan
PROJECT_GOOGLE_CLIENT_ID = 68641026166-uc02irckovljl1enq30f52jtne3ud36a.apps.googleusercontent.com
PROJECT_GOOGLE_REVERSE_CLIENT_ID = com.googleusercontent.apps.68641026166-uc02irckovljl1enq30f52jtne3ud36a
PROJECT_FACEBOOK_ID = 1956385527867815
PROJECT_TWITTER_ID = twitterkit-R66DHARfuoYAPowApUxNxwbPi
PROJECT_PLIST =SwanInfo
PROJECT_GOOGLE_PLACE_KEY = AIzaSyB85kLYYOmuAhBUPd7odVmL6gnQsSGWU-4
