<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>485470767618-k1a49tfrlmq2ti8brsvemj8vir0vme6m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.485470767618-k1a49tfrlmq2ti8brsvemj8vir0vme6m</string>
	<key>API_KEY</key>
	<string>AIzaSyA0MdQC5pdvrb6nQB0-9TALCOTvC2aCtPA</string>
	<key>GCM_SENDER_ID</key>
	<string>485470767618</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hairrun.orders</string>
	<key>PROJECT_ID</key>
	<string>hair-run-113fb</string>
	<key>STORAGE_BUCKET</key>
	<string>hair-run-113fb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:485470767618:ios:f7eb8011aa7d381453b51b</string>
</dict>
</plist>