<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>875181269379-r5ivhb2ilhdqph9337qthtjcfautvr0o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.875181269379-r5ivhb2ilhdqph9337qthtjcfautvr0o</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>875181269379-ed6i8ri2l7rghm2i3qi14tndvf8hrhvu.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDkXWOW5ydB5hqgA1H3Gz7QUvHPWVRjIKE</string>
	<key>GCM_SENDER_ID</key>
	<string>875181269379</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.baytukom</string>
	<key>PROJECT_ID</key>
	<string>baytukom</string>
	<key>STORAGE_BUCKET</key>
	<string>baytukom.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:875181269379:ios:386739e240cce2f24816b6</string>
</dict>
</plist>