<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>846996660175-g74bq21hmos1a6221ljjp83ig3kt3c4v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.846996660175-g74bq21hmos1a6221ljjp83ig3kt3c4v</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>846996660175-eg2r3h5aso7c417q14hegfglsvn5mf2t.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDFOHGhgB5Hhn4zX7au6mkbRwbc8GplUr0</string>
	<key>GCM_SENDER_ID</key>
	<string>846996660175</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.liverpoolEats.royoorder</string>
	<key>PROJECT_ID</key>
	<string>liverpooleats-order</string>
	<key>STORAGE_BUCKET</key>
	<string>liverpooleats-order.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:846996660175:ios:4712f092803a1fba467cba</string>
</dict>
</plist>