#include "Pods/Target Support Files/Pods-available_pods-LiverpoolEats/Pods-available_pods-LiverpoolEats.debug.xcconfig"
PROJECT_APPLE_ID = 1665864172
PROJECT_BUNDLE_ID =com.liverpoolEats.royoorder
PROJECT_APP_VERSION = 1.0
PROJECT_BUILD_NUMBER = 1
PROJECT_APP_NAME =LiverpoolEats
PROJECT_GOOGLE_CLIENT_ID =com.googleusercontent.apps.846996660175-g74bq21hmos1a6221ljjp83ig3kt3c4v
PROJECT_GOOGLE_REVERSE_CLIENT_ID =846996660175-eg2r3h5aso7c417q14hegfglsvn5mf2t.apps.googleusercontent.com
PROJECT_FACEBOOK_ID = 723968425791117
PROJECT_TWITTER_ID = twitterkit-R66DHARfuoYAPowApUxNxwbPi
PROJECT_PLIST =LiverpoolEatsInfo
PROJECT_GOOGLE_PLACE_KEY = AIzaSyB85kLYYOmuAhBUPd7odVmL6gnQsSGWU-4
