<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>934809950192-0031ahsvd5g830jlsi9fhhncu10a4uhd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.934809950192-0031ahsvd5g830jlsi9fhhncu10a4uhd</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>934809950192-24mh10lbrpfj76h5pfvaipveko94pgd1.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAFMhaXVvmg4BBwE-31c3TaAkB3LX974MU</string>
	<key>GCM_SENDER_ID</key>
	<string>934809950192</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.app.slider</string>
	<key>PROJECT_ID</key>
	<string>slider-90bd6</string>
	<key>STORAGE_BUCKET</key>
	<string>slider-90bd6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:934809950192:ios:18b8bb9b75782c5728af35</string>
</dict>
</plist>