<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1062617741416-4tb34lc1e43ra4a10n5pb4oir95cvj4c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1062617741416-4tb34lc1e43ra4a10n5pb4oir95cvj4c</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1062617741416-2vuigvr74ect85i9gvlsj7228t6d3q4v.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCZ_PmgVAtwVEmViY6UpF203kPc0wYFnOo</string>
	<key>GCM_SENDER_ID</key>
	<string>1062617741416</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.swiffyllc.customer</string>
	<key>PROJECT_ID</key>
	<string>swiffy-llc</string>
	<key>STORAGE_BUCKET</key>
	<string>swiffy-llc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1062617741416:ios:e27c90dd351ba3e74a63dd</string>
</dict>
</plist>