<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>797859155680-p6e98sgcnnq3vb1bolbe73iht39s2nk1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.797859155680-p6e98sgcnnq3vb1bolbe73iht39s2nk1</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>797859155680-emqvcftcurhbt6purtsdkn1asvcie6u8.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAGf-FJRbgmf6LBOd9XtsH7TRjLRPtu578</string>
	<key>GCM_SENDER_ID</key>
	<string>797859155680</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.fijieats.user</string>
	<key>PROJECT_ID</key>
	<string>fiji-eats</string>
	<key>STORAGE_BUCKET</key>
	<string>fiji-eats.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:797859155680:ios:9bf693ad40d806e75a8a85</string>
	<key>DATABASE_URL</key>
	<string>https://fiji-eats.firebaseio.com</string>
</dict>
</plist>