<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>21035598130-r85smivl57uc56aml336gq1r0en41smn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.21035598130-r85smivl57uc56aml336gq1r0en41smn</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>21035598130-1frqio36pqm157fds51s5qkeei9iea1u.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyA3i58tl8QRtVlSQvW8HGU5q1BLi1E154I</string>
	<key>GCM_SENDER_ID</key>
	<string>21035598130</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.motina.royoorders</string>
	<key>PROJECT_ID</key>
	<string>motina-c7caf</string>
	<key>STORAGE_BUCKET</key>
	<string>motina-c7caf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:21035598130:ios:008f3d43c9b924bf42572b</string>
</dict>
</plist>