#include "Pods/Target Support Files/Pods-available_pods-MOTINA/Pods-available_pods-MOTINA.debug.xcconfig"

PROJECT_APPLE_ID = 6444301019
PROJECT_BUNDLE_ID = com.motina.royoorders
PROJECT_APP_VERSION = 1.0
PROJECT_BUILD_NUMBER = 1
PROJECT_APP_NAME = MOTINA
PROJECT_GOOGLE_CLIENT_ID = 21035598130-r85smivl57uc56aml336gq1r0en41smn.apps.googleusercontent.com
PROJECT_GOOGLE_REVERSE_CLIENT_ID =com.googleusercontent.apps.21035598130-r85smivl57uc56aml336gq1r0en41smn
PROJECT_FACEBOOK_ID = 810888390188936
PROJECT_TWITTER_ID = twitterkit-R66DHARfuoYAPowApUxNxwbPi
PROJECT_PLIST =MOTINAInfo
PROJECT_GOOGLE_PLACE_KEY = AIzaSyB85kLYYOmuAhBUPd7odVmL6gnQsSGWU-4
