<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1022967218912-41uuio7u06njo52niugc35j59kisjmcg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1022967218912-41uuio7u06njo52niugc35j59kisjmcg</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1022967218912-f2uhfo0tp5jq4e69bc7dplsimbt669ea.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCHLD5gvm9zZgjG6fjBPAunNkKaYVAlNcU</string>
	<key>GCM_SENDER_ID</key>
	<string>1022967218912</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bezalio</string>
	<key>PROJECT_ID</key>
	<string>bezalio</string>
	<key>STORAGE_BUCKET</key>
	<string>bezalio.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1022967218912:ios:fadb74727d796d18a6c685</string>
</dict>
</plist>