<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>405651116857-t580cfd9b7l3b612gvf4b0a488n67vp6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.405651116857-t580cfd9b7l3b612gvf4b0a488n67vp6</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>405651116857-rk8q2ceii91r2064h7rbr7j706lmi602.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyA6LBmWAOR7_fu6r8X68RvF70-MrcV2Vb4</string>
	<key>GCM_SENDER_ID</key>
	<string>405651116857</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hafizjwlry.orderapp</string>
	<key>PROJECT_ID</key>
	<string>hafiz-jwlry</string>
	<key>STORAGE_BUCKET</key>
	<string>hafiz-jwlry.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:405651116857:ios:0da2efec84b5f7140fcee8</string>
</dict>
</plist>