#include "Pods/Target Support Files/Pods-available_pods-KeystoneDelivery/Pods-available_pods-KeystoneDelivery.debug.xcconfig"

PROJECT_APPLE_ID = 1625864379
PROJECT_BUNDLE_ID = com.keystoneDelivery
PROJECT_APP_VERSION = 1.0
PROJECT_BUILD_NUMBER = 1
PROJECT_APP_NAME = Keystone Delivery
PROJECT_GOOGLE_CLIENT_ID = 16395209863-f4gu12bpo5vu42gs884tpessl436ciob.apps.googleusercontent.com
PROJECT_GOOGLE_REVERSE_CLIENT_ID = com.googleusercontent.apps.16395209863-f4gu12bpo5vu42gs884tpessl436ciob
PROJECT_FACEBOOK_ID = 1190800051678944
PROJECT_TWITTER_ID = twitterkit-R66DHARfuoYAPowApUxNxwbPi
PROJECT_PLIST = KeystoneDeliveryInfo
PROJECT_GOOGLE_PLACE_KEY = AIzaSyB85kLYYOmuAhBUPd7odVmL6gnQsSGWU-4

