<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>549810511464-3vog2rrme36b20g7na45qen7pa3gpt57.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.549810511464-3vog2rrme36b20g7na45qen7pa3gpt57</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>549810511464-3d1bn8rem515ckilcih10c70h95q21q5.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDpmOf-TXYV7IUihL3NO6CDzdBZ0yi4xlA</string>
	<key>GCM_SENDER_ID</key>
	<string>549810511464</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hungry.royoorders</string>
	<key>PROJECT_ID</key>
	<string>hungry-ac500</string>
	<key>STORAGE_BUCKET</key>
	<string>hungry-ac500.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:549810511464:ios:67925f4f57652ce95fe5dd</string>
</dict>
</plist>