#include "Pods/Target Support Files/Pods-available_pods-Upstreet/Pods-available_pods-Upstreet.release.xcconfig"

PROJECT_APPLE_ID = 1615903866
PROJECT_BUNDLE_ID =com.app.upstreet
PROJECT_APP_VERSION = 1.0
PROJECT_BUILD_NUMBER = 2
PROJECT_APP_NAME = Upstreet
PROJECT_GOOGLE_CLIENT_ID =574975743668-g1suo4gr8256m8d43coj585edpifgjpo.apps.googleusercontent.com
PROJECT_GOOGLE_REVERSE_CLIENT_ID =com.googleusercontent.apps.574975743668-g1suo4gr8256m8d43coj585edpifgjpo
PROJECT_FACEBOOK_ID = 469212834984835
PROJECT_TWITTER_ID = twitterkit-R66DHARfuoYAPowApUxNxwbPi
PROJECT_PLIST =UpstreetInfo
PROJECT_GOOGLE_PLACE_KEY = AIzaSyB85kLYYOmuAhBUPd7odVmL6gnQsSGWU-4
