<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>234597312101-3a5vg0840idjtbbhevug4q58702nqrnm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.234597312101-3a5vg0840idjtbbhevug4q58702nqrnm</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>234597312101-4433lfh7jmfl0cckavca2s9hb3alvqq5.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCZzafaRLCTm_JngyX8cq6qoBgpTbwS1jk</string>
	<key>GCM_SENDER_ID</key>
	<string>234597312101</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rentzGo.royoorder</string>
	<key>PROJECT_ID</key>
	<string>rentzgo-a5812</string>
	<key>STORAGE_BUCKET</key>
	<string>rentzgo-a5812.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:234597312101:ios:4c2f324828286191a5888c</string>
</dict>
</plist>