#include "Pods/Target Support Files/Pods-available_pods-MagicalBookings/Pods-available_pods-MagicalBookings.release.xcconfig"
PROJECT_APPLE_ID = 1671770493
PROJECT_BUNDLE_ID = com.magicalBookings.order
PROJECT_APP_VERSION = 1.0
PROJECT_BUILD_NUMBER = 1
PROJECT_APP_NAME = Magical Bookings
PROJECT_GOOGLE_CLIENT_ID =37237959791-m8almsklprg6i0cf8lr6kf7r9jqvb3pn.apps.googleusercontent.com
PROJECT_GOOGLE_REVERSE_CLIENT_ID =com.googleusercontent.apps.37237959791-m8almsklprg6i0cf8lr6kf7r9jqvb3pn
PROJECT_FACEBOOK_ID = 622850799680972
PROJECT_TWITTER_ID = twitterkit-R66DHARfuoYAPowApUxNxwbPi
PROJECT_PLIST =MagicalBookingsInfo
PROJECT_GOOGLE_PLACE_KEY = AIzaSyB85kLYYOmuAhBUPd7odVmL6gnQsSGWU-4
