<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>964402586633-9ms91i4t990rd4m8lns8hmj2sbi29c6l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.964402586633-9ms91i4t990rd4m8lns8hmj2sbi29c6l</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>964402586633-4nvqnjqvd0b3atdtma0ps243ub2tf97f.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAXAK5hguru0opbxwiz5catkay2tzPILSM</string>
	<key>GCM_SENDER_ID</key>
	<string>964402586633</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.vendorspot</string>
	<key>PROJECT_ID</key>
	<string>vendor-spot</string>
	<key>STORAGE_BUCKET</key>
	<string>vendor-spot.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:964402586633:ios:850703e497b972a8f784d8</string>
</dict>
</plist>