<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>858554549224-06pc29f95v98fk0n965nedh6pgr1e3v7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.858554549224-06pc29f95v98fk0n965nedh6pgr1e3v7</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>858554549224-753prndn7hp8r9ptnpombnutv7gb8j5h.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBg55of7-EWiW8f-nfvbpzO7mgByF-F26A</string>
	<key>GCM_SENDER_ID</key>
	<string>858554549224</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mediPick</string>
	<key>PROJECT_ID</key>
	<string>medipick-4c5d0</string>
	<key>STORAGE_BUCKET</key>
	<string>medipick-4c5d0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:858554549224:ios:6206e9ed5e5e74cff65a5d</string>
</dict>
</plist>