<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>286667135462-1a7t0olg57lom05suga9hia8vbv4d10t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.286667135462-1a7t0olg57lom05suga9hia8vbv4d10t</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>286667135462-brb4grn9m7bt70vpurkvoucodu01ff4a.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDWgALSbeuvJaVfBvCPt86MogVA3OPchrU</string>
	<key>GCM_SENDER_ID</key>
	<string>286667135462</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.smokeRun.order</string>
	<key>PROJECT_ID</key>
	<string>smoke-run-ea0ba</string>
	<key>STORAGE_BUCKET</key>
	<string>smoke-run-ea0ba.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:286667135462:ios:971bd2b53750cf4724de27</string>
</dict>
</plist>