<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>741358483100-82epmcq9nukao3knmrrg4n0m97g0rv4u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.741358483100-82epmcq9nukao3knmrrg4n0m97g0rv4u</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>741358483100-1dpomt1cdlfmu96j7n5a2sblfm1hu0jo.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyD_vB3VtIJ3YZIBYn60JGAg2cnewRRhQNo</string>
	<key>GCM_SENDER_ID</key>
	<string>741358483100</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.smokeRun.order</string>
	<key>PROJECT_ID</key>
	<string>smoke-run-21af5</string>
	<key>STORAGE_BUCKET</key>
	<string>smoke-run-21af5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:741358483100:ios:019c2434aa4f537fde5f59</string>
</dict>
</plist>