<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>425997098127-0at89m7dtq57aq44ge9hcteh4hsntbc1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.425997098127-0at89m7dtq57aq44ge9hcteh4hsntbc1</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>425997098127-d3u796nri9ri29cin45cvit59jm0m1vp.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBcq6369kyylpcrICve5PXXrCObSwzquEo</string>
	<key>GCM_SENDER_ID</key>
	<string>425997098127</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.homeric.app</string>
	<key>PROJECT_ID</key>
	<string>homeric-cb4b7</string>
	<key>STORAGE_BUCKET</key>
	<string>homeric-cb4b7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:425997098127:ios:ede0f2213a396b7bdce4fa</string>
</dict>
</plist>