#include "Pods/Target Support Files/Pods-available_pods-Homeric/Pods-available_pods-Homeric.debug.xcconfig"

PROJECT_APPLE_ID = 1588392676
PROJECT_BUNDLE_ID = com.homeric
PROJECT_APP_VERSION = 1.0
PROJECT_BUILD_NUMBER = 63
PROJECT_APP_NAME =Homeric
PROJECT_GOOGLE_CLIENT_ID =821974289132-jo8ou4ru7h60h0eon2fegrsu8btjnetu.apps.googleusercontent.com
PROJECT_GOOGLE_REVERSE_CLIENT_ID = com.googleusercontent.apps.821974289132-jo8ou4ru7h60h0eon2fegrsu8btjnetu
PROJECT_FACEBOOK_ID =204712378394090
PROJECT_TWITTER_ID = twitterkit-R66DHARfuoYAPowApUxNxwbPi
PROJECT_PLIST =HomericInfo
CODE_PUSH_KEY = uXgEYWMf0MRI7SHRzUKkH1UyKqkGKjv_savlC
