#include "Pods/Target Support Files/Pods-available_pods-GoKart/Pods-available_pods-GoKart.release.xcconfig"
PROJECT_APPLE_ID = 1670045883
PROJECT_BUNDLE_ID = com.gokart.order
PROJECT_APP_VERSION = 1.0
PROJECT_BUILD_NUMBER = 1
PROJECT_APP_NAME = GoKart
PROJECT_GOOGLE_CLIENT_ID =275966342137-37ta9oquvilo8uhcabts35frgukvk6rt.apps.googleusercontent.com
PROJECT_GOOGLE_REVERSE_CLIENT_ID =com.googleusercontent.apps.275966342137-37ta9oquvilo8uhcabts35frgukvk6rt
PROJECT_FACEBOOK_ID = 1377564496366407
PROJECT_TWITTER_ID = twitterkit-R66DHARfuoYAPowApUxNxwbPi
PROJECT_PLIST =GoKartInfo
PROJECT_GOOGLE_PLACE_KEY = AIzaSyB85kLYYOmuAhBUPd7odVmL6gnQsSGWU-4
