<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>275966342137-37ta9oquvilo8uhcabts35frgukvk6rt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.275966342137-37ta9oquvilo8uhcabts35frgukvk6rt</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>275966342137-09jlme7t82d67dlq563e824mhnfm9ejr.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBuKC8LAS84kBsv6dNbGCfhCbNMaGRBxaA</string>
	<key>GCM_SENDER_ID</key>
	<string>275966342137</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gokart.order</string>
	<key>PROJECT_ID</key>
	<string>gokart-order</string>
	<key>STORAGE_BUCKET</key>
	<string>gokart-order.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:275966342137:ios:5f27474a6ac1c7ec2c4328</string>
</dict>
</plist>