<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>740151605966-3gkupr886mcm4vam5v817skdma4m1v6h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.740151605966-3gkupr886mcm4vam5v817skdma4m1v6h</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>740151605966-b1nebalppp8gt595srqh8l1hms1rh4p2.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCEQuQMWB2Z9EAqkAhYFtEZ5_FE1wwH1Wg</string>
	<key>GCM_SENDER_ID</key>
	<string>740151605966</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.lex.royoorders</string>
	<key>PROJECT_ID</key>
	<string>lex-ee662</string>
	<key>STORAGE_BUCKET</key>
	<string>lex-ee662.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:740151605966:ios:30c22b82047b3f2cd0ee9f</string>
</dict>
</plist>