<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>691063963805-1chspp35g7oakor8ajjvo07sgq94pgtm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.691063963805-1chspp35g7oakor8ajjvo07sgq94pgtm</string>
	<key>API_KEY</key>
	<string>AIzaSyDPvMtTjPvXADyjSlZG7IK5QyCZYB_joTA</string>
	<key>GCM_SENDER_ID</key>
	<string>691063963805</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bottomsup</string>
	<key>PROJECT_ID</key>
	<string>bottomsup-53763</string>
	<key>STORAGE_BUCKET</key>
	<string>bottomsup-53763.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:691063963805:ios:150178cbac4ab704819474</string>
</dict>
</plist>