<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>242937110599-fteth6ubotm834dau0no1j2d310788js.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.242937110599-fteth6ubotm834dau0no1j2d310788js</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>242937110599-bjok9abm6gejpeqmlli25i2tu3nn9dfk.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDIQBV_kwX2_iDCLYor6NDxYhSrsTdusmY</string>
	<key>GCM_SENDER_ID</key>
	<string>242937110599</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sheRyders.order</string>
	<key>PROJECT_ID</key>
	<string>she-ryders</string>
	<key>STORAGE_BUCKET</key>
	<string>she-ryders.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:242937110599:ios:2950497fdadd35ae131162</string>
</dict>
</plist>