<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>306694553713-80n7nk529du41nr2ov4tak9eg9n32n48.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.306694553713-80n7nk529du41nr2ov4tak9eg9n32n48</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>306694553713-8e0khoms44f0npf15k0mk4g94kj4n40f.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCKO-G-FKLogh2Q_i2CcH18QFS-wytA9GE</string>
	<key>GCM_SENDER_ID</key>
	<string>306694553713</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.lopht</string>
	<key>PROJECT_ID</key>
	<string>lopht-4d10e</string>
	<key>STORAGE_BUCKET</key>
	<string>lopht-4d10e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:306694553713:ios:de8f3f969cdc097a5f9bd0</string>
</dict>
</plist>