#include "Pods/Target Support Files/Pods-available_pods-Lopht/Pods-available_pods-Lopht.release.xcconfig"

PROJECT_APPLE_ID = 1611745181
PROJECT_BUNDLE_ID =com.lopht
PROJECT_APP_VERSION = 1.0
PROJECT_BUILD_NUMBER = 2
PROJECT_APP_NAME = Lopht
PROJECT_GOOGLE_CLIENT_ID =306694553713-80n7nk529du41nr2ov4tak9eg9n32n48.apps.googleusercontent.com
PROJECT_GOOGLE_REVERSE_CLIENT_ID =com.googleusercontent.apps.306694553713-80n7nk529du41nr2ov4tak9eg9n32n48
PROJECT_FACEBOOK_ID = 255203503447916
PROJECT_TWITTER_ID = twitterkit-R66DHARfuoYAPowApUxNxwbPi
PROJECT_PLIST =LophtInfo
PROJECT_GOOGLE_PLACE_KEY = AIzaSyB85kLYYOmuAhBUPd7odVmL6gnQsSGWU-4

