#include "Pods/Target Support Files/Pods-Ublue/Pods-Ublue.debug.xcconfig"

PROJECT_APPLE_ID = 1581728607
PROJECT_BUNDLE_ID = com.ublue
PROJECT_APP_VERSION = 1.0
PROJECT_BUILD_NUMBER = 1
PROJECT_APP_NAME = Ublue
PROJECT_GOOGLE_CLIENT_ID = 217851433217-eeuumo7t5alvoe0q6kskqu3bani6vc41.apps.googleusercontent.com
PROJECT_GOOGLE_REVERSE_CLIENT_ID = com.googleusercontent.apps.217851433217-eeuumo7t5alvoe0q6kskqu3bani6vc41
PROJECT_FACEBOOK_ID = 269117997998413
PROJECT_TWITTER_ID = twitterkit-R66DHARfuoYAPowApUxNxwbPi
PROJECT_PLIST =UblueInfo
PROJECT_GOOGLE_PLACE_KEY = AIzaSyB85kLYYOmuAhBUPd7odVmL6gnQsSGWU-4
