<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1038118654153-15vjdbtuvsf3p84r4sob7ephkouc1aif.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1038118654153-15vjdbtuvsf3p84r4sob7ephkouc1aif</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1038118654153-3upjd71n8klsdb60b0023a1nj5j9du53.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDo1OM5nqWmGv_OqsNygbPjDlaXLajpoC4</string>
	<key>GCM_SENDER_ID</key>
	<string>1038118654153</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.delcolink.royoorders</string>
	<key>PROJECT_ID</key>
	<string>delcolink-72205</string>
	<key>STORAGE_BUCKET</key>
	<string>delcolink-72205.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1038118654153:ios:a11dac59ffdfaad28cbd18</string>
</dict>
</plist>