<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>790888466271-bv3sah17sajeuj7cmdnoh9amur4uci9u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.790888466271-bv3sah17sajeuj7cmdnoh9amur4uci9u</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>790888466271-mi4jvfv65uq3ec2324dgjlb43kk8khcg.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAyjEE9iT19HW7EriODb6Ia62kcpWwJVnc</string>
	<key>GCM_SENDER_ID</key>
	<string>790888466271</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.app.wer</string>
	<key>PROJECT_ID</key>
	<string>wer-77ffd</string>
	<key>STORAGE_BUCKET</key>
	<string>wer-77ffd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:790888466271:ios:1423b0e9649890a5bdd8ea</string>
</dict>
</plist>