<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>966621238190-177da747id14uei024mo5ocvot7030d8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.966621238190-177da747id14uei024mo5ocvot7030d8</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>966621238190-10g4p5eu7gdei9f5ba4i4sj4hfg364db.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyALQebrc9d5DhSxvwfLp4mGGJtmn69jh9c</string>
	<key>GCM_SENDER_ID</key>
	<string>966621238190</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mstechy</string>
	<key>PROJECT_ID</key>
	<string>mstechy-d940e</string>
	<key>STORAGE_BUCKET</key>
	<string>mstechy-d940e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:966621238190:ios:73da4afc3acea95da06e3f</string>
</dict>
</plist>