#include "Pods/Target Support Files/Pods-Vici/Pods-Vici.release.xcconfig"

PROJECT_APPLE_ID = 1582792916
PROJECT_BUNDLE_ID = com.vici
PROJECT_APP_VERSION = 1.0
PROJECT_BUILD_NUMBER = 6
PROJECT_APP_NAME = Vici
PROJECT_GOOGLE_CLIENT_ID =564884329661-nmdnj2lmgrv3j73pmgrnsothfqusb9bn.apps.googleusercontent.com
PROJECT_GOOGLE_REVERSE_CLIENT_ID = com.googleusercontent.apps.564884329661-nmdnj2lmgrv3j73pmgrnsothfqusb9bn
PROJECT_FACEBOOK_ID = 596579681716287
PROJECT_TWITTER_ID = twitterkit-R66DHARfuoYAPowApUxNxwbPi
PROJECT_PLIST = ViciInfo
PROJECT_GOOGLE_PLACE_KEY = AIzaSyB85kLYYOmuAhBUPd7odVmL6gnQsSGWU-4
