<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>703503987704-sa90d3il7m1gqt337aue56bcp8tbncq3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.703503987704-sa90d3il7m1gqt337aue56bcp8tbncq3</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>703503987704-3eajicdvp6pf6nr25i1ograkd9440md7.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBl_ljv-yPNtnAjMl4AftKGkyFnwR5sfB4</string>
	<key>GCM_SENDER_ID</key>
	<string>703503987704</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.liverso.order</string>
	<key>PROJECT_ID</key>
	<string>liverso-order</string>
	<key>STORAGE_BUCKET</key>
	<string>liverso-order.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:703503987704:ios:c58ccd06f39f59c4c1dc0d</string>
</dict>
</plist>