#include "Pods/Target Support Files/Pods-available_pods-Cannabus/Pods-available_pods-Cannabus.debug.xcconfig"


PROJECT_APPLE_ID = 1578712108
PROJECT_BUNDLE_ID = com.cannabus
PROJECT_APP_VERSION = 1.0
PROJECT_BUILD_NUMBER = 3
PROJECT_APP_NAME = Cannabus
PROJECT_GOOGLE_CLIENT_ID = 500093526105-or8gvtk7t8mjnruo7ju60qpmjogklkgv.apps.googleusercontent.com
PROJECT_GOOGLE_REVERSE_CLIENT_ID = com.googleusercontent.apps.500093526105-or8gvtk7t8mjnruo7ju60qpmjogklkgv
PROJECT_FACEBOOK_ID = 170941418241602
PROJECT_TWITTER_ID = twitterkit-R66DHARfuoYAPowApUxNxwbPi
PROJECT_PLIST = CannabusInfo
PROJECT_GOOGLE_PLACE_KEY = AIzaSyB85kLYYOmuAhBUPd7odVmL6gnQsSGWU-4
