<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>500093526105-or8gvtk7t8mjnruo7ju60qpmjogklkgv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.500093526105-or8gvtk7t8mjnruo7ju60qpmjogklkgv</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>500093526105-65c084kd3gb1ina3apuankj3lrt9ndfu.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDOwv20Vky6Ce9HnS_fGtORn8SDRnccmeE</string>
	<key>GCM_SENDER_ID</key>
	<string>500093526105</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.cannabus</string>
	<key>PROJECT_ID</key>
	<string>cannabus-2f14c</string>
	<key>STORAGE_BUCKET</key>
	<string>cannabus-2f14c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:500093526105:ios:6a0f1937c48a5298f15148</string>
</dict>
</plist>