<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1088146101114-3eb6qaqknm56b8ukoo9v2uji00i4b302.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1088146101114-3eb6qaqknm56b8ukoo9v2uji00i4b302</string>
	<key>API_KEY</key>
	<string>AIzaSyDlGNGHDw4x4fe-HJBEr0P7mDNuTPsYp8M</string>
	<key>GCM_SENDER_ID</key>
	<string>1088146101114</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>my.saamanshop.royoorders</string>
	<key>PROJECT_ID</key>
	<string>saamanshop</string>
	<key>STORAGE_BUCKET</key>
	<string>saamanshop.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1088146101114:ios:15334c7f9551fec71b3cc3</string>
</dict>
</plist>