#include "Pods/Target Support Files/Pods-available_pods-Saamanshop/Pods-available_pods-Saamanshop.debug.xcconfig"

PROJECT_APPLE_ID = 6444300431
PROJECT_BUNDLE_ID = my.saamanshop.royoorders
PROJECT_APP_VERSION = 1.0
PROJECT_BUILD_NUMBER = 1
PROJECT_APP_NAME = Saaman shop
PROJECT_GOOGLE_CLIENT_ID = 1088146101114-3eb6qaqknm56b8ukoo9v2uji00i4b302.apps.googleusercontent.com
PROJECT_GOOGLE_REVERSE_CLIENT_ID =com.googleusercontent.apps.1088146101114-3eb6qaqknm56b8ukoo9v2uji00i4b302
PROJECT_FACEBOOK_ID = 1230374404191577
PROJECT_TWITTER_ID = twitterkit-R66DHARfuoYAPowApUxNxwbPi
PROJECT_PLIST =SaamanshopInfo
PROJECT_GOOGLE_PLACE_KEY = AIzaSyB85kLYYOmuAhBUPd7odVmL6gnQsSGWU-4
