#include "Pods/Target Support Files/Pods-available_pods-Rentzy/Pods-available_pods-Rentzy.debug.xcconfig"
PROJECT_APPLE_ID = 6451376505
PROJECT_BUNDLE_ID = com.rentzy.royoorder
PROJECT_APP_VERSION = 1.0
PROJECT_BUILD_NUMBER = 2
PROJECT_APP_NAME = Rentzy
PROJECT_GOOGLE_CLIENT_ID =29455716557-3vhejr37vj1dg5jpaolltduclbhckfc5.apps.googleusercontent.com
PROJECT_GOOGLE_REVERSE_CLIENT_ID =com.googleusercontent.apps.29455716557-3vhejr37vj1dg5jpaolltduclbhckfc5
PROJECT_FACEBOOK_ID = 219279413957755
PROJECT_TWITTER_ID = twitterkit-R66DHARfuoYAPowApUxNxwbPi
PROJECT_PLIST =RentzyInfo
PROJECT_GOOGLE_PLACE_KEY = AIzaSyB85kLYYOmuAhBUPd7odVmL6gnQsSGWU-4
