<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>976065513404-ufumslghnheivkjo0a38t662e5oc9rea.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.976065513404-ufumslghnheivkjo0a38t662e5oc9rea</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>976065513404-89p12n7ltrv2nsk9nknf96uutjbae9mh.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBptBf6b6Ez2jt-X88wKeUhg8Qtq3WeDO4</string>
	<key>GCM_SENDER_ID</key>
	<string>976065513404</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.uryd.royoorders</string>
	<key>PROJECT_ID</key>
	<string>u-ryd-8c39f</string>
	<key>STORAGE_BUCKET</key>
	<string>u-ryd-8c39f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:976065513404:ios:7bf93f29891f25f9870db9</string>
</dict>
</plist>