<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>677034692747-0g67rnfmh5116st30h7cdff6bctkfe8d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.677034692747-0g67rnfmh5116st30h7cdff6bctkfe8d</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>677034692747-3kjbdrin4v38vrf1dsrqdgr7uhkis4t2.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyB-Pq-VbaWoNdw-nS-td11YsHl2ncadw3c</string>
	<key>GCM_SENDER_ID</key>
	<string>677034692747</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nittosadai.orders</string>
	<key>PROJECT_ID</key>
	<string>nittosadai-aba6e</string>
	<key>STORAGE_BUCKET</key>
	<string>nittosadai-aba6e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:677034692747:ios:bf982fe3ec89803f04448e</string>
</dict>
</plist>