#include "Pods/Target Support Files/Pods-available_pods-SpeedyDelivery/Pods-available_pods-SpeedyDelivery.debug.xcconfig"

PROJECT_APPLE_ID = 1659838417
PROJECT_BUNDLE_ID =com.speedydelivery.orders
PROJECT_APP_VERSION = 1.1
PROJECT_BUILD_NUMBER = 1
PROJECT_APP_NAME = Speedy - Delivery & Pickup
PROJECT_GOOGLE_CLIENT_ID = 787954871391-88ilb2dcb06jqhsua7qp4l0av68jsu1s.apps.googleusercontent.com
PROJECT_GOOGLE_REVERSE_CLIENT_ID =com.googleusercontent.apps.787954871391-88ilb2dcb06jqhsua7qp4l0av68jsu1s
PROJECT_FACEBOOK_ID = 827349891786741
PROJECT_TWITTER_ID = twitterkit-R66DHARfuoYAPowApUxNxwbPi
PROJECT_PLIST =SpeedyDeliveryInfo
PROJECT_GOOGLE_PLACE_KEY = AIzaSyB85kLYYOmuAhBUPd7odVmL6gnQsSGWU-4

