<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>526027781955-u9a08ugpjnrj1tpmag9drrfbi1bf15hj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.526027781955-u9a08ugpjnrj1tpmag9drrfbi1bf15hj</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>526027781955-81tevhh87s0j761q54q6hnl4js3866cj.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyB6A_mXYV9o2uhiLKYkIAlLSAilg-001yM</string>
	<key>GCM_SENDER_ID</key>
	<string>526027781955</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.loamscape.royoorders</string>
	<key>PROJECT_ID</key>
	<string>loamscape</string>
	<key>STORAGE_BUCKET</key>
	<string>loamscape.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:526027781955:ios:80f2bfd26506baf06421f6</string>
</dict>
</plist>