<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1026953992389-3km84mmbkh57qv9l2boe7mi1fl86r90q.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1026953992389-3km84mmbkh57qv9l2boe7mi1fl86r90q</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1026953992389-csplg09h0l27sarlp4f37n8ddj63ndie.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCl3xnaf2Q8fSpmF9SxO2iRZjk6I5Tt5xk</string>
	<key>GCM_SENDER_ID</key>
	<string>1026953992389</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tezras.royoorders</string>
	<key>PROJECT_ID</key>
	<string>tezras-e9fcd</string>
	<key>STORAGE_BUCKET</key>
	<string>tezras-e9fcd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1026953992389:ios:720d0c98d85244da7f38ac</string>
</dict>
</plist>