#include "Pods/Target Support Files/Pods-available_pods-Tezras/Pods-available_pods-Tezras.debug.xcconfig"

PROJECT_APPLE_ID = 1644826211
PROJECT_BUNDLE_ID =com.tezras.royoorders
PROJECT_APP_VERSION = 1.0
PROJECT_BUILD_NUMBER = 1
PROJECT_APP_NAME = Tezras
PROJECT_GOOGLE_CLIENT_ID =1026953992389-3km84mmbkh57qv9l2boe7mi1fl86r90q.apps.googleusercontent.com
PROJECT_GOOGLE_REVERSE_CLIENT_ID =com.googleusercontent.apps.1026953992389-3km84mmbkh57qv9l2boe7mi1fl86r90q
PROJECT_FACEBOOK_ID = 1037040973636654
PROJECT_TWITTER_ID = twitterkit-R66DHARfuoYAPowApUxNxwbPi
PROJECT_PLIST =TezrasInfo
PROJECT_GOOGLE_PLACE_KEY = AIzaSyB85kLYYOmuAhBUPd7odVmL6gnQsSGWU-4

