<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>183404154774-dgehpa66f420q8doifkj5n8siuq6f5r6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.183404154774-dgehpa66f420q8doifkj5n8siuq6f5r6</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>183404154774-1gmseh80t6mf2upj2qemn3o2r0brk8kk.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyANmFiSpJFJNOdaRmmkNXD4ScrZ5rRJrLk</string>
	<key>GCM_SENDER_ID</key>
	<string>183404154774</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.stonses</string>
	<key>PROJECT_ID</key>
	<string>stonses</string>
	<key>STORAGE_BUCKET</key>
	<string>stonses.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:183404154774:ios:8f994ca88d29af2aed97b7</string>
</dict>
</plist>