<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1080174808883-nlojqcllj7mcgk0cv6rq32m8b6a3ccpc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1080174808883-nlojqcllj7mcgk0cv6rq32m8b6a3ccpc</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1080174808883-65b1n7vsnekne6i90ib8qf4pdckh9ph5.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAIOp-MDZbo9vpoGR_H6fp8aAF1j_nwTd8</string>
	<key>GCM_SENDER_ID</key>
	<string>1080174808883</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.medicab</string>
	<key>PROJECT_ID</key>
	<string>medicab-51b06</string>
	<key>STORAGE_BUCKET</key>
	<string>medicab-51b06.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1080174808883:ios:74c38371b055b83425b846</string>
</dict>
</plist>