<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>922027751956-noiskko2vj695rjm9sceng35pje8nb8l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.922027751956-noiskko2vj695rjm9sceng35pje8nb8l</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>922027751956-0olanjodcqrlm99dceeljk1b1est67u1.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyARwQSDLr5td5QgC1rbANbpaQlClgwcZdI</string>
	<key>GCM_SENDER_ID</key>
	<string>922027751956</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.peerDeliveries</string>
	<key>PROJECT_ID</key>
	<string>peerdeliveries-44f3d</string>
	<key>STORAGE_BUCKET</key>
	<string>peerdeliveries-44f3d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:922027751956:ios:81a5cdb2cde4dd97a6c501</string>
</dict>
</plist>