<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>800039419185-qdifl6uco95l1lavi9125q9rl5je1ta3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.800039419185-qdifl6uco95l1lavi9125q9rl5je1ta3</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>800039419185-aiv9ddng9mlp7bida2ndh4jbnuk0ov3n.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyA-8dN5C0CGaBadi3t9hhLGiZo9wSaYZ38</string>
	<key>GCM_SENDER_ID</key>
	<string>800039419185</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kazakazi</string>
	<key>PROJECT_ID</key>
	<string>kazakazi-e4f3c</string>
	<key>STORAGE_BUCKET</key>
	<string>kazakazi-e4f3c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:800039419185:ios:2305674d87d040726e4410</string>
</dict>
</plist>