<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>896798245087-39rnt4a2d1o4l5a5oh994mge89p6i02r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.896798245087-39rnt4a2d1o4l5a5oh994mge89p6i02r</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>896798245087-ea80bc52b8f3gj26dc9n9t3ejlic58u5.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyA_3-qqXNdGgWioainZw_vxvdFAyFrl6xQ</string>
	<key>GCM_SENDER_ID</key>
	<string>896798245087</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.click2deliver.customer</string>
	<key>PROJECT_ID</key>
	<string>click2deliver-ef20b</string>
	<key>STORAGE_BUCKET</key>
	<string>click2deliver-ef20b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:896798245087:ios:ba5334c19bd0f18b4ca96a</string>
</dict>
</plist>