<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>343264488514-ibc1kcj650lq3k9giqch1d3u7s1p791a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.343264488514-ibc1kcj650lq3k9giqch1d3u7s1p791a</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>343264488514-dgtg6dfs8vvi9htqerv6psaitjub3fv6.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBTI_4E8cjjw1FXLQY74wHLAiDQSxlqfT0</string>
	<key>GCM_SENDER_ID</key>
	<string>343264488514</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.todaysDeliverys.royoorders</string>
	<key>PROJECT_ID</key>
	<string>todays-deliverys</string>
	<key>STORAGE_BUCKET</key>
	<string>todays-deliverys.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:343264488514:ios:725fad4ac213b5253dd1db</string>
</dict>
</plist>