<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>539178798282-gvcp22bkk95be3u970el11m3u0o059ad.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.539178798282-gvcp22bkk95be3u970el11m3u0o059ad</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>539178798282-3adctagas5g55m4sv9eli4uu35a6hmgl.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCy51FYApGAjDAY256ucLL4Y-251IYfVC0</string>
	<key>GCM_SENDER_ID</key>
	<string>539178798282</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.scoopaTechnologies</string>
	<key>PROJECT_ID</key>
	<string>scoopatechnologies</string>
	<key>STORAGE_BUCKET</key>
	<string>scoopatechnologies.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:539178798282:ios:7739869c811770abb6f833</string>
</dict>
</plist>