#include "Pods/Target Support Files/Pods-available_pods-ScoopaTechnologies/Pods-available_pods-ScoopaTechnologies.debug.xcconfig"

PROJECT_APPLE_ID = 1612623200
PROJECT_BUNDLE_ID =com.scoopaTechnologies
PROJECT_APP_VERSION = 1.0
PROJECT_BUILD_NUMBER = 6
PROJECT_APP_NAME = Scoopa Technologies
PROJECT_GOOGLE_CLIENT_ID =539178798282-gvcp22bkk95be3u970el11m3u0o059ad.apps.googleusercontent.com
PROJECT_GOOGLE_REVERSE_CLIENT_ID =com.googleusercontent.apps.539178798282-gvcp22bkk95be3u970el11m3u0o059ad
PROJECT_FACEBOOK_ID = 1140189740074247
PROJECT_TWITTER_ID = twitterkit-R66DHARfuoYAPowApUxNxwbPi
PROJECT_PLIST =ScoopaTechnologiesInfo
PROJECT_GOOGLE_PLACE_KEY = AIzaSyB85kLYYOmuAhBUPd7odVmL6gnQsSGWU-4
