<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>698665234455-mi5l65085re7vm03gelovd3mr4o82eku.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.698665234455-mi5l65085re7vm03gelovd3mr4o82eku</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>698665234455-6nal2o77ii0frr5g42boisp10j0s4ri7.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAAYs8LLk1amseClp3pQaW4hVLn4B4eh4E</string>
	<key>GCM_SENDER_ID</key>
	<string>698665234455</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.pickmeup.customer</string>
	<key>PROJECT_ID</key>
	<string>pickmeup-758c1</string>
	<key>STORAGE_BUCKET</key>
	<string>pickmeup-758c1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:698665234455:ios:b02e65a9fb22f9383d2c52</string>
</dict>
</plist>