#include "Pods/Target Support Files/Pods-available_pods-PickMeUp/Pods-available_pods-PickMeUp.debug.xcconfig"

PROJECT_APPLE_ID = 1587339165
PROJECT_BUNDLE_ID = com.pickmeup.customer
PROJECT_APP_VERSION = 1.0
PROJECT_BUILD_NUMBER = 2
PROJECT_APP_NAME =PickMeUp
PROJECT_GOOGLE_CLIENT_ID =698665234455-mi5l65085re7vm03gelovd3mr4o82eku.apps.googleusercontent.com
PROJECT_GOOGLE_REVERSE_CLIENT_ID = com.googleusercontent.apps.698665234455-mi5l65085re7vm03gelovd3mr4o82eku
PROJECT_FACEBOOK_ID =604598594310137
PROJECT_TWITTER_ID = twitterkit-R66DHARfuoYAPowApUxNxwbPi
PROJECT_PLIST =PickMeUpInfo
//PROJECT_GOOGLE_PLACE_KEY = AIzaSyB85kLYYOmuAhBUPd7odVmL6gnQsSGWU-4
