<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>24412905467-lv4hu9jeqiipgdukn9bj5qiked7qutr3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.24412905467-lv4hu9jeqiipgdukn9bj5qiked7qutr3</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>24412905467-hilns93g0h5qam9ent3ig2tjncbn1omp.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBFTeh-u1VjWk5WwJ0MfAtkE3xXS7bc0ho</string>
	<key>GCM_SENDER_ID</key>
	<string>24412905467</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.TJJHub</string>
	<key>PROJECT_ID</key>
	<string>tjj-hub</string>
	<key>STORAGE_BUCKET</key>
	<string>tjj-hub.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:24412905467:ios:27d87ce42fb95ac2c3355e</string>
</dict>
</plist>