<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1287388165-j92ktfjunsba15s7p7hic8ak9l2m9pn9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1287388165-j92ktfjunsba15s7p7hic8ak9l2m9pn9</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1287388165-el680o885fqo9se7t6olu3p7pulupnu5.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBA0_PORL8-2h2xUQNlv9ug4FSTLB0zXdU</string>
	<key>GCM_SENDER_ID</key>
	<string>1287388165</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rally.order</string>
	<key>PROJECT_ID</key>
	<string>rally-order</string>
	<key>STORAGE_BUCKET</key>
	<string>rally-order.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1287388165:ios:d6e889cb3174d9cf2a306c</string>
</dict>
</plist>