<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>302892168817-9agqkd4o42nkqm807cqbnen61bqon2l2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.302892168817-9agqkd4o42nkqm807cqbnen61bqon2l2</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>302892168817-dsplbvkav0g11b9alj0j8ttom4u7faml.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyB9BhK-GKLPTtqSRjJ3hXbDr831973nK-k</string>
	<key>GCM_SENDER_ID</key>
	<string>302892168817</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.chipetaxi</string>
	<key>PROJECT_ID</key>
	<string>chipetaxi</string>
	<key>STORAGE_BUCKET</key>
	<string>chipetaxi.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:302892168817:ios:0d600ba2e4ba0da7d34dd0</string>
</dict>
</plist>