#include "Pods/Target Support Files/Pods-eBOYO/Pods-eBOYO.debug.xcconfig"

PROJECT_APPLE_ID = 1586813999
PROJECT_BUNDLE_ID = com.eboyo
PROJECT_APP_VERSION = 1.0
PROJECT_BUILD_NUMBER = 1
PROJECT_APP_NAME = eBOYO
PROJECT_GOOGLE_CLIENT_ID =749324099290-d55j1k4efma18kfp1ueec2obej1r00au.apps.googleusercontent.com
PROJECT_GOOGLE_REVERSE_CLIENT_ID = com.googleusercontent.apps.749324099290-d55j1k4efma18kfp1ueec2obej1r00au
PROJECT_FACEBOOK_ID =564920301326276
PROJECT_TWITTER_ID = twitterkit-R66DHARfuoYAPowApUxNxwbPi
PROJECT_PLIST =eBOYOInfo
PROJECT_GOOGLE_PLACE_KEY = AIzaSyB85kLYYOmuAhBUPd7odVmL6gnQsSGWU-4
