<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>749324099290-d55j1k4efma18kfp1ueec2obej1r00au.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.749324099290-d55j1k4efma18kfp1ueec2obej1r00au</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>749324099290-7bpi3kr5svfisu1eq4f95iietco2vff9.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBUKx6Ob6NIvYVgsjdSO22b5vj-og2e04w</string>
	<key>GCM_SENDER_ID</key>
	<string>749324099290</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.eboyo</string>
	<key>PROJECT_ID</key>
	<string>eboyo-9b3f6</string>
	<key>STORAGE_BUCKET</key>
	<string>eboyo-9b3f6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:749324099290:ios:289cf7d13eff26eb2b8fe3</string>
</dict>
</plist>