#include "Pods/Target Support Files/Pods-available_pods-Choizez/Pods-available_pods-Choizez.release.xcconfig"

PROJECT_APPLE_ID = 1636659711
PROJECT_BUNDLE_ID =com.choizez.order
PROJECT_APP_VERSION = 1.0
PROJECT_BUILD_NUMBER = 1
PROJECT_APP_NAME =Choizez
PROJECT_GOOGLE_CLIENT_ID =883328462820-qiu55po1iigjig6hinbr1l553h1ft868.apps.googleusercontent.com
PROJECT_GOOGLE_REVERSE_CLIENT_ID =com.googleusercontent.apps.883328462820-qiu55po1iigjig6hinbr1l553h1ft868
PROJECT_FACEBOOK_ID = 901823077876540
PROJECT_TWITTER_ID = twitterkit-R66DHARfuoYAPowApUxNxwbPi
PROJECT_PLIST =ChoizezInfo
PROJECT_GOOGLE_PLACE_KEY = AIzaSyB85kLYYOmuAhBUPd7odVmL6gnQsSGWU-4
