<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>883328462820-qiu55po1iigjig6hinbr1l553h1ft868.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.883328462820-qiu55po1iigjig6hinbr1l553h1ft868</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>883328462820-1os89rlsgevr4gmn1h5ahnhfq0vfehv3.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyC8P_4SDDAHUm4oVEMSLILbwL0W1L3LOdw</string>
	<key>GCM_SENDER_ID</key>
	<string>883328462820</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.choizez.order</string>
	<key>PROJECT_ID</key>
	<string>choizez-d6a72</string>
	<key>STORAGE_BUCKET</key>
	<string>choizez-d6a72.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:883328462820:ios:e3f8e9e1ab7ef33141a1f1</string>
</dict>
</plist>