<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>763580318308-2t4j0ivu49l5qoq4bkikkc02d0u6hicp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.763580318308-2t4j0ivu49l5qoq4bkikkc02d0u6hicp</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>763580318308-1ib9rcockusaigl11qeaq78sl6fjc6ur.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBowD5PliuR5coag57MY_DUYCjOcxynosY</string>
	<key>GCM_SENDER_ID</key>
	<string>763580318308</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.doober.royoorders</string>
	<key>PROJECT_ID</key>
	<string>doober-9d8d1</string>
	<key>STORAGE_BUCKET</key>
	<string>doober-9d8d1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:763580318308:ios:d79d677d61321478d7d571</string>
</dict>
</plist>