<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>219858039957-dm14out70v2phnilbfd0m1q4jm4nr7au.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.219858039957-dm14out70v2phnilbfd0m1q4jm4nr7au</string>
	<key>API_KEY</key>
	<string>AIzaSyD_WbZdV6uUtwRujjJhsINhp2fcVAnQhYU</string>
	<key>GCM_SENDER_ID</key>
	<string>219858039957</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.viversbox</string>
	<key>PROJECT_ID</key>
	<string>viversbox</string>
	<key>STORAGE_BUCKET</key>
	<string>viversbox.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:219858039957:ios:a30b483ff38b154dddd79c</string>
</dict>
</plist>