<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>819293644050-8io3r4ivnjju0f5qorojhjc4i8fnuiql.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.819293644050-8io3r4ivnjju0f5qorojhjc4i8fnuiql</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>819293644050-g9j4em11vp4238od4jq8vkr4rmpo4mdg.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAc7T8i1r3edVuMWJiT48NkWYAd1ERd7Vg</string>
	<key>GCM_SENDER_ID</key>
	<string>819293644050</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.viversbox.user</string>
	<key>PROJECT_ID</key>
	<string>viversbox-user</string>
	<key>STORAGE_BUCKET</key>
	<string>viversbox-user.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:819293644050:ios:92b63bb5d59a2e1d1e3fcb</string>
</dict>
</plist>