<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>14189683446-7tvqear71lmrs1i4lrq8v5ut895bik7g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.14189683446-7tvqear71lmrs1i4lrq8v5ut895bik7g</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>14189683446-16kpe4tgh34dv0gjkt9hgi9npidu5m94.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDPopoWudkN3vpIZAJDEwyvpv8z2MF6n3Y</string>
	<key>GCM_SENDER_ID</key>
	<string>14189683446</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.flycommerce.royoorders</string>
	<key>PROJECT_ID</key>
	<string>fly-commerce-737e4</string>
	<key>STORAGE_BUCKET</key>
	<string>fly-commerce-737e4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:14189683446:ios:be4cd4515457c72deb42d7</string>
</dict>
</plist>