<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>326481362111-k2umr9vmf85a3fc1mah8u5s1v43lg55n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.326481362111-k2umr9vmf85a3fc1mah8u5s1v43lg55n</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>326481362111-9gejr5nebuhd1u0lc1hknjajokt3520d.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDyOYbuLLfaMD40VcxV0wstDiKL3swMT3c</string>
	<key>GCM_SENDER_ID</key>
	<string>326481362111</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.customer.grub</string>
	<key>PROJECT_ID</key>
	<string>grub-2689a</string>
	<key>STORAGE_BUCKET</key>
	<string>grub-2689a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:326481362111:ios:5fa19c643c403b68285a0a</string>
</dict>
</plist>
