<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1014225673698-165lv6483brpd2vhl2bmdj92v8b1dabp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1014225673698-165lv6483brpd2vhl2bmdj92v8b1dabp</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1014225673698-1it6jdj37434ksdql4k29nr8q2pe67kg.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAz2-lEiaUFbmyH3io2c7s7c64XwqF9U9c</string>
	<key>GCM_SENDER_ID</key>
	<string>1014225673698</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.order.bliss</string>
	<key>PROJECT_ID</key>
	<string>bliss-8eb38</string>
	<key>STORAGE_BUCKET</key>
	<string>bliss-8eb38.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1014225673698:ios:6be78d76243679db7f6dbb</string>
</dict>
</plist>