<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>430510586576-0f86l6v11nerkq0ccq8i4tm4og906svq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.430510586576-0f86l6v11nerkq0ccq8i4tm4og906svq</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>430510586576-0b06q9vtsm4rons5orgct5eesgah0seq.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyC7FqIaLQxNFFU13AHs8Nk0Dh7xiLIanLA</string>
	<key>GCM_SENDER_ID</key>
	<string>430510586576</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.iPicknDrop.order</string>
	<key>PROJECT_ID</key>
	<string>ipd-order</string>
	<key>STORAGE_BUCKET</key>
	<string>ipd-order.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:430510586576:ios:6f92620020f4bed5613cd5</string>
</dict>
</plist>