<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>927603963989-v65be4bsnl6a7rrim3jd5ophmlbgn8m9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.927603963989-v65be4bsnl6a7rrim3jd5ophmlbgn8m9</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>927603963989-6dlu61fumav998eq75iajnd0kcc67a7q.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBMBZWwiTAdQaLBCjjsdX1N54YBVQSUfVo</string>
	<key>GCM_SENDER_ID</key>
	<string>927603963989</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.cabio</string>
	<key>PROJECT_ID</key>
	<string>cabio-be8d8</string>
	<key>STORAGE_BUCKET</key>
	<string>cabio-be8d8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:927603963989:ios:3bdbaa39a493772f0fbcdc</string>
</dict>
</plist>