<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>457286859168-sk9b29gk1ueqr12lq480aomsphfheovq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.457286859168-sk9b29gk1ueqr12lq480aomsphfheovq</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>457286859168-41v0p3o5i7afq87flr4kdh7pj5h0u00f.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDgUzqDZnG1JUIPqGCnCwA1KkGa5ZN9ajo</string>
	<key>GCM_SENDER_ID</key>
	<string>457286859168</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ElentaMart</string>
	<key>PROJECT_ID</key>
	<string>elentamart-808ea</string>
	<key>STORAGE_BUCKET</key>
	<string>elentamart-808ea.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:457286859168:ios:771131748ca71841974cc5</string>
</dict>
</plist>