<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>440096476319-uhbhabe6skat08l457gsqvs28dmj08b4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.440096476319-uhbhabe6skat08l457gsqvs28dmj08b4</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>440096476319-75b2cuee77i3kfho43cto33pnngm7bfs.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBg2seRjpP3e6MKKmR2VyoLBp5PiG8LteI</string>
	<key>GCM_SENDER_ID</key>
	<string>440096476319</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.booziedoozie</string>
	<key>PROJECT_ID</key>
	<string>boozie-doozie</string>
	<key>STORAGE_BUCKET</key>
	<string>boozie-doozie.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:440096476319:ios:fe2089cc1ff73c21b426aa</string>
</dict>
</plist>