<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>652597207931-v67ohiohag63vg04a3kc9dakutb1vh4u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.652597207931-v67ohiohag63vg04a3kc9dakutb1vh4u</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>652597207931-1s6i6ivpkahui103dejbudhsup1ajcgf.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCblPpFKg7HEQ-Lva4vZuo8ds6BHJu6_GQ</string>
	<key>GCM_SENDER_ID</key>
	<string>652597207931</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.orderFirst</string>
	<key>PROJECT_ID</key>
	<string>orderfirst-4b5c0</string>
	<key>STORAGE_BUCKET</key>
	<string>orderfirst-4b5c0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:652597207931:ios:aa9198be3bfe5816c153de</string>
</dict>
</plist>