#include "Pods/Target Support Files/Pods-available_pods-OrderFirst/Pods-available_pods-OrderFirst.Release.xcconfig"

PROJECT_APPLE_ID = 1624424011
PROJECT_BUNDLE_ID = com.orderFirst
PROJECT_APP_VERSION = 1.0
PROJECT_BUILD_NUMBER = 2
PROJECT_APP_NAME = OrderFirst
PROJECT_GOOGLE_CLIENT_ID = 652597207931-v67ohiohag63vg04a3kc9dakutb1vh4u.apps.googleusercontent.com
PROJECT_GOOGLE_REVERSE_CLIENT_ID = com.googleusercontent.apps.652597207931-v67ohiohag63vg04a3kc9dakutb1vh4u
PROJECT_FACEBOOK_ID = 807845263524730
PROJECT_TWITTER_ID = twitterkit-R66DHARfuoYAPowApUxNxwbPi
PROJECT_PLIST =OrderFirstInfo
PROJECT_GOOGLE_PLACE_KEY = AIzaSyB85kLYYOmuAhBUPd7odVmL6gnQsSGWU-4

