<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>187230408620-0nv1sh37816vvmtdn0rp59j80ud67bs8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.187230408620-0nv1sh37816vvmtdn0rp59j80ud67bs8</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>187230408620-5dad2bn1fnqhlf6ma6hgd4lq8ia1isg4.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyB6uQEzx4ukM0HtlNrVR72bX5Ht8odh8cg</string>
	<key>GCM_SENDER_ID</key>
	<string>187230408620</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.customer.smile</string>
	<key>PROJECT_ID</key>
	<string>smile-9cb65</string>
	<key>STORAGE_BUCKET</key>
	<string>smile-9cb65.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:187230408620:ios:8a567d7883b476bb93f409</string>
</dict>
</plist>