<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>540430558476-03sujknp5tqmuosiegof9mehu99dqe4n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.540430558476-03sujknp5tqmuosiegof9mehu99dqe4n</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>540430558476-27i4aecg9k5moi705ieuba2q9mhqumtf.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBcqzVFpWuMo3fZdHRWclBdWo7u1mkGOcE</string>
	<key>GCM_SENDER_ID</key>
	<string>540430558476</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ebay.order</string>
	<key>PROJECT_ID</key>
	<string>ebay-order</string>
	<key>STORAGE_BUCKET</key>
	<string>ebay-order.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:540430558476:ios:4db01a5739350470ff5529</string>
</dict>
</plist>