<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>79779261194-gagfabulvejnqj931ski687rh9auds59.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.79779261194-gagfabulvejnqj931ski687rh9auds59</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>79779261194-dqb56qaq42j7r6rcgkvegtd11jk5fgrl.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDCD-mszGQYVfFjcn9V4HR9Xy2ahd8Ub0M</string>
	<key>GCM_SENDER_ID</key>
	<string>79779261194</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.greenCab.order</string>
	<key>PROJECT_ID</key>
	<string>green-cab-1bd78</string>
	<key>STORAGE_BUCKET</key>
	<string>green-cab-1bd78.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:79779261194:ios:8c6d05fe70b4034d59a8f3</string>
</dict>
</plist>