<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>286844476920-q4j5n6grr8qu9aplmfb0danfc451m4ak.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.286844476920-q4j5n6grr8qu9aplmfb0danfc451m4ak</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>286844476920-2i07uimtrlufui8c4khpgf4k1vufsdug.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBcEXld673FNC2RIJ-MTmkEASovrUlQSkA</string>
	<key>GCM_SENDER_ID</key>
	<string>286844476920</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.shoparixOrder.royoorder</string>
	<key>PROJECT_ID</key>
	<string>shoparix-order</string>
	<key>STORAGE_BUCKET</key>
	<string>shoparix-order.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:286844476920:ios:aef78b3467ce48e92b0a0d</string>
</dict>
</plist>