<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>333968937334-k5ufem0ci60cn6qas8jduocfi977evge.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.333968937334-k5ufem0ci60cn6qas8jduocfi977evge</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>333968937334-7ihg9fu7r7ndebr0jdps3r1865uacs3k.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDEILC1cCjWbSaKmebR3qpHGE89Lw8Usww</string>
	<key>GCM_SENDER_ID</key>
	<string>333968937334</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.glamsouq.customer</string>
	<key>PROJECT_ID</key>
	<string>glamsouq-75278</string>
	<key>STORAGE_BUCKET</key>
	<string>glamsouq-75278.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:333968937334:ios:f400a435677fd2bea1aa57</string>
</dict>
</plist>