<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>289528596189-t4vko6uhdddk0ifaid5veupkmca30kg8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.289528596189-t4vko6uhdddk0ifaid5veupkmca30kg8</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>289528596189-07t8ndarco8bj1e4f8aa3aajhmim3v2g.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAshkhwV8rwuB3DfXFcgxoYJjDcFSHcWOk</string>
	<key>GCM_SENDER_ID</key>
	<string>289528596189</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.happysingh.royoorders</string>
	<key>PROJECT_ID</key>
	<string>happy-singh-443ad</string>
	<key>STORAGE_BUCKET</key>
	<string>happy-singh-443ad.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:289528596189:ios:f04095e382187a83837d34</string>
</dict>
</plist>