<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>100144117339-esrv6u6bl36qfov7i1plm7t2lp8bpmvf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.100144117339-esrv6u6bl36qfov7i1plm7t2lp8bpmvf</string>
	<key>API_KEY</key>
	<string>AIzaSyCYOXtdigp4740pExjkzxMwb4YoyjZqnsQ</string>
	<key>GCM_SENDER_ID</key>
	<string>100144117339</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ufood</string>
	<key>PROJECT_ID</key>
	<string>ufood-9fb98</string>
	<key>STORAGE_BUCKET</key>
	<string>ufood-9fb98.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:100144117339:ios:112d5b561b941f5485b17e</string>
</dict>
</plist>