#include "Pods/Target Support Files/Pods-UFood/Pods-UFood.debug.xcconfig"


PROJECT_APPLE_ID = 1577693770
PROJECT_BUNDLE_ID = com.ufood
PROJECT_APP_VERSION = 1.0
PROJECT_BUILD_NUMBER = 1
PROJECT_APP_NAME = UFood
PROJECT_GOOGLE_CLIENT_ID = 100144117339-esrv6u6bl36qfov7i1plm7t2lp8bpmvf.apps.googleusercontent.com
PROJECT_GOOGLE_REVERSE_CLIENT_ID = com.googleusercontent.apps.100144117339-esrv6u6bl36qfov7i1plm7t2lp8bpmvf
PROJECT_FACEBOOK_ID = 170941418241602
PROJECT_TWITTER_ID = twitterkit-R66DHARfuoYAPowApUxNxwbPi
PROJECT_PLIST = UFoodInfo
PROJECT_GOOGLE_PLACE_KEY = AIzaSyB85kLYYOmuAhBUPd7odVmL6gnQsSGWU-4
