<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>487252403559-7dh9ismasgki9uev2t6uuq85i16fqh8b.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.487252403559-7dh9ismasgki9uev2t6uuq85i16fqh8b</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>487252403559-1d0rbgf4fjnkme1o4ibl52giiii1p749.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAowH9VG1FEr0ESONxNcOp65lJfD_Y6PvY</string>
	<key>GCM_SENDER_ID</key>
	<string>487252403559</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.swipe.order</string>
	<key>PROJECT_ID</key>
	<string>swipe-ef4e7</string>
	<key>STORAGE_BUCKET</key>
	<string>swipe-ef4e7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:487252403559:ios:4332a282d5f81ed9b9fbc2</string>
</dict>
</plist>