<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>252020596505-vqs0fh7aevt59uv82kichqc1qfci0b1o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.252020596505-vqs0fh7aevt59uv82kichqc1qfci0b1o</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>252020596505-0a4g30icil34aidmgrt7qcj9dajdn4rd.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAWMjKnhhDNLq7ue1bAgWxm2CWCirKqRY0</string>
	<key>GCM_SENDER_ID</key>
	<string>252020596505</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tumbak</string>
	<key>PROJECT_ID</key>
	<string>tumbak-d5ceb</string>
	<key>STORAGE_BUCKET</key>
	<string>tumbak-d5ceb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:252020596505:ios:e9877768cd35ee6b8eef88</string>
</dict>
</plist>