<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>605126619605-6ehmfi238ddj8rjcp8s40td13vtvtgi3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.605126619605-6ehmfi238ddj8rjcp8s40td13vtvtgi3</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>605126619605-3hn2g7nlcnu67ve1ghvk8i37mb16ra5i.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAri7gMFBrXEBohICuceUhKUcpRn_L5wDU</string>
	<key>GCM_SENDER_ID</key>
	<string>605126619605</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rumbella.royoorders</string>
	<key>PROJECT_ID</key>
	<string>rumbella-ac8a8</string>
	<key>STORAGE_BUCKET</key>
	<string>rumbella-ac8a8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:605126619605:ios:be3950a15fb85a4c164d5c</string>
</dict>
</plist>