<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1001809572790-0ph7deekqqflqtcfpfbem8gs4lcpj04i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1001809572790-0ph7deekqqflqtcfpfbem8gs4lcpj04i</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1001809572790-h2g2e7dcdds674qp08auofb2207esnr1.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCH8y0DH23SaciYiHeNHLp5gzjf5lntQ0E</string>
	<key>GCM_SENDER_ID</key>
	<string>1001809572790</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hemptyfy</string>
	<key>PROJECT_ID</key>
	<string>hempty-fy</string>
	<key>STORAGE_BUCKET</key>
	<string>hempty-fy.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1001809572790:ios:2fce17a9c6ae69da20c717</string>
</dict>
</plist>