<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>851759258057-g5bd87c2a1ougmoci0glh36c9bbbs4pk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.851759258057-g5bd87c2a1ougmoci0glh36c9bbbs4pk</string>
	<key>API_KEY</key>
	<string>AIzaSyDxkXgYqjsEuaT3GuVWeCOpbMG75e2vLJk</string>
	<key>GCM_SENDER_ID</key>
	<string>851759258057</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.flybuilder.royoorders</string>
	<key>PROJECT_ID</key>
	<string>fly-builder</string>
	<key>STORAGE_BUCKET</key>
	<string>fly-builder.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:851759258057:ios:b81ee710e4a6c02f427018</string>
</dict>
</plist>