<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>822943885160-5ic2e3h9sbickcmfmmvscesf97c8h1fs.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.822943885160-5ic2e3h9sbickcmfmmvscesf97c8h1fs</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>822943885160-5fit6e20sg6tbo6kalb0slei1or2626v.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAr9WD3OujkDlU2le_Tq-Wz88h79KRxiV8</string>
	<key>GCM_SENDER_ID</key>
	<string>822943885160</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.privatepremiumpickups</string>
	<key>PROJECT_ID</key>
	<string>private-premium-pickups</string>
	<key>STORAGE_BUCKET</key>
	<string>private-premium-pickups.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:822943885160:ios:766f57779bafdd4a3958dd</string>
</dict>
</plist>