<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>365582678311-eumqoqqs8giibrncc9alrd4i26n4ml4g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.365582678311-eumqoqqs8giibrncc9alrd4i26n4ml4g</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>365582678311-dklrcr04tjk94eubpu1ip9ba1ep85qh9.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCrp-oY5fdSOINymtQ8o11MftRuU14grQM</string>
	<key>GCM_SENDER_ID</key>
	<string>365582678311</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.yogolift.orders</string>
	<key>PROJECT_ID</key>
	<string>yogolift-orders</string>
	<key>STORAGE_BUCKET</key>
	<string>yogolift-orders.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:365582678311:ios:a637425d839e6612ae1102</string>
</dict>
</plist>