<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>518609052836-roiks7a7m6c7e7jjano6pbptvfbare3o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.518609052836-roiks7a7m6c7e7jjano6pbptvfbare3o</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>518609052836-9m69terhs1nnnri7mi71t53gpc4i29rj.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAiZ3ZkSbiSANVgKaNO73BLAfDUVKXLyKg</string>
	<key>GCM_SENDER_ID</key>
	<string>518609052836</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.vdu.order</string>
	<key>PROJECT_ID</key>
	<string>vdu-fb790</string>
	<key>STORAGE_BUCKET</key>
	<string>vdu-fb790.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:518609052836:ios:c1ff1ea03ee4a04bb43231</string>
</dict>
</plist>