<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>32567487439-n5p0jbuasubvjg8sf54rv1mgtifj6oog.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.32567487439-n5p0jbuasubvjg8sf54rv1mgtifj6oog</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>32567487439-29l58nrsrd75jsg5ic5cgcq5teaigr6g.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAchAhqEfPkQcBkPwBweiOrPJFF4T8mvIE</string>
	<key>GCM_SENDER_ID</key>
	<string>32567487439</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.yummiidash</string>
	<key>PROJECT_ID</key>
	<string>yummiidash</string>
	<key>STORAGE_BUCKET</key>
	<string>yummiidash.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:32567487439:ios:d308b5ce0ea9dc9d0ac0ba</string>
</dict>
</plist>