#include "Pods/Target Support Files/Pods-Yummiidash/Pods-Yummiidash.debug.xcconfig"


PROJECT_APPLE_ID = 1581541154
PROJECT_BUNDLE_ID = com.yummiidash
PROJECT_APP_VERSION = 1.0
PROJECT_BUILD_NUMBER = 2
PROJECT_APP_NAME = Yummiidash
PROJECT_GOOGLE_CLIENT_ID = 32567487439-n5p0jbuasubvjg8sf54rv1mgtifj6oog.apps.googleusercontent.com
PROJECT_GOOGLE_REVERSE_CLIENT_ID = com.googleusercontent.apps.32567487439-n5p0jbuasubvjg8sf54rv1mgtifj6oog
PROJECT_FACEBOOK_ID = 669400547351615
PROJECT_TWITTER_ID = twitterkit-R66DHARfuoYAPowApUxNxwbPi
PROJECT_PLIST = YummiidashInfo
PROJECT_GOOGLE_PLACE_KEY = AIzaSyB85kLYYOmuAhBUPd7odVmL6gnQsSGWU-4
