#include "Pods/Target Support Files/Pods-Drus/Pods-Drus.debug.xcconfig"


PROJECT_APPLE_ID = 1581108891
PROJECT_BUNDLE_ID = com.drus.customer
PROJECT_APP_VERSION = 1.0
PROJECT_BUILD_NUMBER = 30
PROJECT_APP_NAME = Drus
PROJECT_GOOGLE_CLIENT_ID = 663603800114-pm2osrjr3bf9chfsg84grtkb19ngdf99.apps.googleusercontent.com
PROJECT_GOOGLE_REVERSE_CLIENT_ID = com.googleusercontent.apps.663603800114-pm2osrjr3bf9chfsg84grtkb19ngdf99
PROJECT_FACEBOOK_ID = 269310237938206
PROJECT_TWITTER_ID = twitterkit-R66DHARfuoYAPowApUxNxwbPi
PROJECT_PLIST = DrusInfo
PROJECT_GOOGLE_PLACE_KEY = AIzaSyB85kLYYOmuAhBUPd7odVmL6gnQsSGWU-4
CODE_PUSH_KEY=hDXNRsnjO3OiXTWo_cDUAobBZeqaGPIdSP8we
