<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1028733675614-6m5955bdm18g45e6blka8vi5lq1mfdr0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1028733675614-6m5955bdm18g45e6blka8vi5lq1mfdr0</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1028733675614-2pfb5ia8eg6li9parlabi40eod94g1u1.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAfo_XeGq93B9rzWomFHQuLpjsyMKxS_m0</string>
	<key>GCM_SENDER_ID</key>
	<string>1028733675614</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.customer.swiftandvalu</string>
	<key>PROJECT_ID</key>
	<string>swift-and-valu</string>
	<key>STORAGE_BUCKET</key>
	<string>swift-and-valu.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1028733675614:ios:3efa3dc3b22d3602feeccf</string>
</dict>
</plist>