<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>927030590658-9tktkmcgstdp1qmgeda7e1ac5q15cjt8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.927030590658-9tktkmcgstdp1qmgeda7e1ac5q15cjt8</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>927030590658-jgqo83ko5m39elglmljhi1kvpvnfheq9.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBpD0vzSdDoaGHFSwS5GoNYPnIRvxify20</string>
	<key>GCM_SENDER_ID</key>
	<string>927030590658</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.servze</string>
	<key>PROJECT_ID</key>
	<string>servze-6da7e</string>
	<key>STORAGE_BUCKET</key>
	<string>servze-6da7e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:927030590658:ios:d2e22620c6d7180ae04f5b</string>
</dict>
</plist>