<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>529513151632-iaom37ff9pk9he22pk7hqo2jidpesj4o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.529513151632-iaom37ff9pk9he22pk7hqo2jidpesj4o</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>529513151632-3p0hqe7n8drlvm3m3a7cdcr51hgnnrab.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAv2q5HQL4OwePKRLLmfYVNKjkh7JzlCk8</string>
	<key>GCM_SENDER_ID</key>
	<string>529513151632</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hqiStore.order</string>
	<key>PROJECT_ID</key>
	<string>hqistore-order</string>
	<key>STORAGE_BUCKET</key>
	<string>hqistore-order.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:529513151632:ios:04cc158901484e8f9d6c15</string>
</dict>
</plist>