#include "Pods/Target Support Files/Pods-available_pods-HqiStore/Pods-available_pods-HqiStore.release.xcconfig"
PROJECT_APPLE_ID = 1669701246
PROJECT_BUNDLE_ID = com.hqiStore.order
PROJECT_APP_VERSION = 1.0
PROJECT_BUILD_NUMBER = 1
PROJECT_APP_NAME = Hqi Store
PROJECT_GOOGLE_CLIENT_ID =529513151632-iaom37ff9pk9he22pk7hqo2jidpesj4o.apps.googleusercontent.com
PROJECT_GOOGLE_REVERSE_CLIENT_ID =com.googleusercontent.apps.529513151632-iaom37ff9pk9he22pk7hqo2jidpesj4o
PROJECT_FACEBOOK_ID = 530598928899920
PROJECT_TWITTER_ID = twitterkit-R66DHARfuoYAPowApUxNxwbPi
PROJECT_PLIST =HqiStoreInfo
PROJECT_GOOGLE_PLACE_KEY = AIzaSyB85kLYYOmuAhBUPd7odVmL6gnQsSGWU-4
