<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>442176362835-femfhas4daqfdp5co35hq0tmlvh1vgar.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.442176362835-femfhas4daqfdp5co35hq0tmlvh1vgar</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>442176362835-1njtttg1pj2bpp6dr5fte99sddep355d.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDNymaGPFtw1gINKPTv1uWBzN_9QbGQHtA</string>
	<key>GCM_SENDER_ID</key>
	<string>442176362835</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.customer.ryde</string>
	<key>PROJECT_ID</key>
	<string>ryde-edc55</string>
	<key>STORAGE_BUCKET</key>
	<string>ryde-edc55.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:442176362835:ios:de956086e2f1d5d76469a6</string>
</dict>
</plist>