<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>858985059469-vfb64eppaerjldrdodtf07cag9n6hsr4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.858985059469-vfb64eppaerjldrdodtf07cag9n6hsr4</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>858985059469-cq14l8on2lrvss4d5umts531cda1qu81.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBa1TqBXj16sF9iMSBAo0rsxVJKgO2nheU</string>
	<key>GCM_SENDER_ID</key>
	<string>858985059469</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.UsVetsDeliver.royoorders</string>
	<key>PROJECT_ID</key>
	<string>usvetsdeliver-de98a</string>
	<key>STORAGE_BUCKET</key>
	<string>usvetsdeliver-de98a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:858985059469:ios:ad3a80ad3f9ee85272bec4</string>
</dict>
</plist>