<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>459000183441-j3194gjgtae832n809mppliojejqrkt5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.459000183441-j3194gjgtae832n809mppliojejqrkt5</string>
	<key>API_KEY</key>
	<string>AIzaSyByTc-gbGGqjDwbqCGbGUah8m_R62PTzm0</string>
	<key>GCM_SENDER_ID</key>
	<string>459000183441</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.yogofood</string>
	<key>PROJECT_ID</key>
	<string>yogo-food-b92fb</string>
	<key>STORAGE_BUCKET</key>
	<string>yogo-food-b92fb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:459000183441:ios:223c01a7c7c87c555c5d30</string>
</dict>
</plist>