#include "Pods/Target Support Files/Pods-available_pods-Orbit/Pods-available_pods-Orbit.debug.xcconfig"


PROJECT_APPLE_ID = 1579880617
PROJECT_BUNDLE_ID = com.codebrew.orbit
PROJECT_APP_VERSION = 1.0
PROJECT_BUILD_NUMBER = 2
PROJECT_APP_NAME = Orbit
PROJECT_GOOGLE_CLIENT_ID = 832615650439-2v2a0kaidm0o4ip5opi6g8kkjt37e9c0.apps.googleusercontent.com
PROJECT_GOOGLE_REVERSE_CLIENT_ID = com.googleusercontent.apps.832615650439-2v2a0kaidm0o4ip5opi6g8kkjt37e9c0
PROJECT_FACEBOOK_ID = 548566856282820
PROJECT_TWITTER_ID = twitterkit-R66DHARfuoYAPowApUxNxwbPi
PROJECT_PLIST = OrbitInfo
PROJECT_GOOGLE_PLACE_KEY = AIzaSyB85kLYYOmuAhBUPd7odVmL6gnQsSGWU-4
