<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>951099557724-7utmekkja8kvd36kb7ki3pa0ea93tu34.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.951099557724-7utmekkja8kvd36kb7ki3pa0ea93tu34</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>951099557724-q4j7i8dgk2fjq5tilkdi5jdbf2ugicpa.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCRrD-1hcjaPX83no5KONHoU5ApW8ezt8U</string>
	<key>GCM_SENDER_ID</key>
	<string>951099557724</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.caribeclean</string>
	<key>PROJECT_ID</key>
	<string>caribe-clean</string>
	<key>STORAGE_BUCKET</key>
	<string>caribe-clean.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:951099557724:ios:934cd9e5cb15b6782fa399</string>
</dict>
</plist>