<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>30300722197-oh7gajqe9n42hvsp2vq9ftdfsp3liuul.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.30300722197-oh7gajqe9n42hvsp2vq9ftdfsp3liuul</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>30300722197-g6i5imebtct8nm4cojuqu74v4dn95bm2.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyC0ZTtzlDUeV_2CX0ZeNlVU556Kg6MfJWs</string>
	<key>GCM_SENDER_ID</key>
	<string>30300722197</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.app.nadelivery</string>
	<key>PROJECT_ID</key>
	<string>nadelivery-d773e</string>
	<key>STORAGE_BUCKET</key>
	<string>nadelivery-d773e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:30300722197:ios:7506dbb53f6bd5a2c1ea1c</string>
</dict>
</plist>