<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>414788535604-p1ke8ncpp1lg7dqcheuv8qs90d7iop85.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.414788535604-p1ke8ncpp1lg7dqcheuv8qs90d7iop85</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>414788535604-4s2a3k77bh17jg1l71auf8cm17n92u9f.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAjj1ANkEGYV0dAsnj485JTT3ZQF3k8tSM</string>
	<key>GCM_SENDER_ID</key>
	<string>414788535604</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sxm2go</string>
	<key>PROJECT_ID</key>
	<string>sxm2go-8c9e2</string>
	<key>STORAGE_BUCKET</key>
	<string>sxm2go-8c9e2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:414788535604:ios:b6bedd086192f0a4b31161</string>
</dict>
</plist>