<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>336736452054-5lqpop1q56lkjcn3b59o7bp4ljqu2krq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.336736452054-5lqpop1q56lkjcn3b59o7bp4ljqu2krq</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>336736452054-4cfhsbrqo1niq4ov27hesio2k8ue9395.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCJ96jrg9612FMsZsiXNMwDONPnAtMlZO0</string>
	<key>GCM_SENDER_ID</key>
	<string>336736452054</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sxm2go.userapp</string>
	<key>PROJECT_ID</key>
	<string>sxm2go-d16dd</string>
	<key>STORAGE_BUCKET</key>
	<string>sxm2go-d16dd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:336736452054:ios:bc9599efbd956e82293877</string>
</dict>
</plist>