<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>659812451439-hgbmsvourn4nak2nu46q5a8nmo2vf36h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.659812451439-hgbmsvourn4nak2nu46q5a8nmo2vf36h</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>659812451439-cb91dthj0s7gka0c76lalehn295lkjd4.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDk7qNQR1Kg4E4WCmC3niiQSwW0gS61CuM</string>
	<key>GCM_SENDER_ID</key>
	<string>659812451439</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.loopwhole</string>
	<key>PROJECT_ID</key>
	<string>loopwhole-a9568</string>
	<key>STORAGE_BUCKET</key>
	<string>loopwhole-a9568.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:659812451439:ios:fd6636cf52bd61d3dd399a</string>
</dict>
</plist>