<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>607569841310-bppcrfsnmgvqfcd20utqoe1g7ol3udvm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.607569841310-bppcrfsnmgvqfcd20utqoe1g7ol3udvm</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>607569841310-digoiuhq1loflmolh5hkkkhlh2ir8nbo.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBRdC-BX2ZDQnxIz8pQKOtPPcUMFEokEs0</string>
	<key>GCM_SENDER_ID</key>
	<string>607569841310</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.user.spidbi</string>
	<key>PROJECT_ID</key>
	<string>spidbi-d1817</string>
	<key>STORAGE_BUCKET</key>
	<string>spidbi-d1817.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:607569841310:ios:b5f434b2309804f7bbbf8f</string>
	<key>DATABASE_URL</key>
	<string>https://spidbi-d1817.firebaseio.com</string>
</dict>
</plist>