<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>73724160302-fje1t3kaeqh4rfobi6b569m2eqr66bhh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.73724160302-fje1t3kaeqh4rfobi6b569m2eqr66bhh</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>73724160302-dbrkn8v6rni1votlv17651pcqo9ntsea.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAkCyZurHk2-ItHHP3CE-rUSASLskOdlQo</string>
	<key>GCM_SENDER_ID</key>
	<string>73724160302</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.apptFindr.order</string>
	<key>PROJECT_ID</key>
	<string>appt-findr</string>
	<key>STORAGE_BUCKET</key>
	<string>appt-findr.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:73724160302:ios:912fa9c45e761208f272bf</string>
</dict>
</plist>