<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>22689988739-nhv3uqrr3mlo78vt6b4h0p03u9n7kij9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.22689988739-nhv3uqrr3mlo78vt6b4h0p03u9n7kij9</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>22689988739-14mu5u8sjapl3k6g36l322tfb0772tk5.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyC_30EHxH50J7O61je_ANHv_B1I6MNW0G4</string>
	<key>GCM_SENDER_ID</key>
	<string>22689988739</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mymeddy.royoorders</string>
	<key>PROJECT_ID</key>
	<string>mymeddy-c0cc2</string>
	<key>STORAGE_BUCKET</key>
	<string>mymeddy-c0cc2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:22689988739:ios:26e306f918c13019e01bb6</string>
</dict>
</plist>