#include "Pods/Target Support Files/Pods-available_pods-Mymeddy/Pods-available_pods-Mymeddy.debug.xcconfig"

PROJECT_APPLE_ID = 6444339789
PROJECT_BUNDLE_ID = com.mymeddy.royoorders
PROJECT_APP_VERSION = 1.0
PROJECT_BUILD_NUMBER = 1
PROJECT_APP_NAME = MyMeddy
PROJECT_GOOGLE_CLIENT_ID = 22689988739-nhv3uqrr3mlo78vt6b4h0p03u9n7kij9.apps.googleusercontent.com
PROJECT_GOOGLE_REVERSE_CLIENT_ID =com.googleusercontent.apps.22689988739-nhv3uqrr3mlo78vt6b4h0p03u9n7kij9
PROJECT_FACEBOOK_ID = 8620722851301506
PROJECT_TWITTER_ID = twitterkit-R66DHARfuoYAPowApUxNxwbPi
PROJECT_PLIST =MymeddyInfo
PROJECT_GOOGLE_PLACE_KEY = AIzaSyB85kLYYOmuAhBUPd7odVmL6gnQsSGWU-4

