<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>506859015704-5h36nio3hmk1bbfpnav79tn37tcif8ia.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.506859015704-5h36nio3hmk1bbfpnav79tn37tcif8ia</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>506859015704-d9knsmb91dpleco5d50fcj6elndjop2m.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDZFP9R0eanNSbqPmLadiLW1YmzUUGv1Dc</string>
	<key>GCM_SENDER_ID</key>
	<string>506859015704</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tranzit</string>
	<key>PROJECT_ID</key>
	<string>tranzit-b5e97</string>
	<key>STORAGE_BUCKET</key>
	<string>tranzit-b5e97.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:506859015704:ios:9f1e616d1f165c71ccbd6d</string>
</dict>
</plist>