<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>908122243958-a6e5ohmpnubajpiibf8rnj82oplin3f0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.908122243958-a6e5ohmpnubajpiibf8rnj82oplin3f0</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>908122243958-2chlh72ouuldo7imd0ems01duckarir9.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAeD6iV8NqEC2rq2h1J9o1dbVDaqofycI0</string>
	<key>GCM_SENDER_ID</key>
	<string>908122243958</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nool.order</string>
	<key>PROJECT_ID</key>
	<string>nool-order</string>
	<key>STORAGE_BUCKET</key>
	<string>nool-order.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:908122243958:ios:a6a08196402c4ac3c0f057</string>
</dict>
</plist>