<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>579842051507-v4e6jubpqjjhajd25hfo62lruoa3jf9s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.579842051507-v4e6jubpqjjhajd25hfo62lruoa3jf9s</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>579842051507-0b3vj48rvh4lnrejmlkv7tvcksc59g38.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBE58LfRYhxCfhVlpOKUr1LhUkCI2ddCjY</string>
	<key>GCM_SENDER_ID</key>
	<string>579842051507</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gokab</string>
	<key>PROJECT_ID</key>
	<string>gokab-afacb</string>
	<key>STORAGE_BUCKET</key>
	<string>gokab-afacb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:579842051507:ios:31d90dbc74dfba23f30fc6</string>
</dict>
</plist>