<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>154159799344-j4fetcl3b5oca0dvhhf9don454di5nif.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.154159799344-j4fetcl3b5oca0dvhhf9don454di5nif</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>154159799344-6sculkbaijqgj63ntdnsqikcp3j42jho.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBtLivUE015osw2YsftF56Bgl2BnPvrg5U</string>
	<key>GCM_SENDER_ID</key>
	<string>154159799344</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.diamonddashers</string>
	<key>PROJECT_ID</key>
	<string>diamond-dashers</string>
	<key>STORAGE_BUCKET</key>
	<string>diamond-dashers.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:154159799344:ios:2d35290401e4d5004ee1f5</string>
</dict>
</plist>