<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>833313152157-11su9l6iab5i2e0tl8cc6l02dsebcrio.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.833313152157-11su9l6iab5i2e0tl8cc6l02dsebcrio</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>833313152157-09ibeqg3mj8iui8ntlesodp5mmlbjggg.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyClfBoqVV3JAQ9AJMOY1DnkLsTvDCrnX5w</string>
	<key>GCM_SENDER_ID</key>
	<string>833313152157</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.pawsee.order</string>
	<key>PROJECT_ID</key>
	<string>pawsee-231ca</string>
	<key>STORAGE_BUCKET</key>
	<string>pawsee-231ca.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:833313152157:ios:e0260efbed68167e414874</string>
</dict>
</plist>