#include "Pods/Target Support Files/Pods-Zest/Pods-Zest.release.xcconfig"

PROJECT_APPLE_ID = 1588399835
PROJECT_BUNDLE_ID = com.zest.customer
PROJECT_APP_VERSION = 1.1
PROJECT_BUILD_NUMBER = 4
PROJECT_APP_NAME =Zest
PROJECT_GOOGLE_CLIENT_ID =223230619385-d3j4i1u744pdk2onoo56og3eeje456ke.apps.googleusercontent.com
PROJECT_GOOGLE_REVERSE_CLIENT_ID = com.googleusercontent.apps.223230619385-d3j4i1u744pdk2onoo56og3eeje456ke
PROJECT_FACEBOOK_ID =4266870710078463
PROJECT_TWITTER_ID = twitterkit-R66DHARfuoYAPowApUxNxwbPi
PROJECT_PLIST =ZestInfo
PROJECT_GOOGLE_PLACE_KEY = AIzaSyB85kLYYOmuAhBUPd7odVmL6gnQsSGWU-4

