#include "Pods/Target Support Files/Pods-Yahu/Pods-Yahu.release.xcconfig"


PROJECT_APPLE_ID = 1581083485
PROJECT_BUNDLE_ID = com.yahu
PROJECT_APP_VERSION = 1.0
PROJECT_BUILD_NUMBER = 2
PROJECT_APP_NAME = Yahu
PROJECT_GOOGLE_CLIENT_ID = 351255169724-gj7bu37po8r5r9m33q30v8gradrtn0ef.apps.googleusercontent.com
PROJECT_GOOGLE_REVERSE_CLIENT_ID = com.googleusercontent.apps.351255169724-gj7bu37po8r5r9m33q30v8gradrtn0ef
PROJECT_FACEBOOK_ID = 2946452062288748
PROJECT_TWITTER_ID = twitterkit-R66DHARfuoYAPowApUxNxwbPi
PROJECT_PLIST = YahuInfo
PROJECT_GOOGLE_PLACE_KEY = AIzaSyB85kLYYOmuAhBUPd7odVmL6gnQsSGWU-4
