<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>504840324287-67h4cg84d72mhs2bi2kio7gsjr4paivs.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.504840324287-67h4cg84d72mhs2bi2kio7gsjr4paivs</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>504840324287-6ln3j07akf0uks2kj83vagt2125b7tlm.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBh_0GcuS7b1J3mc9uLStTsHbWmQGEw8AI</string>
	<key>GCM_SENDER_ID</key>
	<string>504840324287</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.buszy.royoorder</string>
	<key>PROJECT_ID</key>
	<string>busy-order</string>
	<key>STORAGE_BUCKET</key>
	<string>busy-order.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:504840324287:ios:96ba72086aad1fe23c720a</string>
</dict>
</plist>