<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>627156568988-i2fnc5k0l9d6lgfctcg5ceirgtnhlt7v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.627156568988-i2fnc5k0l9d6lgfctcg5ceirgtnhlt7v</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>627156568988-8d6jtbh9u1d5lvkrkpljg12u51d29dgg.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBBOAXtc43AmRbmVANjVekYp_cPUjq2Dtw</string>
	<key>GCM_SENDER_ID</key>
	<string>627156568988</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.stabex.royoorders</string>
	<key>PROJECT_ID</key>
	<string>stabex-ee8bd</string>
	<key>STORAGE_BUCKET</key>
	<string>stabex-ee8bd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:627156568988:ios:431d69c4c20495a9869659</string>
</dict>
</plist>