<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>313593504359-bp8l0972srnf7o9qjhia06pi26bqrrmj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.313593504359-bp8l0972srnf7o9qjhia06pi26bqrrmj</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>313593504359-eia529mj3ukkkpt92jvi0tiu9qcr9lug.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBJNlM3nlILlecH3RDDOIKXrxg_dGF6j2k</string>
	<key>GCM_SENDER_ID</key>
	<string>313593504359</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.marjMarketplace</string>
	<key>PROJECT_ID</key>
	<string>marj-marketplace</string>
	<key>STORAGE_BUCKET</key>
	<string>marj-marketplace.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:313593504359:ios:fafd0087e4829854972ac2</string>
</dict>
</plist>