<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>830716980798-k7bsl11tenbur6p7rbucbpj8viomg7dl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.830716980798-k7bsl11tenbur6p7rbucbpj8viomg7dl</string>
	<key>API_KEY</key>
	<string>AIzaSyCDljtjkaHMZMk6yZRr7DuFLZ_a4mcLnuc</string>
	<key>GCM_SENDER_ID</key>
	<string>830716980798</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.cattch.royoorders</string>
	<key>PROJECT_ID</key>
	<string>cattch-d6c0b</string>
	<key>STORAGE_BUCKET</key>
	<string>cattch-d6c0b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:830716980798:ios:d4897789c5b197df87ab6f</string>
</dict>
</plist>