<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>152129819683-8ir5fbobcn0r8k1uo5qfghmsjmi2tt5r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.152129819683-8ir5fbobcn0r8k1uo5qfghmsjmi2tt5r</string>
	<key>API_KEY</key>
	<string>AIzaSyCj88hKFeLWVb9FVJKivZJY_bJG3u_LRCI</string>
	<key>GCM_SENDER_ID</key>
	<string>152129819683</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.clickokart.royoorders</string>
	<key>PROJECT_ID</key>
	<string>clickokart-1f3d4</string>
	<key>STORAGE_BUCKET</key>
	<string>clickokart-1f3d4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:152129819683:ios:65368acca2864ef47c8d96</string>
</dict>
</plist>