#include "Pods/Target Support Files/Pods-available_pods-Dlvrd/Pods-available_pods-Dlvrd.debug.xcconfig"

PROJECT_APPLE_ID = 1613321526
PROJECT_BUNDLE_ID =com.application.dlvrd
PROJECT_APP_VERSION = 1.0
PROJECT_BUILD_NUMBER = 4
PROJECT_APP_NAME = Dlvrd
PROJECT_GOOGLE_CLIENT_ID =93441502791-efq4ncbd0jh263ks2p9bg6odmelsdeil.apps.googleusercontent.com
PROJECT_GOOGLE_REVERSE_CLIENT_ID =com.googleusercontent.apps.93441502791-efq4ncbd0jh263ks2p9bg6odmelsdeil
PROJECT_FACEBOOK_ID = 669995774153148
PROJECT_TWITTER_ID = twitterkit-R66DHARfuoYAPowApUxNxwbPi
PROJECT_PLIST =DlvrdInfo
PROJECT_GOOGLE_PLACE_KEY = AIzaSyB85kLYYOmuAhBUPd7odVmL6gnQsSGWU-4
