<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>671083763720-hhnds51qtjgko6pee431o1vahiumlv1h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.671083763720-hhnds51qtjgko6pee431o1vahiumlv1h</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>671083763720-2amk4704an7g4hdbnpd6vb5fbj7tm7ca.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyA567k-6nDBHxglfdemAh__EsE8bpqC2rU</string>
	<key>GCM_SENDER_ID</key>
	<string>671083763720</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.baubau</string>
	<key>PROJECT_ID</key>
	<string>baubau-6025b</string>
	<key>STORAGE_BUCKET</key>
	<string>baubau-6025b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:671083763720:ios:a00ff35e9f6cdd6c5799bd</string>
</dict>
</plist>