<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>448488540980-jk4130530s52uu7lfoalq33vbonm8pnt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.448488540980-jk4130530s52uu7lfoalq33vbonm8pnt</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>448488540980-1pe2l6a4fs4qaet7bqaln306fl3fquu9.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCIS-F6OGG3AYZdr4rGrSrSIUPK53hVHJY</string>
	<key>GCM_SENDER_ID</key>
	<string>448488540980</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.threadagain</string>
	<key>PROJECT_ID</key>
	<string>threadagain-36b68</string>
	<key>STORAGE_BUCKET</key>
	<string>threadagain-36b68.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:448488540980:ios:31a3b1b3009d46b8a37361</string>
</dict>
</plist>