<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>722858283953-ba4pklnngl3o81pannq9ottuqi1euecv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.722858283953-ba4pklnngl3o81pannq9ottuqi1euecv</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>722858283953-1ublvoeu4ijre8h65481805ri1ij4lgr.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBZa9eMBhghtZBGXsVVV59fpXguoQLUGSk</string>
	<key>GCM_SENDER_ID</key>
	<string>722858283953</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.meltiverse.user</string>
	<key>PROJECT_ID</key>
	<string>meltivers-user</string>
	<key>STORAGE_BUCKET</key>
	<string>meltivers-user.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:722858283953:ios:b5baaa6e943c5360cbe390</string>
</dict>
</plist>