<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>362041514506-eulrqceoi3rh2dnprk4vhbft1921r29u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.362041514506-eulrqceoi3rh2dnprk4vhbft1921r29u</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>362041514506-7ibcjgjsk80okgrtis14bgpg60cpqndr.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyB-p1ofiDfEoQ6vwF-wHReEhvaXuRJvBp0</string>
	<key>GCM_SENDER_ID</key>
	<string>362041514506</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.meltivers</string>
	<key>PROJECT_ID</key>
	<string>meltivers</string>
	<key>STORAGE_BUCKET</key>
	<string>meltivers.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:362041514506:ios:8e9d770efbc1f9d1d39df3</string>
</dict>
</plist>