<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>859968603877-l2tgnhkr0d5c9o4fhsn590abjujtvefd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.859968603877-l2tgnhkr0d5c9o4fhsn590abjujtvefd</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>859968603877-84eqr8jaenssru4glda1jckme4f32cd3.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCtTPJYRtKobNX-TG4hpV_V07hl43GjGf4</string>
	<key>GCM_SENDER_ID</key>
	<string>859968603877</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gasgiant</string>
	<key>PROJECT_ID</key>
	<string>gas-giant-2041c</string>
	<key>STORAGE_BUCKET</key>
	<string>gas-giant-2041c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:859968603877:ios:890536fe23f1bf4641f60c</string>
</dict>
</plist>