<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>306514027447-u9hlh1dk0m2r6q2k428qqh52kf35vl29.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.306514027447-u9hlh1dk0m2r6q2k428qqh52kf35vl29</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>306514027447-a5944t3b0sh20sf700dl64s3kaik4atv.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBoJo6QXJVHkHvbzhkQSGnubfpXsLEU-_8</string>
	<key>GCM_SENDER_ID</key>
	<string>306514027447</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bimol</string>
	<key>PROJECT_ID</key>
	<string>bimol-8d6ed</string>
	<key>STORAGE_BUCKET</key>
	<string>bimol-8d6ed.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:306514027447:ios:f851d2294be2ff9e43be32</string>
</dict>
</plist>