<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>928740311212-kar6qqtslugvulu01tlbqvj4i137nbms.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.928740311212-kar6qqtslugvulu01tlbqvj4i137nbms</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>928740311212-09h3lhs221s8pqe474hf2m2kco3pvjhg.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyA89E9wmEfZimTRo6ak4BEl4mL9x-UgoAY</string>
	<key>GCM_SENDER_ID</key>
	<string>928740311212</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bimol.user</string>
	<key>PROJECT_ID</key>
	<string>bimol-88a12</string>
	<key>STORAGE_BUCKET</key>
	<string>bimol-88a12.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:928740311212:ios:2f3df819bf87e5c6c51f09</string>
</dict>
</plist>