<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>26496885278-uc52cvphkc1m54okto4cijur8128njhh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.26496885278-uc52cvphkc1m54okto4cijur8128njhh</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>26496885278-bki2jtjfebr58gn9mrqkq9cmoc7krso9.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyD6THG5s_E76v4o8RceL8OW7vAp86mPKDw</string>
	<key>GCM_SENDER_ID</key>
	<string>26496885278</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.releezer</string>
	<key>PROJECT_ID</key>
	<string>releezer-33b6d</string>
	<key>STORAGE_BUCKET</key>
	<string>releezer-33b6d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:26496885278:ios:a951d64a3cd874f589440f</string>
</dict>
</plist>