<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>833873568733-b29cdu8e4u18vbqh25plv7at8c1d7veh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.833873568733-b29cdu8e4u18vbqh25plv7at8c1d7veh</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>833873568733-0el1pv9rbqh2hf3i5quotahnd4oi1p08.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBp8dkvkumAA5jc1qYlSlpUgG78jEPMimI</string>
	<key>GCM_SENDER_ID</key>
	<string>833873568733</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.codebrew.hellodeliver</string>
	<key>PROJECT_ID</key>
	<string>rerak-da539</string>
	<key>STORAGE_BUCKET</key>
	<string>rerak-da539.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:833873568733:ios:893b480348395865208c34</string>
</dict>
</plist>