#include "Pods/Target Support Files/Pods-available_pods-FresHest/Pods-available_pods-FresHest.debug.xcconfig"

PROJECT_APPLE_ID = 1633192674
PROJECT_BUNDLE_ID =com.FresHest.royoOrder
PROJECT_APP_VERSION = 1.0
PROJECT_BUILD_NUMBER = 1
PROJECT_APP_NAME = FresHest
PROJECT_GOOGLE_CLIENT_ID =167418036095-53i45qpaqjr8ndm4jm5bppvpo7n7ub0g.apps.googleusercontent.com
PROJECT_GOOGLE_REVERSE_CLIENT_ID =com.googleusercontent.apps.167418036095-53i45qpaqjr8ndm4jm5bppvpo7n7ub0g
PROJECT_FACEBOOK_ID = 1239471933553646
PROJECT_TWITTER_ID = twitterkit-R66DHARfuoYAPowApUxNxwbPi
PROJECT_PLIST =FresHestInfo
PROJECT_GOOGLE_PLACE_KEY = AIzaSyB85kLYYOmuAhBUPd7odVmL6gnQsSGWU-4
