<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1082989023588-o3q5th9e6ltn2s1d9qvkuq2qacqtjfe4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1082989023588-o3q5th9e6ltn2s1d9qvkuq2qacqtjfe4</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1082989023588-5ouqjrhrgv0a8r518p8qjo9fbjrcmt4j.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCwiz3n7cVVKmUooLoMYbC1pmGHz8Xvnzs</string>
	<key>GCM_SENDER_ID</key>
	<string>1082989023588</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.konectame.royoorders</string>
	<key>PROJECT_ID</key>
	<string>konectame</string>
	<key>STORAGE_BUCKET</key>
	<string>konectame.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1082989023588:ios:523231e89efc4ffcac6a71</string>
</dict>
</plist>