#include "Pods/Target Support Files/Pods-Agrionline/Pods-Agrionline.release.xcconfig"

PROJECT_APPLE_ID =1590501414
PROJECT_BUNDLE_ID = com.agrionline
PROJECT_APP_VERSION = 1.0
PROJECT_BUILD_NUMBER = 3
PROJECT_APP_NAME = AgriOnline
PROJECT_GOOGLE_CLIENT_ID =710110279617-ab4fo7doevds5c0s85quj1guc1gku7p9.apps.googleusercontent.com
PROJECT_GOOGLE_REVERSE_CLIENT_ID = com.googleusercontent.apps.710110279617-ab4fo7doevds5c0s85quj1guc1gku7p9
PROJECT_FACEBOOK_ID =3759706224255569
PROJECT_TWITTER_ID = twitterkit-R66DHARfuoYAPowApUxNxwbPi
PROJECT_PLIST =AgrionlineInfo
PROJECT_GOOGLE_PLACE_KEY = AIzaSyB85kLYYOmuAhBUPd7odVmL6gnQsSGWU-4
