<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>710110279617-ab4fo7doevds5c0s85quj1guc1gku7p9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.710110279617-ab4fo7doevds5c0s85quj1guc1gku7p9</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>710110279617-417sf0b67dm88uppgtsntt65q1ra7tk3.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBbH6w4A9vTX8XgSr88-bxA2N08-4wqk6s</string>
	<key>GCM_SENDER_ID</key>
	<string>710110279617</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.agrionline</string>
	<key>PROJECT_ID</key>
	<string>agrionline-2e073</string>
	<key>STORAGE_BUCKET</key>
	<string>agrionline-2e073.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:710110279617:ios:7482fe1be55174d4a26140</string>
</dict>
</plist>