<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>882015651588-0laj4r7tf65mj3btd21di78dnqg896mf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.882015651588-0laj4r7tf65mj3btd21di78dnqg896mf</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>882015651588-832fm9u69se9l3d4can3dhccb5c8c7oh.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDZOvYB4_uTU0BHoWbTZQ6IDw7FoufBTXw</string>
	<key>GCM_SENDER_ID</key>
	<string>882015651588</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sambiga</string>
	<key>PROJECT_ID</key>
	<string>sambiga-a7a01</string>
	<key>STORAGE_BUCKET</key>
	<string>sambiga-a7a01.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:882015651588:ios:5b532750e8ad05a119f251</string>
</dict>
</plist>