<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>563050331052-4vve7a48nse4cnrkiht95vvsu9i13lna.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.563050331052-4vve7a48nse4cnrkiht95vvsu9i13lna</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>563050331052-3d57iegcc4g1k1a211dug30nq0fevnk8.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAfbyu1reCMDDAWr7Qy-q7Wj4C9NZjzGUg</string>
	<key>GCM_SENDER_ID</key>
	<string>563050331052</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.codebrew.pinkydeli</string>
	<key>PROJECT_ID</key>
	<string>pinkydeli</string>
	<key>STORAGE_BUCKET</key>
	<string>pinkydeli.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:563050331052:ios:a8628141fe5718e394d809</string>
</dict>
</plist>