<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>823886195331-frqmnj6mg2q7ag54u825ugde02kci8rl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.823886195331-frqmnj6mg2q7ag54u825ugde02kci8rl</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>823886195331-cv8a3l2sq4o22c0p6ph2le1pcmuk2h6s.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCQOJhKBsD398pWoiv2evS8erXxLb9iXfE</string>
	<key>GCM_SENDER_ID</key>
	<string>823886195331</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.taxiolgy.order</string>
	<key>PROJECT_ID</key>
	<string>taxiolgy-1d544</string>
	<key>STORAGE_BUCKET</key>
	<string>taxiolgy-1d544.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:823886195331:ios:39199020b0e95071efc9b6</string>
</dict>
</plist>