<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>297736721449-vdob4aiim6jenks7d7k50epv0khuvdmt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.297736721449-vdob4aiim6jenks7d7k50epv0khuvdmt</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>297736721449-4q2m1ni0bfp7hi9sfg8pl96gqhnl6l91.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBY4Bfvqo1McIeKhfWuWY7iJAxoftm6s24</string>
	<key>GCM_SENDER_ID</key>
	<string>297736721449</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.customer.zip</string>
	<key>PROJECT_ID</key>
	<string>zip-app-a5038</string>
	<key>STORAGE_BUCKET</key>
	<string>zip-app-a5038.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:297736721449:ios:84c306c7a3022bcd0b7838</string>
</dict>
</plist>