<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>792187418730-nmclraaqd6kgsapan1qruornl3do1e9v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.792187418730-nmclraaqd6kgsapan1qruornl3do1e9v</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>792187418730-53a35kh0oi2sggsdh9c3q19fnj570nh5.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBnZJx3_3ZNnTKsGANl9Zb0yPYGPpM_sLc</string>
	<key>GCM_SENDER_ID</key>
	<string>792187418730</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.delivadrinks</string>
	<key>PROJECT_ID</key>
	<string>delivadrinks-21ec1</string>
	<key>STORAGE_BUCKET</key>
	<string>delivadrinks-21ec1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:792187418730:ios:94330f3220e177245ff213</string>
</dict>
</plist>