<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>561360326059-l1ck7qnbo93jhdqsbbt7svn31foougr1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.561360326059-l1ck7qnbo93jhdqsbbt7svn31foougr1</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>561360326059-0rlkuvipjj5h5dtti5iu2i0g42fc7cc3.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyA7HydjIIi3SrwgVPbCctiayKH2VcqYGE4</string>
	<key>GCM_SENDER_ID</key>
	<string>561360326059</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ondgoo.royoorders</string>
	<key>PROJECT_ID</key>
	<string>ondgoo-order</string>
	<key>STORAGE_BUCKET</key>
	<string>ondgoo-order.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:561360326059:ios:9b2c8968f81769863196ee</string>
</dict>
</plist>