#include "Pods/Target Support Files/Pods-available_pods-HattaFoodHub/Pods-available_pods-HattaFoodHub.debug.xcconfig"
PROJECT_APPLE_ID = 1662870790
PROJECT_BUNDLE_ID =com.ondgoo.royoorders
PROJECT_APP_VERSION = 1.0
PROJECT_BUILD_NUMBER = 1
PROJECT_APP_NAME = Ondgoo Order
PROJECT_GOOGLE_CLIENT_ID =561360326059-l1ck7qnbo93jhdqsbbt7svn31foougr1.apps.googleusercontent.com
PROJECT_GOOGLE_REVERSE_CLIENT_ID =com.googleusercontent.apps.561360326059-l1ck7qnbo93jhdqsbbt7svn31foougr1
PROJECT_FACEBOOK_ID = 1534829550348899
PROJECT_TWITTER_ID = twitterkit-R66DHARfuoYAPowApUxNxwbPi
PROJECT_PLIST =OndgooInfo
PROJECT_GOOGLE_PLACE_KEY = AIzaSyB85kLYYOmuAhBUPd7odVmL6gnQsSGWU-4
