<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>741738669971-ic9stk1rgemm1dfpmlklinvcn1r688f2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.741738669971-ic9stk1rgemm1dfpmlklinvcn1r688f2</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>741738669971-7nrjv9t5si9vshs87k5o094udj8u7rj7.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyD2wZaNrsw6R0v4EOkmH8Zt3HzMazr-Wpo</string>
	<key>GCM_SENDER_ID</key>
	<string>741738669971</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.halaTalabat</string>
	<key>PROJECT_ID</key>
	<string>hala-talabat</string>
	<key>STORAGE_BUCKET</key>
	<string>hala-talabat.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:741738669971:ios:59aee3bf71a175626baa66</string>
</dict>
</plist>