#include "Pods/Target Support Files/Pods-available_pods-HalaTalabat/Pods-available_pods-HalaTalabat.release.xcconfig"

PROJECT_APPLE_ID = 1607807589
PROJECT_BUNDLE_ID =com.halaTalabat
PROJECT_APP_VERSION = 1.0
PROJECT_BUILD_NUMBER = 9
PROJECT_APP_NAME = HalaTalabat
PROJECT_GOOGLE_CLIENT_ID =741738669971-ic9stk1rgemm1dfpmlklinvcn1r688f2.apps.googleusercontent.com
PROJECT_GOOGLE_REVERSE_CLIENT_ID =com.googleusercontent.apps.741738669971-ic9stk1rgemm1dfpmlklinvcn1r688f2
PROJECT_FACEBOOK_ID = 314652707356936
PROJECT_TWITTER_ID = twitterkit-R66DHARfuoYAPowApUxNxwbPi
PROJECT_PLIST =HalaTalabatInfo
PROJECT_GOOGLE_PLACE_KEY = AIzaSyB85kLYYOmuAhBUPd7odVmL6gnQsSGWU-4
