<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>466031648648-8va30l99434p9sni7t2jad3qhmugntjl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.466031648648-8va30l99434p9sni7t2jad3qhmugntjl</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>466031648648-4vu88b1pi583svhrq37q3udo8nf629g9.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDyKn_O68nh1_MsXO_jwU75N64jBbdWrRc</string>
	<key>GCM_SENDER_ID</key>
	<string>466031648648</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.chowHub</string>
	<key>PROJECT_ID</key>
	<string>chowhub-3aaaf</string>
	<key>STORAGE_BUCKET</key>
	<string>chowhub-3aaaf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:466031648648:ios:cd4328362c932a11a7e43d</string>
</dict>
</plist>