<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>164843504273-6ukbv4sabg7vgbs7moi9g6el03pj3p66.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.164843504273-6ukbv4sabg7vgbs7moi9g6el03pj3p66</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>164843504273-2vk7nmt7ccqlafh0tlsooa0v608el5ts.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDHSaal4tfBPlPa6Yd84pFctsBJNnDQOck</string>
	<key>GCM_SENDER_ID</key>
	<string>164843504273</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.boltDelivery</string>
	<key>PROJECT_ID</key>
	<string>bolt-delivery-services</string>
	<key>STORAGE_BUCKET</key>
	<string>bolt-delivery-services.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:164843504273:ios:948184380576aaa302f530</string>
</dict>
</plist>