<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>269820883044-8kabtdbpqrqlmauumqdqmhi3pu693mkc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.269820883044-8kabtdbpqrqlmauumqdqmhi3pu693mkc</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>269820883044-02hbpapggbk0h4eoqjjp1lb0evqllvma.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDw7hNkxJ14ddMe8_WNWmH6UJdGagLtJEs</string>
	<key>GCM_SENDER_ID</key>
	<string>269820883044</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.torunz.userapp</string>
	<key>PROJECT_ID</key>
	<string>torunz-eef84</string>
	<key>STORAGE_BUCKET</key>
	<string>torunz-eef84.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:269820883044:ios:f706b8b75c187ce57eef71</string>
</dict>
</plist>