<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>161825010783-9anhu3244nfm2pacmcs5v50cgofkdei2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.161825010783-9anhu3244nfm2pacmcs5v50cgofkdei2</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>161825010783-ac0mmq3hk19u8c0dka62v9fehf8ncfke.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAPHoJfVKdZi-D1bZA-zb9E__G2-JlTieM</string>
	<key>GCM_SENDER_ID</key>
	<string>161825010783</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.blacnetwork.orders</string>
	<key>PROJECT_ID</key>
	<string>blacnetwork-f9c84</string>
	<key>STORAGE_BUCKET</key>
	<string>blacnetwork-f9c84.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:161825010783:ios:da20aff52c82c8730b57ea</string>
</dict>
</plist>