<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>310014708699-5pkcat4oj4p53v2h6lhqb9csiok50hoc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.310014708699-5pkcat4oj4p53v2h6lhqb9csiok50hoc</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>310014708699-47vn47tunt20llrmrfdm9ihl3tpko5i9.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyChKTHxvpBNuTI5BWt8WZvDYxHCg-U2UZs</string>
	<key>GCM_SENDER_ID</key>
	<string>310014708699</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.weTogether</string>
	<key>PROJECT_ID</key>
	<string>wetogether-5fba0</string>
	<key>STORAGE_BUCKET</key>
	<string>wetogether-5fba0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:310014708699:ios:05703181bf611fe09f75fe</string>
</dict>
</plist>