<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>78291223168-0kt2mn86t5fc95be8mg096abf2658mhu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.78291223168-0kt2mn86t5fc95be8mg096abf2658mhu</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>78291223168-9iqj6tqqsnam8885hcsbrcqsaqj592u6.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCDJ8NNcHDY1W38fO3K0y7yex0yefzjR70</string>
	<key>GCM_SENDER_ID</key>
	<string>78291223168</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.myEvPlus.order</string>
	<key>PROJECT_ID</key>
	<string>myevplus-92ec8</string>
	<key>STORAGE_BUCKET</key>
	<string>myevplus-92ec8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:78291223168:ios:92f0decbb551a9c392dc65</string>
</dict>
</plist>