<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>258522187933-op752vdcn9tdj4fc0h9gtvnkleeralk2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.258522187933-op752vdcn9tdj4fc0h9gtvnkleeralk2</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>258522187933-il5iouagudp2nfb835b5ut7075p64qkv.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyB-4TdYKW5vO5XaXLPgZsnEqT0wOLoV_zA</string>
	<key>GCM_SENDER_ID</key>
	<string>258522187933</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.lunchboxspecials</string>
	<key>PROJECT_ID</key>
	<string>lunchbox-specials</string>
	<key>STORAGE_BUCKET</key>
	<string>lunchbox-specials.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:258522187933:ios:3c2402f146f23b75812c74</string>
</dict>
</plist>