<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>930203421194-l34vj1157r1lcgcspd40carqfu5vgnfe.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.930203421194-l34vj1157r1lcgcspd40carqfu5vgnfe</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>930203421194-bk2o5klpr58qmhni9m9sib2k5h5gde92.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCyVH5-O3h22t_ZbJTKPrN-vH76Vet77PQ</string>
	<key>GCM_SENDER_ID</key>
	<string>930203421194</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mealtime.orderapp</string>
	<key>PROJECT_ID</key>
	<string>mealtime-order</string>
	<key>STORAGE_BUCKET</key>
	<string>mealtime-order.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:930203421194:ios:7ea7cfe7057eb59b082df3</string>
</dict>
</plist>