#include "Pods/Target Support Files/Pods-available_pods-LunchboxSpecials/Pods-available_pods-LunchboxSpecials.Release.xcconfig"

PROJECT_APPLE_ID = 1626477673
PROJECT_BUNDLE_ID = com.lunchboxspecials
PROJECT_APP_VERSION = 1.0
PROJECT_BUILD_NUMBER = 2
PROJECT_APP_NAME = Lunchbox Specials
PROJECT_GOOGLE_CLIENT_ID = 258522187933-op752vdcn9tdj4fc0h9gtvnkleeralk2.apps.googleusercontent.com
PROJECT_GOOGLE_REVERSE_CLIENT_ID = com.googleusercontent.apps.258522187933-op752vdcn9tdj4fc0h9gtvnkleeralk2
PROJECT_FACEBOOK_ID = 1361843467668519
PROJECT_TWITTER_ID = twitterkit-R66DHARfuoYAPowApUxNxwbPi
PROJECT_PLIST = LunchboxSpecialsInfo
PROJECT_GOOGLE_PLACE_KEY = AIzaSyB85kLYYOmuAhBUPd7odVmL6gnQsSGWU-4
