<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>734430110059-qnnnl8pkvj4gachvgo5glg25dkpifdi9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.734430110059-qnnnl8pkvj4gachvgo5glg25dkpifdi9</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>734430110059-2ihtuqbo576mo80r8lo7td4f1ecariam.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBCYMLV6A8or2p-puvLwplzc-A6Y3lhCTY</string>
	<key>GCM_SENDER_ID</key>
	<string>734430110059</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.somame</string>
	<key>PROJECT_ID</key>
	<string>somame-2b1e4</string>
	<key>STORAGE_BUCKET</key>
	<string>somame-2b1e4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:734430110059:ios:75820cf280f93172edac2e</string>
</dict>
</plist>