<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>100781249200-k32nglpau4qmhue8s35thrfmti6ai2d2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.100781249200-k32nglpau4qmhue8s35thrfmti6ai2d2</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>100781249200-35sbjb1iu9ett3hrnu8jp1j5kilsjkhr.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCnOMwNqZoRxws8HM8w3aON8ykRbOPu4bg</string>
	<key>GCM_SENDER_ID</key>
	<string>100781249200</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.moboserrandsservice</string>
	<key>PROJECT_ID</key>
	<string>mobo-s-errands-service</string>
	<key>STORAGE_BUCKET</key>
	<string>mobo-s-errands-service.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:100781249200:ios:70e65253fd64fe07276175</string>
</dict>
</plist>