<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>865484264738-nn75t93guugjed9evcv81tck27imtdhk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.865484264738-nn75t93guugjed9evcv81tck27imtdhk</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>865484264738-di5ah1ie14n9se6m5s7f7t369roh861a.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBsurAqWPb7ZiskgnQwosbaG0As3K1OTDc</string>
	<key>GCM_SENDER_ID</key>
	<string>865484264738</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.oyeeRides.order</string>
	<key>PROJECT_ID</key>
	<string>oyeerides-order</string>
	<key>STORAGE_BUCKET</key>
	<string>oyeerides-order.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:865484264738:ios:e8faa88ca5728ed836017b</string>
</dict>
</plist>