#include "Pods/Target Support Files/Pods-RoyoOrder/Pods-RoyoOrder.release.xcconfig"

PROJECT_APPLE_ID = 1561966015
PROJECT_BUNDLE_ID = com.codebrew.royoordersreactnative
PROJECT_APP_VERSION = 1.0
PROJECT_BUILD_NUMBER = 58
PROJECT_APP_NAME = RoyoOrder2.0
PROJECT_GOOGLE_CLIENT_ID = 1073948422654-evug2209p0rlpjno8t4f5ddfq4uavh4f.apps.googleusercontent.com
PROJECT_GOOGLE_REVERSE_CLIENT_ID = com.googleusercontent.apps.1073948422654-evug2209p0rlpjno8t4f5ddfq4uavh4f
PROJECT_FACEBOOK_ID = 170941418241602
PROJECT_TWITTER_ID = twitterkit-R66DHARfuoYAPowApUxNxwbPi
PROJECT_PLIST = RoyoOrderInfo
PROJECT_GOOGLE_PLACE_KEY = AIzaSyB85kLYYOmuAhBUPd7odVmL6gnQsSGWU-4
PROJECT_ENTITLEMENT = RoyoOrder.entitlements
