#include "Pods/Target Support Files/Pods-available_pods-Clickndrop/Pods-available_pods-Clickndrop.release.xcconfig"

PROJECT_APPLE_ID = 6443877520
PROJECT_BUNDLE_ID =com.clickndrop.royoorders
PROJECT_APP_VERSION = 1.0
PROJECT_BUILD_NUMBER = 1
PROJECT_APP_NAME = Clickndrop
PROJECT_GOOGLE_CLIENT_ID = 569766837773-79nngavf0n7tob6cccp9iif4enssk3ci.apps.googleusercontent.com
PROJECT_GOOGLE_REVERSE_CLIENT_ID =com.googleusercontent.apps.569766837773-79nngavf0n7tob6cccp9iif4enssk3ci
PROJECT_FACEBOOK_ID = 2685121731620570
PROJECT_TWITTER_ID = twitterkit-R66DHARfuoYAPowApUxNxwbPi
PROJECT_PLIST =ClickndropInfo
PROJECT_GOOGLE_PLACE_KEY = AIzaSyB85kLYYOmuAhBUPd7odVmL6gnQsSGWU-4
