<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>569766837773-79nngavf0n7tob6cccp9iif4enssk3ci.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.569766837773-79nngavf0n7tob6cccp9iif4enssk3ci</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>569766837773-6dt77suu3j04bva055li0ve52lkgj678.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCf4Tv6eRdjveBEFpJzKjh5R1mOhVvWnJQ</string>
	<key>GCM_SENDER_ID</key>
	<string>569766837773</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.clickndrop.royoorders</string>
	<key>PROJECT_ID</key>
	<string>clickndrop-baf97</string>
	<key>STORAGE_BUCKET</key>
	<string>clickndrop-baf97.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:569766837773:ios:c74820af1582409ac99f44</string>
</dict>
</plist>