<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>37739594920-vceveb22la3130b2ho95ci4k88ag11hm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.37739594920-vceveb22la3130b2ho95ci4k88ag11hm</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>37739594920-lbdk43fv2f1r1gqot26u9f6tn0ktfgso.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDf4cpzyeOkMgHcmrVoS_VV8RT0x-3c6uM</string>
	<key>GCM_SENDER_ID</key>
	<string>37739594920</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.yourlaundryapp</string>
	<key>PROJECT_ID</key>
	<string>yourlaundryapp-1a6ef</string>
	<key>STORAGE_BUCKET</key>
	<string>yourlaundryapp-1a6ef.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:37739594920:ios:348b5b1dcba566d1d6ee9d</string>
</dict>
</plist>