#include "Pods/Target Support Files/Pods-YourLaundryApp/Pods-YourLaundryApp.debug.xcconfig"

PROJECT_APPLE_ID = 1584800732
PROJECT_BUNDLE_ID = com.yourlaundryapp
PROJECT_APP_VERSION = 1.0
PROJECT_BUILD_NUMBER = 1
PROJECT_APP_NAME =YourLaundryApp
PROJECT_GOOGLE_CLIENT_ID =37739594920-vceveb22la3130b2ho95ci4k88ag11hm.apps.googleusercontent.com
PROJECT_GOOGLE_REVERSE_CLIENT_ID = com.googleusercontent.apps.37739594920-vceveb22la3130b2ho95ci4k88ag11hm
PROJECT_FACEBOOK_ID = 886269581982710
PROJECT_TWITTER_ID = twitterkit-R66DHARfuoYAPowApUxNxwbPi
PROJECT_PLIST = YourLaundryAppInfo
PROJECT_GOOGLE_PLACE_KEY = AIzaSyB85kLYYOmuAhBUPd7odVmL6gnQsSGWU-4
