<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>410221332381-850lg3jkftpa0vikuuq8k2qs8vdbob60.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.410221332381-850lg3jkftpa0vikuuq8k2qs8vdbob60</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>410221332381-5npsi45kq26r7cmpdtnvqs29r1ubt1k3.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyA-EXBRbqHpXEFZGLZr9xXlQGTz0i41qFI</string>
	<key>GCM_SENDER_ID</key>
	<string>410221332381</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.survuhs</string>
	<key>PROJECT_ID</key>
	<string>sur-vuhs</string>
	<key>STORAGE_BUCKET</key>
	<string>sur-vuhs.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:410221332381:ios:c463bee804929e03e3d174</string>
</dict>
</plist>