<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>172244006586-9dafouumbjegd60j3fd75v6mvoa4pfad.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.172244006586-9dafouumbjegd60j3fd75v6mvoa4pfad</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>172244006586-9mop70s1in4kiu294iqg9ofg7htshoeq.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAonSvzMy9b6EjcKjTM2jYwPx8bcRE0ziU</string>
	<key>GCM_SENDER_ID</key>
	<string>172244006586</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.airlinesRecruiter</string>
	<key>PROJECT_ID</key>
	<string>airlinesrecruiter-51078</string>
	<key>STORAGE_BUCKET</key>
	<string>airlinesrecruiter-51078.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:172244006586:ios:a4e4a21fc4e3ea9696b483</string>
</dict>
</plist>