#include "Pods/Target Support Files/Pods-available_pods-IDRV/Pods-available_pods-IDRV.debug.xcconfig"

PROJECT_APPLE_ID = 6443620027
PROJECT_BUNDLE_ID =com.idvr.royoorders
PROJECT_APP_VERSION = 1.0
PROJECT_BUILD_NUMBER = 1
PROJECT_APP_NAME = IDRV
PROJECT_GOOGLE_CLIENT_ID =857050782658-mbi3l31silc22vf25qakt1fgpqscier9.apps.googleusercontent.com
PROJECT_GOOGLE_REVERSE_CLIENT_ID =com.googleusercontent.apps.857050782658-mbi3l31silc22vf25qakt1fgpqscier9
PROJECT_FACEBOOK_ID = 1151401285773906
PROJECT_TWITTER_ID = twitterkit-R66DHARfuoYAPowApUxNxwbPi
PROJECT_PLIST =IDRVInfo
PROJECT_GOOGLE_PLACE_KEY = AIzaSyB85kLYYOmuAhBUPd7odVmL6gnQsSGWU-4
