<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>311672038016-r5dt4svpv3lv3eg3s7e2f6rt587e2vma.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.311672038016-r5dt4svpv3lv3eg3s7e2f6rt587e2vma</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>311672038016-bgfpsriubj0pbbvb2vk4ure3ae0u7260.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDITQKjmGyMWl5-EBrawInc_dVYomgxrfw</string>
	<key>GCM_SENDER_ID</key>
	<string>311672038016</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tajammul</string>
	<key>PROJECT_ID</key>
	<string>tajammul-1ac21</string>
	<key>STORAGE_BUCKET</key>
	<string>tajammul-1ac21.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:311672038016:ios:a2c0d246cbb721571fbc65</string>
</dict>
</plist>