<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>93509563952-3fa2so5b4jj5l5ml99ttgdd00r6mi7f0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.93509563952-3fa2so5b4jj5l5ml99ttgdd00r6mi7f0</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>93509563952-ch3r6iqn2b5gkv3d1pg0qetlhu5s94ia.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDcNlNrHDwTEBy4_6z7dnhrtzDDMA2U-W0</string>
	<key>GCM_SENDER_ID</key>
	<string>93509563952</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.pointoneExpediteDelivery.royoorders</string>
	<key>PROJECT_ID</key>
	<string>pointone-expedite-delivery</string>
	<key>STORAGE_BUCKET</key>
	<string>pointone-expedite-delivery.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:93509563952:ios:7b893dfd94970a578ddff5</string>
</dict>
</plist>