<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>484443076226-b0qmlp19tk88hog99onq87cs2fc8nbtq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.484443076226-b0qmlp19tk88hog99onq87cs2fc8nbtq</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>484443076226-4a8ikf64c1hj8htgsvk53nsroajcmtha.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCQ84w7w2VijKyF5asYsDm1djyiJkMlIZw</string>
	<key>GCM_SENDER_ID</key>
	<string>484443076226</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.readyToRent.order</string>
	<key>PROJECT_ID</key>
	<string>readytorent-order-2a4ef</string>
	<key>STORAGE_BUCKET</key>
	<string>readytorent-order-2a4ef.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:484443076226:ios:b750ecd5de076accf7669b</string>
</dict>
</plist>