<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>280907368750-55kblc5e4r0kjbe47mq1irsmo8td1eqm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.280907368750-55kblc5e4r0kjbe47mq1irsmo8td1eqm</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>280907368750-4s70j78kpg8s6js2ridoh2n4g5hk5biq.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBCpWIw0g9Ngl6nu5QL5E6isSo_sCmQYzk</string>
	<key>GCM_SENDER_ID</key>
	<string>280907368750</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.virgingates.royoorder</string>
	<key>PROJECT_ID</key>
	<string>virgingates-order</string>
	<key>STORAGE_BUCKET</key>
	<string>virgingates-order.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:280907368750:ios:2a2b47e7bd7161bf4612bf</string>
</dict>
</plist>