<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>292107643273-scp7h6ctmujt85jke9l9l1og5u7canot.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.292107643273-scp7h6ctmujt85jke9l9l1og5u7canot</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>292107643273-1ngb6305u3jld82ros4bopii0sdgcbqj.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCJZPtdDinaXIwaBr45YJFyP5LtRX6Kqig</string>
	<key>GCM_SENDER_ID</key>
	<string>292107643273</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rxnow</string>
	<key>PROJECT_ID</key>
	<string>rx-now</string>
	<key>STORAGE_BUCKET</key>
	<string>rx-now.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:292107643273:ios:907400f341c556ecf85958</string>
</dict>
</plist>