<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1022934464896-e2vcr05o0teor9ktg5gn5ojp9gkr9rf3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1022934464896-e2vcr05o0teor9ktg5gn5ojp9gkr9rf3</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1022934464896-106bub15a5ujn43on4kqa1vfq7e4733o.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCDYqnpf5o_bpKRYxDoye9CYueZ3AKpo5w</string>
	<key>GCM_SENDER_ID</key>
	<string>1022934464896</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bua</string>
	<key>PROJECT_ID</key>
	<string>bua-26c68</string>
	<key>STORAGE_BUCKET</key>
	<string>bua-26c68.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1022934464896:ios:1aca7e422a7896b912e965</string>
</dict>
</plist>