<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>883897235529-r10813btu21g4mvij037t4gac8hinead.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.883897235529-r10813btu21g4mvij037t4gac8hinead</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>883897235529-9sf7lm1jbck3n99r4p4vpmcbhkkvfu64.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyABCsomc7LYIa6_mHmLWCa1mnONDdcg1sY</string>
	<key>GCM_SENDER_ID</key>
	<string>883897235529</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.uberweeds.royoorders</string>
	<key>PROJECT_ID</key>
	<string>uberweeds-e9dbe</string>
	<key>STORAGE_BUCKET</key>
	<string>uberweeds-e9dbe.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:883897235529:ios:12f8c265cd823edf9ea798</string>
</dict>
</plist>