#include "Pods/Target Support Files/Pods-available_pods-IAmSelling/Pods-available_pods-IAmSelling.debug.xcconfig"

PROJECT_APPLE_ID = 1635743741
PROJECT_BUNDLE_ID =com.iAmSelling.order
PROJECT_APP_VERSION = 1.0
PROJECT_BUILD_NUMBER = 1
PROJECT_APP_NAME =I Am Selling
PROJECT_GOOGLE_CLIENT_ID =1018464653212-u0hm6b1aelfbg1sj5dvh0nu7hlcs30sg.apps.googleusercontent.com
PROJECT_GOOGLE_REVERSE_CLIENT_ID =com.googleusercontent.apps.1018464653212-u0hm6b1aelfbg1sj5dvh0nu7hlcs30sg
PROJECT_FACEBOOK_ID = 1433191463758454
PROJECT_TWITTER_ID = twitterkit-R66DHARfuoYAPowApUxNxwbPi
PROJECT_PLIST =IAmSellingInfo
PROJECT_GOOGLE_PLACE_KEY = AIzaSyB85kLYYOmuAhBUPd7odVmL6gnQsSGWU-4
