<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>193395047021-74q1640nomd0rf5e8p5ffunul8rfeg0j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.193395047021-74q1640nomd0rf5e8p5ffunul8rfeg0j</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>193395047021-20ol7c2bb6jhnva4ngi0ih02gaveu04e.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBBqd6CbSO9ryJ0l8FvDPg_RrqDGSE7I7E</string>
	<key>GCM_SENDER_ID</key>
	<string>193395047021</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kurrix.order</string>
	<key>PROJECT_ID</key>
	<string>kurrix-8cd9c</string>
	<key>STORAGE_BUCKET</key>
	<string>kurrix-8cd9c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:193395047021:ios:668309d76e77ead67c9d64</string>
</dict>
</plist>