#include "Pods/Target Support Files/Pods-available_pods-Kurrix/Pods-available_pods-Kurrix.release.xcconfig"

PROJECT_APPLE_ID = 1640462942
PROJECT_BUNDLE_ID =com.kurrix.order
PROJECT_APP_VERSION = 1.0
PROJECT_BUILD_NUMBER = 2
PROJECT_APP_NAME =Goadeliv
PROJECT_GOOGLE_CLIENT_ID =193395047021-74q1640nomd0rf5e8p5ffunul8rfeg0j.apps.googleusercontent.com
PROJECT_GOOGLE_REVERSE_CLIENT_ID =com.googleusercontent.apps.193395047021-74q1640nomd0rf5e8p5ffunul8rfeg0j
PROJECT_FACEBOOK_ID = 783438719463711
PROJECT_TWITTER_ID = twitterkit-R66DHARfuoYAPowApUxNxwbPi
PROJECT_PLIST =KurrixInfo
PROJECT_GOOGLE_PLACE_KEY = AIzaSyB85kLYYOmuAhBUPd7odVmL6gnQsSGWU-4
