<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>296850018245-nic8hmn6rgidkrauhdfa8jravpptm5i4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.296850018245-nic8hmn6rgidkrauhdfa8jravpptm5i4</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>296850018245-d260ser9gn30epvke1mqhmpbqcobufiq.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDJlclGAEHboOxyn1ZYmEjIau9rJU6vgQQ</string>
	<key>GCM_SENDER_ID</key>
	<string>296850018245</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gamaDelivery</string>
	<key>PROJECT_ID</key>
	<string>gama-delivery-9757c</string>
	<key>STORAGE_BUCKET</key>
	<string>gama-delivery-9757c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:296850018245:ios:279da27d46b8ede6bfc5ac</string>
</dict>
</plist>