<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>132064546186-cfisp8fv9bn11fetmq1i1lt3iq2ji3rm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.132064546186-cfisp8fv9bn11fetmq1i1lt3iq2ji3rm</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>132064546186-4hb20l4glnu2kq6e7ntonnjhpbigjsed.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBE8PAppCnzIwxfLIMuNGNncNLiyNDzXq4</string>
	<key>GCM_SENDER_ID</key>
	<string>132064546186</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.fidesDelivery</string>
	<key>PROJECT_ID</key>
	<string>fides-delivery</string>
	<key>STORAGE_BUCKET</key>
	<string>fides-delivery.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:132064546186:ios:cd7bf8b4a53f8cf664cc73</string>
</dict>
</plist>