<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>490772958192-qjlqracskfs4sbg8ont60nj60313huu6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.490772958192-qjlqracskfs4sbg8ont60nj60313huu6</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>490772958192-8ufo2slpdvj20un9lma09lh61pepllm7.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAZ_hyJPErTVnKsX-JvFTjWmKpRDGN56W4</string>
	<key>GCM_SENDER_ID</key>
	<string>490772958192</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.admcourier</string>
	<key>PROJECT_ID</key>
	<string>adm-courier</string>
	<key>STORAGE_BUCKET</key>
	<string>adm-courier.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:490772958192:ios:e6a72cde4e6364f8112b35</string>
</dict>
</plist>