<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>958478591297-10hbehi1ammd3kestg352hp6jb8i62ug.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.958478591297-10hbehi1ammd3kestg352hp6jb8i62ug</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>958478591297-ajh218rvmbjcr55h3j16c7cdauu5m7g4.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBDGHNgRHm4Rq3WuuTwb6fxalWX9OKDmyY</string>
	<key>GCM_SENDER_ID</key>
	<string>958478591297</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.pets.order</string>
	<key>PROJECT_ID</key>
	<string>pets-9bc0b</string>
	<key>STORAGE_BUCKET</key>
	<string>pets-9bc0b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:958478591297:ios:ed67989df340f3ba402dc0</string>
</dict>
</plist>