<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>536956537175-tnig54ramm3bn425j65saheooo1j4n29.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.536956537175-tnig54ramm3bn425j65saheooo1j4n29</string>
	<key>API_KEY</key>
	<string>AIzaSyAMkLXzNsDre-QopZG-GgR2Dont2k0Fryw</string>
	<key>GCM_SENDER_ID</key>
	<string>536956537175</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.app.sunshinerideshare</string>
	<key>PROJECT_ID</key>
	<string>sun-shine-ride-share</string>
	<key>STORAGE_BUCKET</key>
	<string>sun-shine-ride-share.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:536956537175:ios:1c1a3f46699e4e424b9612</string>
</dict>
</plist>