#include "Pods/Target Support Files/Pods-available_pods-SourceWith/Pods-available_pods-SourceWith.release.xcconfig"

PROJECT_APPLE_ID = 1638698717
PROJECT_BUNDLE_ID =com.sourceWith.order
PROJECT_APP_VERSION = 1.0
PROJECT_BUILD_NUMBER = 1
PROJECT_APP_NAME =SourceWith
PROJECT_GOOGLE_CLIENT_ID =625536926352-1b3v8f1097phn6ga2elbufm5703v8aqg.apps.googleusercontent.com
PROJECT_GOOGLE_REVERSE_CLIENT_ID =com.googleusercontent.apps.625536926352-1b3v8f1097phn6ga2elbufm5703v8aqg
PROJECT_FACEBOOK_ID = 375708147864153
PROJECT_TWITTER_ID = twitterkit-R66DHARfuoYAPowApUxNxwbPi
PROJECT_PLIST =SourceWithInfo
PROJECT_GOOGLE_PLACE_KEY = AIzaSyB85kLYYOmuAhBUPd7odVmL6gnQsSGWU-4
