<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>353221064445-68mtas5t53vv21cdf95a7aar4r8tf3sj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.353221064445-68mtas5t53vv21cdf95a7aar4r8tf3sj</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>353221064445-3kdpogbms7uqeu99t7aginb58vscn64r.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDOnYYbGOlBPcJAcVAmdYja_y6HRrx337M</string>
	<key>GCM_SENDER_ID</key>
	<string>353221064445</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.zuriRide.order</string>
	<key>PROJECT_ID</key>
	<string>zuriride-d04a0</string>
	<key>STORAGE_BUCKET</key>
	<string>zuriride-d04a0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:353221064445:ios:a77baba350092e8b10b094</string>
</dict>
</plist>