<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>700937882772-8uhg8m664r4ht4d9o01gndj5oiuho0a6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.700937882772-8uhg8m664r4ht4d9o01gndj5oiuho0a6</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>700937882772-5eu1e1brpgsvflr4jm1b4eb332fjams6.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBUXeeoAkJ16ALLLCWpRdiFi0Pq_xTZhQg</string>
	<key>GCM_SENDER_ID</key>
	<string>700937882772</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nGoal.orderApp</string>
	<key>PROJECT_ID</key>
	<string>ngoal-960de</string>
	<key>STORAGE_BUCKET</key>
	<string>ngoal-960de.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:700937882772:ios:c923946bd4423f52ecf881</string>
</dict>
</plist>