<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1047811476285-fs94cuetgkiik4kr6fud6fj33453e3rs.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1047811476285-fs94cuetgkiik4kr6fud6fj33453e3rs</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1047811476285-nedv5dimtpkhstvk7j6j2icatlkm5bkk.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyC2IqBqUal4oikEhP4QWnwq3LRRAKaUZAQ</string>
	<key>GCM_SENDER_ID</key>
	<string>1047811476285</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ngoal.order</string>
	<key>PROJECT_ID</key>
	<string>ngoal-order</string>
	<key>STORAGE_BUCKET</key>
	<string>ngoal-order.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1047811476285:ios:9722bd1edf567d17461354</string>
</dict>
</plist>