<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>700297284346-3o9sd3igtknjrp1sjvd1moom5lq04sv0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.700297284346-3o9sd3igtknjrp1sjvd1moom5lq04sv0</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>700297284346-bf33bnkcgrbbej0crh251dgn03gqee9j.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBsm5JoX_dMDE3IhSu_FsbYKFZ_5TkuVMg</string>
	<key>GCM_SENDER_ID</key>
	<string>700297284346</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hattaFoodHub.royoorders</string>
	<key>PROJECT_ID</key>
	<string>hattafoodhub-order</string>
	<key>STORAGE_BUCKET</key>
	<string>hattafoodhub-order.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:700297284346:ios:640d769c5fa1138bdb1743</string>
</dict>
</plist>