<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>407774402132-8q6uu8funsup6esrvs1to55vnfbet9mi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.407774402132-8q6uu8funsup6esrvs1to55vnfbet9mi</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>407774402132-d6u4shbjbd84ccjucbn66mago3dc4lfk.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCGM6ekPEMEjSS5GBvQXzW5ZymvW4GkTkY</string>
	<key>GCM_SENDER_ID</key>
	<string>407774402132</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hattafoodhub.orderapp</string>
	<key>CFBundleIdentifier</key>
	<string></string>
	<key>PROJECT_ID</key>
	<string>hattafoodhub-b5350</string>
	<key>STORAGE_BUCKET</key>
	<string>hattafoodhub-b5350.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:407774402132:ios:f0be90d813489fcd98ffc1</string>
</dict>
</plist>
