#include "Pods/Target Support Files/Pods-available_pods-HattaFoodHub/Pods-available_pods-HattaFoodHub.release.xcconfig"
PROJECT_APPLE_ID = 1672007981
PROJECT_BUNDLE_ID =com.hattafoodhub.orderapp
PROJECT_APP_VERSION = 1.0
PROJECT_BUILD_NUMBER = 1
PROJECT_APP_NAME = HattaFoodHub
PROJECT_GOOGLE_CLIENT_ID =407774402132-8q6uu8funsup6esrvs1to55vnfbet9mi.apps.googleusercontent.com
PROJECT_GOOGLE_REVERSE_CLIENT_ID =com.googleusercontent.apps.407774402132-8q6uu8funsup6esrvs1to55vnfbet9mi
PROJECT_FACEBOOK_ID = 508326398063216
PROJECT_TWITTER_ID = twitterkit-R66DHARfuoYAPowApUxNxwbPi
PROJECT_PLIST =HattaFoodHubInfo
PROJECT_GOOGLE_PLACE_KEY = AIzaSyB85kLYYOmuAhBUPd7odVmL6gnQsSGWU-4
