#include "Pods/Target Support Files/Pods-available_pods-Getfix/Pods-available_pods-Getfix.Release.xcconfig"

PROJECT_APPLE_ID = 1612228040
PROJECT_BUNDLE_ID = com.getfix.customer
PROJECT_APP_VERSION = 1.0
PROJECT_BUILD_NUMBER = 1
PROJECT_APP_NAME = Getfix
PROJECT_GOOGLE_CLIENT_ID = 1055795788305-1patnmladkuulo9f82i0btosafeuuabl.apps.googleusercontent.com
PROJECT_GOOGLE_REVERSE_CLIENT_ID = com.googleusercontent.apps.1055795788305-1patnmladkuulo9f82i0btosafeuuabl
PROJECT_FACEBOOK_ID = 678844839971098
PROJECT_TWITTER_ID = twitterkit-R66DHARfuoYAPowApUxNxwbPi
PROJECT_PLIST =GetfixInfo
PROJECT_GOOGLE_PLACE_KEY = AIzaSyB85kLYYOmuAhBUPd7odVmL6gnQsSGWU-4
