#include "Pods/Target Support Files/Pods-available_pods-Travo/Pods-available_pods-Travo.release.xcconfig"


PROJECT_APPLE_ID = 1580914194
PROJECT_BUNDLE_ID = com.codebrew.travo
PROJECT_APP_VERSION = 1.0
PROJECT_BUILD_NUMBER = 12
PROJECT_APP_NAME = Travo
PROJECT_GOOGLE_CLIENT_ID = 886852785284-eihu5frr9f0tgkk1u4n2rs6bklofd55f.apps.googleusercontent.com
PROJECT_GOOGLE_REVERSE_CLIENT_ID = com.googleusercontent.apps.886852785284-eihu5frr9f0tgkk1u4n2rs6bklofd55f
PROJECT_FACEBOOK_ID = 810065569619085
PROJECT_TWITTER_ID = twitterkit-R66DHARfuoYAPowApUxNxwbPi
PROJECT_PLIST = TravoInfo
PROJECT_GOOGLE_PLACE_KEY = AIzaSyB85kLYYOmuAhBUPd7odVmL6gnQsSGWU-4
