#include "Pods/Target Support Files/Pods-available_pods-MML/Pods-available_pods-MML.release.xcconfig"

PROJECT_APPLE_ID = 1602326464
PROJECT_BUNDLE_ID = com.mml
PROJECT_APP_VERSION = 1.0
PROJECT_BUILD_NUMBER = 6
PROJECT_APP_NAME = MML
PROJECT_GOOGLE_CLIENT_ID = 348667955943-65m90tn2f85otcqef29lq1tq1ahbcvmd.apps.googleusercontent.com
PROJECT_GOOGLE_REVERSE_CLIENT_ID = com.googleusercontent.apps.348667955943-65m90tn2f85otcqef29lq1tq1ahbcvmd
PROJECT_FACEBOOK_ID = 475937877201410
PROJECT_TWITTER_ID = twitterkit-R66DHARfuoYAPowApUxNxwbPi
PROJECT_PLIST =MMLInfo
PROJECT_GOOGLE_PLACE_KEY = AIzaSyB85kLYYOmuAhBUPd7odVmL6gnQsSGWU-4

