<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>832703489231-ppddbk6uruhvmu75f8495t6nq3dtneg7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.832703489231-ppddbk6uruhvmu75f8495t6nq3dtneg7</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>832703489231-6pjl0dlpse05u2mo59iu6clsjldo6d48.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCobZ9PqrwwqX8E8VB2zbRRpXDBNU3C7rw</string>
	<key>GCM_SENDER_ID</key>
	<string>832703489231</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.pik.royoorders</string>
	<key>PROJECT_ID</key>
	<string>pik-a1668</string>
	<key>STORAGE_BUCKET</key>
	<string>pik-a1668.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:832703489231:ios:68d4e9c452a810e9ac83ba</string>
</dict>
</plist>