<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>46226157991-oajmigi2nnqfcjtvgukc8vrfvp5mfck1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.46226157991-oajmigi2nnqfcjtvgukc8vrfvp5mfck1</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>46226157991-1jq94is2rpjrcj21ec1mhjj3v6e7vort.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBR-V1LTw04alykrFq7KTOzxwSK1Ip6QIc</string>
	<key>GCM_SENDER_ID</key>
	<string>46226157991</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hectohomes.royoorders</string>
	<key>PROJECT_ID</key>
	<string>hecto-homes</string>
	<key>STORAGE_BUCKET</key>
	<string>hecto-homes.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:46226157991:ios:f8c102947acfea55f98682</string>
</dict>
</plist>