#include "Pods/Target Support Files/Pods-ClickEat/Pods-ClickEat.debug.xcconfig"


PROJECT_APPLE_ID = 1578854955
PROJECT_BUNDLE_ID = com.codebrew.clicktoeat
PROJECT_APP_VERSION = 1.0
PROJECT_BUILD_NUMBER = 3
PROJECT_APP_NAME = Click EAT
PROJECT_GOOGLE_CLIENT_ID = 332408479491-00ptmekuocj67vqt4qck4hijqq6ffl1a.apps.googleusercontent.com
PROJECT_GOOGLE_REVERSE_CLIENT_ID = com.googleusercontent.apps.332408479491-00ptmekuocj67vqt4qck4hijqq6ffl1a
PROJECT_FACEBOOK_ID = 892807774925106
PROJECT_TWITTER_ID = twitterkit-R66DHARfuoYAPowApUxNxwbPi
PROJECT_PLIST = ClickEatInfo
PROJECT_GOOGLE_PLACE_KEY = AIzaSyB85kLYYOmuAhBUPd7odVmL6gnQsSGWU-4
