<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>332408479491-00ptmekuocj67vqt4qck4hijqq6ffl1a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.332408479491-00ptmekuocj67vqt4qck4hijqq6ffl1a</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>332408479491-2blpmtjc9ak1rg2jcuss36284a09cld3.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyB9ChEDLICyrFKLbCzh_aei5LJFLeo8KSg</string>
	<key>GCM_SENDER_ID</key>
	<string>332408479491</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.codebrew.clicktoeat</string>
	<key>PROJECT_ID</key>
	<string>click-eat-4389e</string>
	<key>STORAGE_BUCKET</key>
	<string>click-eat-4389e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:332408479491:ios:86ac3b2833d7728d9bd336</string>
</dict>
</plist>