<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>159203446386-vtqcu8slij86b2uq5iu77ovinbmp52nk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.159203446386-vtqcu8slij86b2uq5iu77ovinbmp52nk</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>159203446386-2c5nqg8k29nafqonfmubh0dghhf52iol.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyADNW1xHVdOnqsSShk9diW55ZuEi4Mx7Uc</string>
	<key>GCM_SENDER_ID</key>
	<string>159203446386</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ouiSpeed.order</string>
	<key>PROJECT_ID</key>
	<string>oui-speed-5f78f</string>
	<key>STORAGE_BUCKET</key>
	<string>oui-speed-5f78f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:159203446386:ios:a9e1bcd65b2d12ee6e7ceb</string>
</dict>
</plist>