<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>48641628123-jgli6575sgv962jhqtkqmau467mmta6k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.48641628123-jgli6575sgv962jhqtkqmau467mmta6k</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>48641628123-0t21jn4sch1il29j9t0vdpi4dredrpb6.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCxR6q5DpOEAQP0wQAvErJrHnTHx66uaCs</string>
	<key>GCM_SENDER_ID</key>
	<string>48641628123</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.oaks.royoorder</string>
	<key>PROJECT_ID</key>
	<string>oaks-order</string>
	<key>STORAGE_BUCKET</key>
	<string>oaks-order.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:48641628123:ios:dd512bcb8bae9642dc79fe</string>
</dict>
</plist>