#include "Pods/Target Support Files/Pods-available_pods-Oaks/Pods-available_pods-Oaks.release.xcconfig"
PROJECT_APPLE_ID = 1666176295
PROJECT_BUNDLE_ID = com.oaks.royoorder
PROJECT_APP_VERSION = 1.0
PROJECT_BUILD_NUMBER = 1
PROJECT_APP_NAME = Oaks
PROJECT_GOOGLE_CLIENT_ID =48641628123-jgli6575sgv962jhqtkqmau467mmta6k.apps.googleusercontent.com
PROJECT_GOOGLE_REVERSE_CLIENT_ID =com.googleusercontent.apps.48641628123-jgli6575sgv962jhqtkqmau467mmta6k
PROJECT_FACEBOOK_ID = 708040410876715
PROJECT_TWITTER_ID = twitterkit-R66DHARfuoYAPowApUxNxwbPi
PROJECT_PLIST =OaksInfo
PROJECT_GOOGLE_PLACE_KEY = AIzaSyB85kLYYOmuAhBUPd7odVmL6gnQsSGWU-4
