<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1048158962283-be0kqns1i8stt5kjn072ev9d783f25q9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1048158962283-be0kqns1i8stt5kjn072ev9d783f25q9</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1048158962283-8fjmmvr1cvuba23l9q63h09nplp7gjg2.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyB-TnnNmQM2BV5GAEXlnuVQe1j8w7OEGm4</string>
	<key>GCM_SENDER_ID</key>
	<string>1048158962283</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ekobridge.order</string>
	<key>PROJECT_ID</key>
	<string>ekobridge-order</string>
	<key>STORAGE_BUCKET</key>
	<string>ekobridge-order.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1048158962283:ios:852e22d285e633b304e72e</string>
</dict>
</plist>