<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>692613545982-kfa6v1karqi5dn0gh2glj0c4ooit5uee.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.692613545982-kfa6v1karqi5dn0gh2glj0c4ooit5uee</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>692613545982-1s08so0f00b271cm5rctf8p0mvrn2jeq.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAuffnuN6Y1pmFoGvs1osDwLI0Dg1nK6R4</string>
	<key>GCM_SENDER_ID</key>
	<string>692613545982</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dot.royoorders</string>
	<key>PROJECT_ID</key>
	<string>dotapp-order</string>
	<key>STORAGE_BUCKET</key>
	<string>dotapp-order.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:692613545982:ios:3568cc95ee70b05efe0aaf</string>
</dict>
</plist>