<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1016213552085-ir6mbck96b67la33290se325tf5uhtjq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1016213552085-ir6mbck96b67la33290se325tf5uhtjq</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1016213552085-hf4qf2g9q1obtt16p7ifutkpvgvr0v6d.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBlAjw2D0kxseurm5_hI7cA1DizRc07F60</string>
	<key>GCM_SENDER_ID</key>
	<string>1016213552085</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.lastminutedress.order</string>
	<key>PROJECT_ID</key>
	<string>last-minute-dress-70cad</string>
	<key>STORAGE_BUCKET</key>
	<string>last-minute-dress-70cad.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1016213552085:ios:7bc42c2638f26996819b5c</string>
</dict>
</plist>