#include "Pods/Target Support Files/Pods-available_pods-LastMinuteDress/Pods-available_pods-LastMinuteDress.debug.xcconfig"


PROJECT_APPLE_ID = 1642053610
PROJECT_BUNDLE_ID = com.lastminutedress.order
PROJECT_APP_VERSION = 1.0
PROJECT_BUILD_NUMBER = 2
PROJECT_APP_NAME = Last Minute Dress
PROJECT_GOOGLE_CLIENT_ID = 1016213552085-ir6mbck96b67la33290se325tf5uhtjq.apps.googleusercontent.com
PROJECT_GOOGLE_REVERSE_CLIENT_ID = com.googleusercontent.apps.1016213552085-ir6mbck96b67la33290se325tf5uhtjq
PROJECT_FACEBOOK_ID = 820713365252603
PROJECT_TWITTER_ID = twitterkit-R66DHARfuoYAPowApUxNxwbPi
PROJECT_PLIST = LastMinuteDressInfo
PROJECT_GOOGLE_PLACE_KEY = AIzaSyB85kLYYOmuAhBUPd7odVmL6gnQsSGWU-4
