<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>78862464790-7g5dpgv6ipod6v5ki6tn3rvo83l7aefe.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.78862464790-7g5dpgv6ipod6v5ki6tn3rvo83l7aefe</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>78862464790-pvs73kg08dk6qrkqmqv25qau98sp5k4m.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAFiawbkdeN_cMzj3vVCmAYc_KqN7RUV-s</string>
	<key>GCM_SENDER_ID</key>
	<string>78862464790</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gumastas</string>
	<key>PROJECT_ID</key>
	<string>gumasta-s</string>
	<key>STORAGE_BUCKET</key>
	<string>gumasta-s.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:78862464790:ios:6ef02d72b30187ebd90237</string>
</dict>
</plist>