<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>861949969644-2g7l0ll4il91vev3go7qjbhhj4ffoq56.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.861949969644-2g7l0ll4il91vev3go7qjbhhj4ffoq56</string>
	<key>API_KEY</key>
	<string>AIzaSyB5q7qYJ0Z1N-uSw7Wf2NIu_exeeehn170</string>
	<key>GCM_SENDER_ID</key>
	<string>861949969644</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hitaxi.royoorders</string>
	<key>PROJECT_ID</key>
	<string>hitaxi-2f719</string>
	<key>STORAGE_BUCKET</key>
	<string>hitaxi-2f719.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:861949969644:ios:b16e47cd9bf041a9e611c9</string>
</dict>
</plist>