<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>448315100209-e15lrn7e26ah27l45u73ul73jgi0jh60.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.448315100209-e15lrn7e26ah27l45u73ul73jgi0jh60</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>448315100209-b851o7gmviq81qbedmqej27bnftuou21.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyA-7fTGbB-39aQXSvDLdUC-1OH7uVTpkcs</string>
	<key>GCM_SENDER_ID</key>
	<string>448315100209</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.farmMeat.order</string>
	<key>PROJECT_ID</key>
	<string>farm-meat-d1635</string>
	<key>STORAGE_BUCKET</key>
	<string>farm-meat-d1635.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:448315100209:ios:f2f345644341407b151910</string>
</dict>
</plist>