#include "Pods/Target Support Files/Pods-Codiner/Pods-Codiner.release.xcconfig"

PROJECT_APPLE_ID = 1581781634
PROJECT_BUNDLE_ID = com.codiner
PROJECT_APP_VERSION = 1.0
PROJECT_BUILD_NUMBER = 10
PROJECT_APP_NAME = Codiner
PROJECT_GOOGLE_CLIENT_ID = 787332814468-6ptn9bntf9ov45f9k5fs5i6nh6rljv0r.apps.googleusercontent.com
PROJECT_GOOGLE_REVERSE_CLIENT_ID = com.googleusercontent.apps.787332814468-6ptn9bntf9ov45f9k5fs5i6nh6rljv0r
PROJECT_FACEBOOK_ID = 135112048777479
PROJECT_TWITTER_ID = twitterkit-R66DHARfuoYAPowApUxNxwbPi
PROJECT_PLIST = CodinerInfo
PROJECT_GOOGLE_PLACE_KEY = AIzaSyB85kLYYOmuAhBUPd7odVmL6gnQsSGWU-4
