<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>787332814468-6ptn9bntf9ov45f9k5fs5i6nh6rljv0r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.787332814468-6ptn9bntf9ov45f9k5fs5i6nh6rljv0r</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>787332814468-46dll506g9d5r0fgpimn2ec665ihfu2r.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDSNGNxWit_POfSIRqR_xxxbNZZ_fnrrpw</string>
	<key>GCM_SENDER_ID</key>
	<string>787332814468</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.codiner</string>
	<key>PROJECT_ID</key>
	<string>codiner-cd637</string>
	<key>STORAGE_BUCKET</key>
	<string>codiner-cd637.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:787332814468:ios:4624c3744d3b1c5eb794d1</string>
</dict>
</plist>