<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>450567746106-71ijiv4btiflroemr9e9v2r46tgbhqaf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.450567746106-71ijiv4btiflroemr9e9v2r46tgbhqaf</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>450567746106-2n4dqb2rq3j8er2oloj1c0d02dh37fbk.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyC-xCE9Tw1lugFAGLqjs2olimN6CiSfqAs</string>
	<key>GCM_SENDER_ID</key>
	<string>450567746106</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.toda.orders</string>
	<key>PROJECT_ID</key>
	<string>toda-bb5bc</string>
	<key>STORAGE_BUCKET</key>
	<string>toda-bb5bc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:450567746106:ios:0ce139dd498cd944de7b03</string>
</dict>
</plist>