<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>916278263416-n3b4d6bu6fkn70lngi424rluoe0qm184.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.916278263416-n3b4d6bu6fkn70lngi424rluoe0qm184</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>916278263416-cd6o9l910ve03mjru2lq4jb1vum3ao09.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAEhm2vbt1nwcfCiewKenDEOdRfib7oIvY</string>
	<key>GCM_SENDER_ID</key>
	<string>916278263416</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.chutneyeah.royoorder</string>
	<key>PROJECT_ID</key>
	<string>chutneyeah-order</string>
	<key>STORAGE_BUCKET</key>
	<string>chutneyeah-order.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:916278263416:ios:8415d5b5c95a106ae7b78d</string>
</dict>
</plist>