<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>700358399661-hqt1usb4b1umm6ngtcqo206odjj7iqf9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.700358399661-hqt1usb4b1umm6ngtcqo206odjj7iqf9</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>700358399661-e1agclnbl2fm6n29iuadt6fkljn0m0c6.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDTF14Vg_2P5mmE8CdP3C4QlVVkUMBau4M</string>
	<key>GCM_SENDER_ID</key>
	<string>700358399661</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.lvlup.royoorders</string>
	<key>PROJECT_ID</key>
	<string>lvlup-fa09f</string>
	<key>STORAGE_BUCKET</key>
	<string>lvlup-fa09f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:700358399661:ios:30900d65076a89c0ab9824</string>
</dict>
</plist>