<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>883093041546-g2maqt6n56ms8neag8io6jte07m8nbht.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.883093041546-g2maqt6n56ms8neag8io6jte07m8nbht</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>883093041546-0q4eht2tbsm0fpal4qt0glbem4jj74n2.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDtmIEGC9v2EuQri-oFOM17h3IvvG7sG6E</string>
	<key>GCM_SENDER_ID</key>
	<string>883093041546</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.thubaerides</string>
	<key>PROJECT_ID</key>
	<string>thubaerides</string>
	<key>STORAGE_BUCKET</key>
	<string>thubaerides.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:883093041546:ios:fad069e6ed8815ba5e5873</string>
</dict>
</plist>