<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>497239409475-ns7v1mo5su5vitni8bhm10r0g8qt2k14.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.497239409475-ns7v1mo5su5vitni8bhm10r0g8qt2k14</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>497239409475-7fg1a43abio140iu1hiv152nvugc56lt.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyA1qa00gmol85RUMrhbZjKLWZ4qjxbN3LA</string>
	<key>GCM_SENDER_ID</key>
	<string>497239409475</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.weemoov.order</string>
	<key>PROJECT_ID</key>
	<string>weemoov-order</string>
	<key>STORAGE_BUCKET</key>
	<string>weemoov-order.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:497239409475:ios:d2e57444cd0084091c25f6</string>
</dict>
</plist>