#include "Pods/Target Support Files/Pods-available_pods-Yeboy/Pods-available_pods-Yeboy.release.xcconfig"

PROJECT_APPLE_ID =1608352221
PROJECT_BUNDLE_ID =com.app.yeboy
PROJECT_APP_VERSION = 1.1
PROJECT_BUILD_NUMBER = 2
PROJECT_APP_NAME =Yeboy
PROJECT_GOOGLE_CLIENT_ID =808327059058-3ig3t6j6vg3ksc9g117d4qra63118lk7.apps.googleusercontent.com
PROJECT_GOOGLE_REVERSE_CLIENT_ID =com.googleusercontent.apps.808327059058-3ig3t6j6vg3ksc9g117d4qra63118lk7
PROJECT_FACEBOOK_ID =299898598804157
PROJECT_TWITTER_ID = twitterkit-R66DHARfuoYAPowApUxNxwbPi
PROJECT_PLIST =YeboyInfo
PROJECT_GOOGLE_PLACE_KEY = AIzaSyB85kLYYOmuAhBUPd7odVmL6gnQsSGWU-4
CODE_PUSH_KEY = mMcUK6teoKfjeD4kAus5q9jm5IBiwDkTOUHFN
