#include "Pods/Target Support Files/Pods-available_pods-Yeboy/Pods-available_pods-Yeboy.release.xcconfig"

PROJECT_APPLE_ID =1595573444
PROJECT_BUNDLE_ID =com.yeboy
PROJECT_APP_VERSION = 1.0
PROJECT_BUILD_NUMBER = 2
PROJECT_APP_NAME =Yeboy
PROJECT_GOOGLE_CLIENT_ID =808327059058-fegd7hegs6pkcsids7sc9r2vboak5hsg.apps.googleusercontent.com
PROJECT_GOOGLE_REVERSE_CLIENT_ID =com.googleusercontent.apps.808327059058-fegd7hegs6pkcsids7sc9r2vboak5hsg
PROJECT_FACEBOOK_ID =299898598804157
PROJECT_TWITTER_ID = twitterkit-R66DHARfuoYAPowApUxNxwbPi
PROJECT_PLIST =YeboyInfo
PROJECT_GOOGLE_PLACE_KEY = AIzaSyB85kLYYOmuAhBUPd7odVmL6gnQsSGWU-4
CODE_PUSH_KEY = 1ROEUlEFJVGu1IAXrnArw7zvQYDUIIzmZIbJL

