#include "Pods/Target Support Files/Pods-available_pods-WeEat/Pods-available_pods-WeEat.release.xcconfig"

PROJECT_APPLE_ID = 1585626903
PROJECT_BUNDLE_ID = com.weeat.customer
PROJECT_APP_VERSION = 1.0
PROJECT_BUILD_NUMBER = 2
PROJECT_APP_NAME =WeEat
PROJECT_GOOGLE_CLIENT_ID =670051101955-j0si5eesmol7goudqrrj0ovt8nu6ii7m.apps.googleusercontent.com
PROJECT_GOOGLE_REVERSE_CLIENT_ID = com.googleusercontent.apps.670051101955-j0si5eesmol7goudqrrj0ovt8nu6ii7m
PROJECT_FACEBOOK_ID =280056687291575
PROJECT_TWITTER_ID = twitterkit-R66DHARfuoYAPowApUxNxwbPi
PROJECT_PLIST =WeEatInfo
PROJECT_GOOGLE_PLACE_KEY = AIzaSyB85kLYYOmuAhBUPd7odVmL6gnQsSGWU-4
