<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>643531318809-ph9dudn017ser58vgkekpbtcj3enbj9p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.643531318809-ph9dudn017ser58vgkekpbtcj3enbj9p</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>643531318809-42focemfum51ok327hpe64e92o536ejr.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDIgZIWzH_6x3nVzixsmvFMBRTcOIKZMls</string>
	<key>GCM_SENDER_ID</key>
	<string>643531318809</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.housekeeper4hire</string>
	<key>PROJECT_ID</key>
	<string>housekeeper-f921b</string>
	<key>STORAGE_BUCKET</key>
	<string>housekeeper-f921b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:643531318809:ios:bf3a535c4daa622f472c88</string>
</dict>
</plist>