<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>981407968433-ahqdb35m7eie5mf7mrnv166etcq4fkmm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.981407968433-ahqdb35m7eie5mf7mrnv166etcq4fkmm</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>981407968433-ans6s2g15o3o6d4ptggltfef890s842t.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDQX7QVoEOjyMJvJqG9Jem3ayR6pANsCvU</string>
	<key>GCM_SENDER_ID</key>
	<string>981407968433</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.zuzuclean</string>
	<key>PROJECT_ID</key>
	<string>zuzu-clean-ee42e</string>
	<key>STORAGE_BUCKET</key>
	<string>zuzu-clean-ee42e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:981407968433:ios:26d5276685b191fd2e8690</string>
</dict>
</plist>