<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>544099524428-98hnhus1f5du5cnt1appphhsa67c8ul8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.544099524428-98hnhus1f5du5cnt1appphhsa67c8ul8</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>544099524428-6la50pgdaf38oqf3hv99flj5cmtnifv9.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCmQjLcOzliKeEEPg_8a7or7Xn3EZGt8dM</string>
	<key>GCM_SENDER_ID</key>
	<string>544099524428</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.zulbrand.order</string>
	<key>PROJECT_ID</key>
	<string>zulbrand-order</string>
	<key>STORAGE_BUCKET</key>
	<string>zulbrand-order.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:544099524428:ios:fa22ba84864a7f644e79e9</string>
</dict>
</plist>