#include "Pods/Target Support Files/Pods-available_pods-Zulbrand/Pods-available_pods-Zulbrand.release.xcconfig"
PROJECT_APPLE_ID = 6445912372
PROJECT_BUNDLE_ID = com.zulbrand.order
PROJECT_APP_VERSION = 1.0
PROJECT_BUILD_NUMBER = 1
PROJECT_APP_NAME = Zulbrand
PROJECT_GOOGLE_CLIENT_ID =544099524428-98hnhus1f5du5cnt1appphhsa67c8ul8.apps.googleusercontent.com
PROJECT_GOOGLE_REVERSE_CLIENT_ID =com.googleusercontent.apps.544099524428-98hnhus1f5du5cnt1appphhsa67c8ul8
PROJECT_FACEBOOK_ID = 1228344884784647
PROJECT_TWITTER_ID = twitterkit-R66DHARfuoYAPowApUxNxwbPi
PROJECT_PLIST =ZulbrandInfo
PROJECT_GOOGLE_PLACE_KEY = AIzaSyB85kLYYOmuAhBUPd7odVmL6gnQsSGWU-4
