<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>849566100513-8qjde8lr64qqgnafphkdc6cdn58o3kt8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.849566100513-8qjde8lr64qqgnafphkdc6cdn58o3kt8</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>849566100513-3g0jopp308dfon01pt8l9jmghqc3ms79.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBlyw_TK-W63ddC9477x63GJkCvrhAY-PM</string>
	<key>GCM_SENDER_ID</key>
	<string>849566100513</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.smartMur.order</string>
	<key>PROJECT_ID</key>
	<string>smart-mur</string>
	<key>STORAGE_BUCKET</key>
	<string>smart-mur.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:849566100513:ios:2dbfd22d34025160d8c760</string>
</dict>
</plist>