#include "Pods/Target Support Files/Pods-available_pods-SmartMur/Pods-available_pods-SmartMur.debug.xcconfig"

PROJECT_APPLE_ID = 1634750160
PROJECT_BUNDLE_ID =com.smartMur.order
PROJECT_APP_VERSION = 1.0
PROJECT_BUILD_NUMBER = 2
PROJECT_APP_NAME = Smart Mur
PROJECT_GOOGLE_CLIENT_ID =849566100513-8qjde8lr64qqgnafphkdc6cdn58o3kt8.apps.googleusercontent.com
PROJECT_GOOGLE_REVERSE_CLIENT_ID =com.googleusercontent.apps.849566100513-8qjde8lr64qqgnafphkdc6cdn58o3kt8
PROJECT_FACEBOOK_ID = 1241544953257974
PROJECT_TWITTER_ID = twitterkit-R66DHARfuoYAPowApUxNxwbPi
PROJECT_PLIST =SmartMurInfo
PROJECT_GOOGLE_PLACE_KEY = AIzaSyB85kLYYOmuAhBUPd7odVmL6gnQsSGWU-4
