<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>347073109207-ml14a0att10570doestefciia2k8opci.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.347073109207-ml14a0att10570doestefciia2k8opci</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>347073109207-4go32fsajo8a9efhclptcp4h19lejic9.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBBwiOrF2dsK2y2PUp7v1qzv6tzJA4eRhI</string>
	<key>GCM_SENDER_ID</key>
	<string>347073109207</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.vendoor</string>
	<key>PROJECT_ID</key>
	<string>vendoor-caaca</string>
	<key>STORAGE_BUCKET</key>
	<string>vendoor-caaca.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:347073109207:ios:b43434e7d642cb620a6492</string>
</dict>
</plist>