<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>647983075564-m8vrmlcuae0mtelrkm0e0549e06vcom6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.647983075564-m8vrmlcuae0mtelrkm0e0549e06vcom6</string>
	<key>API_KEY</key>
	<string>AIzaSyDBuHv_U3FKU8b-JTT3-wQUVbgE_RYTMgk</string>
	<key>GCM_SENDER_ID</key>
	<string>647983075564</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bluebundles</string>
	<key>PROJECT_ID</key>
	<string>bluebundles-55188</string>
	<key>STORAGE_BUCKET</key>
	<string>bluebundles-55188.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:647983075564:ios:dd9bc89bc3d5273c9e15c9</string>
</dict>
</plist>