<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>809208600072-4d7940g574an72scj0qv6d9ss85hlqts.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.809208600072-4d7940g574an72scj0qv6d9ss85hlqts</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>809208600072-2agbgopm1b7400htl5vneuic9s166ntp.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAx974OVsKSZEQRsiY5cYrDkwI3UtkTEoc</string>
	<key>GCM_SENDER_ID</key>
	<string>809208600072</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tiimo.orderApp</string>
	<key>PROJECT_ID</key>
	<string>tiimo-8e53f</string>
	<key>STORAGE_BUCKET</key>
	<string>tiimo-8e53f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:809208600072:ios:c513b08b79ca1c4118a3bd</string>
</dict>
</plist>