<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>947716773070-q8s4eqa1mpog1fddvllo8cb3eeec42ve.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.947716773070-q8s4eqa1mpog1fddvllo8cb3eeec42ve</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>947716773070-6jkk8bbsd2c2h17msqrkplff2t27k8ju.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAsJc2U_Noe7nXo2FO8PHbH6Px_Idi2kEk</string>
	<key>GCM_SENDER_ID</key>
	<string>947716773070</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dropItOffUsa</string>
	<key>PROJECT_ID</key>
	<string>drop-it-off-usa</string>
	<key>STORAGE_BUCKET</key>
	<string>drop-it-off-usa.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:947716773070:ios:49d2a5f237c05571acac9f</string>
</dict>
</plist>