<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>795513898950-vjbigpk4n4vlaqd5vsn2ta1e34d833gg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.795513898950-vjbigpk4n4vlaqd5vsn2ta1e34d833gg</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>795513898950-8tk1asp03okvefjg4im6ius0om56veda.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCTJ3LM6UkNlIXEmWjuBlHAsYPDbWb6MwI</string>
	<key>GCM_SENDER_ID</key>
	<string>795513898950</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.pAS41</string>
	<key>PROJECT_ID</key>
	<string>pas41-1cc3c</string>
	<key>STORAGE_BUCKET</key>
	<string>pas41-1cc3c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:795513898950:ios:6e7e8ce0f2b69587d894c7</string>
</dict>
</plist>