#include "Pods/Target Support Files/Pods-available_pods-PAS41/Pods-available_pods-PAS41.release.xcconfig"

PROJECT_APPLE_ID = 1619493686
PROJECT_BUNDLE_ID =com.pAS41
PROJECT_APP_VERSION = 1.0
PROJECT_BUILD_NUMBER = 6
PROJECT_APP_NAME = PAS41
PROJECT_GOOGLE_CLIENT_ID =795513898950-vjbigpk4n4vlaqd5vsn2ta1e34d833gg.apps.googleusercontent.com
PROJECT_GOOGLE_REVERSE_CLIENT_ID =com.googleusercontent.apps.795513898950-vjbigpk4n4vlaqd5vsn2ta1e34d833gg
PROJECT_FACEBOOK_ID = 718772029474625
PROJECT_TWITTER_ID = twitterkit-R66DHARfuoYAPowApUxNxwbPi
PROJECT_PLIST =PAS41Info
PROJECT_GOOGLE_PLACE_KEY = AIzaSyB85kLYYOmuAhBUPd7odVmL6gnQsSGWU-4
