#include "Pods/Target Support Files/Pods-available_pods-CarHop/Pods-available_pods-CarHop.debug.xcconfig"


PROJECT_APPLE_ID = 1582784867
PROJECT_BUNDLE_ID = com.carhop
PROJECT_APP_VERSION = 1.0
PROJECT_BUILD_NUMBER = 2
PROJECT_APP_NAME = CarHop
PROJECT_GOOGLE_CLIENT_ID =566653141302-farg5b13v2kebgj68g4enpqvhma97vi7.apps.googleusercontent.com
PROJECT_GOOGLE_REVERSE_CLIENT_ID = com.googleusercontent.apps.566653141302-farg5b13v2kebgj68g4enpqvhma97vi7
PROJECT_FACEBOOK_ID = 519339999139280
PROJECT_TWITTER_ID = twitterkit-R66DHARfuoYAPowApUxNxwbPi
PROJECT_PLIST = CarHopInfo
PROJECT_GOOGLE_PLACE_KEY = AIzaSyB85kLYYOmuAhBUPd7odVmL6gnQsSGWU-4
