<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>566653141302-farg5b13v2kebgj68g4enpqvhma97vi7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.566653141302-farg5b13v2kebgj68g4enpqvhma97vi7</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>566653141302-ng4aqd21ec183dqbcenrnihorun3f15p.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyByrcd-OVv9YRYQBOMboxnK7M_Rx09jPaE</string>
	<key>GCM_SENDER_ID</key>
	<string>566653141302</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.carhop</string>
	<key>PROJECT_ID</key>
	<string>car-hop-e6fa4</string>
	<key>STORAGE_BUCKET</key>
	<string>car-hop-e6fa4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:566653141302:ios:586041e4bf07e74461f397</string>
</dict>
</plist>