<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>262315186133-obepmlgfej05sfposbli7ms5cumg45mm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.262315186133-obepmlgfej05sfposbli7ms5cumg45mm</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>262315186133-dhplroers1esidghnnalnm0u8vhv77om.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBdbTvU78yWYUuoQhB86mX8nuIXBKDqbGA</string>
	<key>GCM_SENDER_ID</key>
	<string>262315186133</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.zynoapp.royoorders</string>
	<key>PROJECT_ID</key>
	<string>zyno-app</string>
	<key>STORAGE_BUCKET</key>
	<string>zyno-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:262315186133:ios:f2a9b74fba85e71b39cf5c</string>
</dict>
</plist>