#include "Pods/Target Support Files/Pods-available_pods-Arwin/Pods-available_pods-Arwin.release.xcconfig"

PROJECT_APPLE_ID = 1620870166
PROJECT_BUNDLE_ID = com.arwin
PROJECT_APP_VERSION = 1.0
PROJECT_BUILD_NUMBER = 1
PROJECT_APP_NAME = Arwin
PROJECT_GOOGLE_CLIENT_ID = 782386951690-qokr0l3rsuvvll2e9fu8egvmglf7srr0.apps.googleusercontent.com
PROJECT_GOOGLE_REVERSE_CLIENT_ID = com.googleusercontent.apps.782386951690-qokr0l3rsuvvll2e9fu8egvmglf7srr0
PROJECT_FACEBOOK_ID = 700916781104865
PROJECT_TWITTER_ID = twitterkit-R66DHARfuoYAPowApUxNxwbPi
PROJECT_PLIST =ArwinInfo
PROJECT_GOOGLE_PLACE_KEY = AIzaSyB85kLYYOmuAhBUPd7odVmL6gnQsSGWU-4

