<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>459562959416-gk3tqm2a88ie21797q69rjvqq9nh69sa.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.459562959416-gk3tqm2a88ie21797q69rjvqq9nh69sa</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>459562959416-2hdgp2pfo3qlh20shi82rneu0tu69leb.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBWv20aSLblcn6kga8Gg26CgPdBby1M5nw</string>
	<key>GCM_SENDER_ID</key>
	<string>459562959416</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.pinkjet</string>
	<key>PROJECT_ID</key>
	<string>pinkjet-9df47</string>
	<key>STORAGE_BUCKET</key>
	<string>pinkjet-9df47.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:459562959416:ios:7aeb98546fd9694e4edccd</string>
</dict>
</plist>