<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>88949604425-b98bkplnu54a955aq4fjddl8i4kgrfhu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.88949604425-b98bkplnu54a955aq4fjddl8i4kgrfhu</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>88949604425-9oi8k7i7obuki2s2psrgj61b68lf4r1d.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBC560eXa_F2gKSVkMRvTOeSuwNMY7IXVE</string>
	<key>GCM_SENDER_ID</key>
	<string>88949604425</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jimsautorescue.royoorders</string>
	<key>PROJECT_ID</key>
	<string>jim-s-auto-rescue</string>
	<key>STORAGE_BUCKET</key>
	<string>jim-s-auto-rescue.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:88949604425:ios:10c9ec94ffaf97882abf98</string>
</dict>
</plist>